{% extends "dashboard/credit_editor/credits/base.html" %}

{% block tabclass %}class='tab2'{% endblock %}

{% block tab_content %}
    <form id='field-ordering-form' action='.' method='POST'>
        <table class='form' id='dndtable'>
            {% include "dashboard/credit_editor/credits/field_ordering.html" %}
        </table>
    </form>
    <div class='new_form collapsed'>
        <span style='cursor: pointer' onclick='expand_collapse_parent(this);' title='Add Reporting Field'>
            <img src='/media/static/images/expand.png' title='Add Reporting Field' alt='+' />
            Add Reporting Field
        </span>
        <form action='{{ credit.get_edit_url }}add-field/' method='POST' style='margin: 0px;'>
            <div class='form'>
                {% include 'dashboard/credit_editor/standard_form.html' %}
            </div>
        </form>
    </div>
{% endblock %}