{% extends "dashboard/credit_editor/credits/fields.html" %}

{% block crumbs %}
    {% load ce_tags %}
    {% show_editor_crumbs field %}
{% endblock %}

{% block header %}{{ credit.get_identifier }}: Edit Documentation Field{% endblock %}

{% block tab_content %}
    <table border='0' width='98%'>
        <tr>
            <td align='left'>
                <a href='{{ credit.get_edit_url }}fields/'>&lt; back to field list</a>
            </td>
            <td align='right'>
                <a href='{{ credit.get_edit_url }}add-field/'>add another field &gt;</a>
            </td>
        </tr>
    </table><br/>
    <div id='dfAppearance'>
        <table class='form'>
            <tr>
                <td> {% show_field_form field %} </td>
            </tr>
        </table>
    </div>
    <h2>Properties</h2>
  <div style="position:relative;">
    <form action='.' method='POST'>
        {% include 'dashboard/credit_editor/standard_form_with_delete.html' %}
    </form>

    <div id='field_choices' class={% if show_choices %}'visible'{% else %}'hidden'{% endif %}>
        <span class='title' style='cursor: pointer' onclick='expand_new_form(this)' title='Choices'>
            <img src='/media/static/images/expand.png' title='Edit Choices' alt='+' />
            Choices
        </span>
        <div class='form' id='new_form' style='display:none'>
            {% if object_ordering %}
              <form action='{{ field.get_edit_url }}reorder-choices/' method='POST'>
                <table class='list' id='dndtable'>
                    {% include 'dashboard/credit_editor/ordering_form_table.html' %}
                </table>
              </form>
            {% endif %}
           <form action='{{ field.get_edit_url }}add-choice/' method='POST' style='margin: 0px;'>
              <table style="border:1px solid #222222;"><tr><td>
                {% if new_choice_form.choice.errors %}{{ new_choice_form.errors.choice }}<br/>{% endif %}
                <label>Add Choice:</label>
                {{ new_choice_form.choice }}
                <input type='submit' value='Add' />
              </td></tr></table>
           </form>
        </div>
        {% if expand_choices %}
          <script>
            expand_new_form(document.getElementById('field_choices'));
          </script>
        {% endif %}
    </div>
  </div>
{% endblock %}