{% extends "dashboard/credit_editor/credits/fields.html" %}

{% block header %}{{ credit.get_identifier }}: New Documentation Field{% endblock %}

{% block tab_content %}
    <table border='0' width='98%'>
        <tr>
            <td align='left'>
                <a href='{{ credit.get_edit_url }}fields/'>&lt; back to field list</a>
            </td>
        </tr>
    </table>
    <form class='orderform' method='POST' action='.'>
        {% include 'dashboard/credit_editor/standard_form.html' %}
    </form>
{% endblock %}