{% extends 'tool/admin/institutions/base.html' %}

{% block institution_content %}
     {% block subsubmenu %}
        <ul id='subsubmenu'>
            <li class='active'><a href='/tool/admin/list'>Manage STARS Institutions</a></li>
            <li><a href='/tool/admin/search'>Search AASHE Institutions</a></li>
        </ul>
    {% endblock %}
    <div class='help_note'> <span class='help_text'>
      <p>Lists most recently registered Submission for ALL institutions currently participating in STARS.</p>
      <ul>
        <li>Click institution name to <strong>Masquerade</strong>, and edit / view the insititutions STARS data.</li>
        <li>Click <img src='/media/static/images/money.png'> for payment processing for this institution.</li>
        <li>Enable or Disable institutions - be sure to 'Save' your changes.</li>
      </ul>
    </span></div>
    {% load help %}
    {% load submit_tags %}
    <form method='POST' action='.'>
      <table id="institution-list" style='padding:10px;'>
        <tr><th colspan=3>Institution</th><th colspan=4>Latest Submission</th><th rowspan=2>Admin<br>Tools</th>
        <tr><th colspan=3 style="text-align:left">Enabled {% show_help_text enable_help_text%}</th> <th>Version</th><th>Registered</th><th>Due</th><th>Progress</th></tr>
	    {% for institution in institution_list %}
          <tr{% cycle ' class="odd"' ''%}>
	        <td>
	            {{ forloop.counter }}
	        </td>
            <td> 
              {% for field in institution.enable_form %}
                {{ field|safe }}
              {% endfor %}
            </td>
            <td>
              <a href='{{ institution.get_masquerade_url }}'>{{ institution }}</a>
                 {% if not institution.enabled %}
                   <span title="This institution is not enabled!"><font color='red'>*</font></span>
                 {% endif %}
            </td>
            {% if institution.submission_set %}
                <td> ({{ institution.submission_set.creditset }}) </td>
                <td> {{ institution.submission_set.date_registered }} </td>
                <td> ({{ institution.submission_set.submission_deadline }}) </td>
	            <td>
	              {% if institution.submission_set.get_percent_complete %} 
	                 {% show_progress_icon institution.submission_set.get_percent_complete %}
	              {% else %}
	                -
	              {% endif %}
	            </td>
            {% else %}
                <td colspan=4 align='center'> - </td>
            {% endif %}
            <td align='center'>
              <a href='{{ institution.get_admin_payments_url }}' title='Manage payments for this institution'>
                <img src='/media/static/images/money.png' >
              </a>
            </td>
          </tr>
	    {% endfor %}
      </table>
      <button type='submit'>Save</button>
    </form>
{% endblock %}