{% extends 'tool/admin/institutions/base.html' %}

{% load content %}

{% block institution_content %}
    {% block subsubmenu %}
    {% endblock %}
    {% load help %}
    {% load submit_tags %}
      <table id="institution_list" class='table'>
        <tr>
          <th></th>
          {% for col in sort_columns %}
            <th>
                {% ifequal col.key sort_key %}
                    <a href='?sort={{ rev }}{{ col.key }}' title='sort'>{{ col.title }}</a>
                    <img src='/media/static/images/{% ifequal rev '-' %}sort_desc.png{% else %}sort_asc.png{% endifequal %}' alt='^'/>
                {% else %}
                    <a href='?sort={{ col.key }}' title='sort'>{{ col.title }}</a>
                {% endifequal %}
            </th>
          {% endfor %}
        </tr>
        {% for i in object_list %}
          <tr class="{% cycle 'even' 'odd' %}">
            <td>{{ forloop.counter }}</td>
            <td style='text-align: left'>
                <a href='{{ i.get_masquerade_url }}'>{{ i }}</a>
            </td>
            <td>
              {% if i.current_rating %}
                <a href='{{ i.rated_submission.get_scorecard_url }}'>{{ i.current_rating }}</a>
              {% endif %}
            </td>
            <td>
              {% if i.current_submission %}
                {{ i.current_submission.creditset.version }}
              {% else %}
                no current submission
              {% endif %}
            </td>
            <td>
              {{ i.access_level }}
            </td>
            <td>
              {% if i.contact_email %}
                {{ i.contact_email }}
              {% endif %}
            </td>
            <td>
              {% if i.rated_submission %}
                {{ i.rated_submission.date_submitted }}
              {% endif %}
            </td>
            <!-- <td>
              {% if i.current_subscription %}
                {{ i.current_subscription.start_date }} -
                {{ i.current_subscription.end_date }}
              {% endif %}
            </td> -->
          </tr>
        {% endfor %}
      </table>
{% endblock %}

{% block tab_footer %}
  {% display_block_content 'data_use_guidelines_message' %}
{% endblock %}
