{% if settings_context.analytics_id %}
{% load compress %}
{% compress js %}
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '{{ settings_context.analytics_id }}']);
 		  _gaq.push(['_setDomainName', '.aashe.org']);
	  _gaq.push(['_trackPageview']);
	  {% if user.is_authenticated %}
	  _gaq.push(['_setCustomVar',
	             1,
	             'Authenticated User',
	             'Yes',
	             2
	          ]);
	  {% endif %}
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
	  })();
	
	</script>
{% endcompress %}
{% endif %}
