{% comment %}
    Lays out a model form with the name object_form as a table with help text formatted as a tooltip.
{% endcomment %}

{% load help %}
{% for field in object_form %}
   	{% if field.field.required %}<span class="required_note" title="required">*</span>{% endif %}
    {{ field.label_tag }}&nbsp;
    {% if help_inline %}
        {% show_help_text field.help_text 0 %}
    {% else %}
        {% show_help_text field.help_text %}
    {% endif %}
    <br/>
    {{ field.errors }}
    {{ field|safe }}
    <br/><br/>
{% endfor %}
 
