<ul id='mainMenu'> 
	<li {% if selected == "mm_tool" %}class='current'{% endif %}>
		<a href='/tool/'>Reporting Tool</a>
	</li> 
	<li {% if selected == "news-events" %}class='current'{% endif %}>
		<a href='/pages/news-events/'>News &amp; Events</a>
	</li> 
	<li {% if selected == "mm_institutions" %}class='current'{% endif %}>
		<a href='/institutions/data-displays/dashboard/'>STARS Institutions</a>
		</li> 
	<li {% if selected == "get-involved" %}class='current'{% endif %}>
		<a href='/pages/get-involved/'>Get Involved</a>
		</li> 
	<li {% if selected == "about" %}class='current'{% endif %}>
		<a href='/pages/about/'>About</a>
	</li>
</ul>