<ul class="nav main-menu">
    <li {% if selected == "register" %}class='active'{% endif %}>
        <a href='/pages/register/'>Register</a>
    </li>
    <li {% if selected == "get-organized" %}class='active'{% endif %}>
        <a href='/pages/get-organized/'>Get Organized</a>
    </li>
    <li {% if selected == "mm_tool" %}class='active'{% endif %}>
        <a href="{% url 'tool:tool-landing-page' %}">Report</a>
    </li>
    <li {% if selected == "submit" %}class='active'{% endif %}>
        <a href='/pages/submit/'>Submit</a>
    </li>
    <li {% if selected == "celebrate" %}class='active'{% endif %}>
        <a href='/pages/celebrate/'>Celebrate</a>
    </li>
</ul>
