{% extends 'base.html' %}

{% block main_menu %} 
    {% load main_menu %}
    {% show_main_menu user "tool" %} 
{% endblock %}

{% block crumbs %}
    {% if user.current_inst %}
        <a href='/tool/'>{{ user.current_inst }}</a>
    {% else %}
        <a href='/tool/'>Dashboard</a>
    {% endif %}
{% endblock %}

{% block submenu %}
    <ul id='submenu' {% block submenu_class %}{% endblock %}>
        <!-- <li id='sm_account'><a href='#'>My Account</a></li>-->
        <li id='sm_sub'><a href='/tool/submissions/'>My Submission</a></li>
        {% if user.can_admin %}
            <li id='sm_inst'><a href='/tool/manage/'>Manage Institution</a></li>
        {% endif %}
        <!-- <li id='sm_submissions'><a href='#'>Process Submissions</a></li> -->
        {% if user.is_staff %}
            <li id='sm_admin'><a href='/tool/admin/'>Administer Site</a></li>
            <li id='sm_ce'><a href='/tool/credit-editor/'>Credit Editor</a></li>
        {% endif %}
    </ul>
{% endblock %}
