{% extends 'base.html' %}

{% load thumbnail %}
{% load help %}

{% block title %}Reporting Tool | {{ block.super }}{% endblock %}

{% block main_menu %}
  {% with selected="mm_tool" %}
    {% include 'helpers/main_menu.html' %}
  {% endwith %}
{% endblock %}

{% block crumbs %}
  <ul class="breadcrumb">
    <li>
      <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="{% url 'tool:tool-landing-page' %}">
        Reporting
      </a>
      <span class="divider">/</span>
    </li>
    {% block crumbs-tool %}{% endblock %}
  </ul>
{% endblock %}

{% block content %}
  {% include "terms/modal_container.html" %}

  <div class='row'>
    <div class='span3'>
      {% block tool_menu %}
        {% include "tool/menu.html" %}
      {% endblock %}
      {% block left_nav %}{% endblock %}
    </div>
    <div class='span9'>
      {% if institution %}
        <h1>{{ institution }}</h1><br/>
      {% endif %}
      {% block tool_content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block extra_footer %}
  {% include "terms/modal_js.html" %}
{% endblock %}
