{% load logical_rules_tags %}


<div class="list-group">
    {% comment %}
        The 'My Summary', 'My Submission', 'My Resources', and 'My Reports(s)'
        menu items are only shown when an instituion is available.  This
        is almost always, but not quite; /tool/admin, for example, lacks
        an institution.slug.

        Since the 'My ...' menu items act on an institution, it doesn't
        hurt to hide them when no institution is available.  In fact,
        errors will be raised if '{% url ... instutition.slug %}' is
        called when no institution is available.
    {% endcomment %}


    {% if institution %}
        {% testrule user_has_access_level user 'admin' institution %}
        <a href="{% url 'tool:tool-summary' institution.slug %}"
            class="list-group-item list-group-item-action {% if active_menu == 'summary'%}active{% endif %}">
            <i class="fa fa-home"></i>
                My Summary
        </a>
        {% endtestrule %}
        {% testrule user_has_access_level user 'submit' institution %}
        <a href="{% url 'tool:my_submission:submission-summary' institution.slug institution.current_submission.id %}"
            class="list-group-item list-group-item-action {% if active_menu == 'submission' %} active{% endif %}">
            <i class="fa fa-folder-open"></i>
              My Submission
          </a>
            {% block submission_outline %}{% endblock %}
        {% endtestrule %}
        {% testrule user_has_access_level user 'view' institution %}
        <a href="{{ institution.current_submission.get_scorecard_url }}"
            class="list-group-item list-group-item-action {% if active_menu == 'preview' %}active{% endif %}">
            <i class="fa fa-eye"></i>
                Preview Submission
        </a>
        {% endtestrule %}
        <a href="{% url 'tool:my_resources:my-resources' institution.slug %}"
        class="list-group-item list-group-item-action {% if active_menu == 'resources'%}active{% endif %}">
            <i class="fa fa-briefcase"></i>
                My Resources
        </a>
        {% if institution.latest_expired_submission or institution.rated_submission %}
        <a href="/institutions/{{ institution.slug }}/report/"
            class="list-group-item list-group-item-action {% if active_menu == 'reports'%}active{% endif %}">
            <i class="fa fa-book"></i>
                My Published Report(s)
        </a>
        {% endif %}
        {% testrule user_has_access_level user 'admin' institution %}
        <a href="{% url 'tool:settings' institution.slug %}"
            class="list-group-item list-group-item-action {% if active_menu == 'settings'%}active{% endif %}">
            <i class="fa fa-wrench"></i>
                Settings
        </a>
        {% endtestrule %}
    {% endif %}
    {% if user.is_staff %}
        <a href="/tool/admin/"
            class="list-group-item list-group-item-action {% if active_menu == 'admin'%}active{% endif %}">
            <i class="fa fa-cog"></i>
                Administer Site
        </a>
        <a href="/tool/credit-editor/"
            class="list-group-item list-group-item-action {% if active_menu == 'editor'%}active{% endif %}">
            <i class="fa fa-pencil"></i>
                Credit Editor
        </a>
        {% block credit_editor_outline %}{% endblock %}
    {% endif %}
</div>
