{% extends 'tool/base.html' %}

{% block content %}

  {% comment %}
    Using 'btn-toolbar' classifications below so the sparse text
    on this page will be set off from the page header and footer.
    This is an example of the practical, unsentimental, unsemantic
    web.
  {% endcomment %}

  <div class='row span9 btn-toolbar' id='main-text'>
    <p class='btn-toolbar'>
      Your AASHE Account has not been granted access to any institution
      using the STARS Reporting Tool.
    </p>
    <p class='btn-toolbar'>
      {% if institution and institution.is_participant %}
        The STARS Liaison for
        {% if liaison_name %}
          {{ institution.name }}, {{ liaison_name }},
        {% else %}
          {{ institution.name }}
        {% endif %}
        can grant you can grant you access;  please contact him
        or her.
        {% if liaison_email %}
          Our records indicate that
          {% firstof liaison_name "your liaison"%}
          can be contacted by email at {{ liaison_email }}.
        {% endif %}
      {% else %}
        {% if institution %}
          Your institution{% if institution.name %}, {{ institution.name }},{% endif %}
          isn't currently registered as a STARS
          participant. Only institutions that are currently registered
          as STARS Participants are allowed access to the Reporting
          Tool.
        {% else %}
          Please contact your STARS Liaison to request access, or contact
          <a href="mailto:stars@aashe.org">stars@aashe.org</a> for more
          information.
        {% endif %}
      {% endif %}
    </p>
  </div>

{% endblock %}
