{% extends 'tool/base.html' %}

{% block crumbs-tool %}Select Institution{% endblock %}

{% block content %}

  <div class='span10 offset2'>

    <div class='row'>
      <h2>
        Please select an institution
      </h2>
    </div>

    <p/>

    <div class='row'>
      <table id='institution-list' class='table table-hover'>
        <tbody>
          {% for stars_account in object_list %}
            <tr>
              <td>
                {% if not stars_account.next_url %}
                  <a href="{% url 'tool:tool-summary' stars_account.institution.slug %}">
                {% else %}
                  <a href='{{ stars_account.next_url }}'>
                {% endif %}
                  {{ stars_account.institution.name }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

  <script>
    jQuery( function($) {
      $('tbody tr').addClass('clickable').click( function() {
        var href = $(this).find('a').attr('href')
        if(href) {
            window.location = href;
        }
      });
    });
  </script>

{% endblock %}
