{% extends 'tool/base.html' %}

{% block content %}

  <div class='span10 offset2'>

    <div class='row'>
      <h2>
        Please select an institution
      </h2>
    </div>

    <p/>

    <div class='row'>
      <table id='institution_list' class='table table-hover'>
        <tbody>
          {% for stars_account in object_list %}
            <tr>
              <td>
                <a href='{% url tool-summary stars_account.institution.slug %}'>
                  {{ stars_account.institution.name }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

  <script>
    jQuery( function($) {
      $('tbody tr').addClass('clickable').click( function() {
        var href = $(this).find('a').attr('href')
        if(href) {
            window.location = href;
        }
      });
    });
  </script>

{% endblock %}
