{% extends "tool/base.html" %}

{% load bootstrap %}

{% block title %} {{ block.super }} | Settings {% endblock %}

{% block crumbs-tool %}<li>Settings</li>{% endblock %}

{% block header %}Settings{% endblock %}

{% block tool_menu %}
  {% with active_menu='resources'%}
    {% include "tool/menu.html" %}
  {% endwith %}
{% endblock %}

{% block tool_content %}
  <form method="post" action="." class="form-horizontal">

    {{ form|bootstrap }}

    <div class="form-actions">
      <button type="submit"
              id="submit_button"
              class="btn btn-primary">
        Save
      </button>
      <button type="button"
              class="btn"
              onclick="document.location='{% url 'tool:tool-summary' institution.slug %}'">
        Cancel
      </button>
    </div>

  </form>
{% endblock %}
