{% extends 'tool/manage/base.html' %}

{% load thumbnail %}
{% load logical_rules_tags %}
{% load content %}
{% load help %}
{% load compress %}

{% block tabs %}
  {% with active_tab="summary" %}{{ block.super }}{% endwith %}
{% endblock %}

{% block crumbs-tool %}
  <li>My Summary</li>
{% endblock %}

{% block extra_head %}
  {{ block.super }}
  {% compress js %}
    <script src='/media/static/js/listexpander.js' type='text/javascript'>
    </script>
  {% endcompress %}
  {% compress css %}
    <link href='/media/static/css/listexpander.css' rel='stylesheet'
          type='text/css' />
  {% endcompress %}
{% endblock %}

{% block institution_content %}


  {% if not institution.current_subscription.paid_in_full and institution.current_subscription.late %}
    <div class="alert alert-error">
      Payment is late. Your access level has been downgraded to Basic until payment is processed.
    </div>
  {% endif %}

  <div class='row'>
    <div class='span9'>
      <table class='table table-striped table-bordered table-condensed'
             style='margin: 40px 0px;'>
        <thead>
          <tr>
            <th>Institution Name</th>
            <th>Access Level</th>
            {% if institution.current_rating %}
              <th>Current Rating</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ institution }}</td>
            <td>
              {% if institution.is_participant %}
                <span class='label label-success'>
                  Full
                </span>
                <br/>
              {% else %}
                <span class='label label-important'>
                  Basic
                </span>
              {% endif %}
            </td>
            {% if institution.current_rating %}
              <td>{{ institution.current_rating }}</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class='row'>

    <div class='{% if rating_list %}span5{% else %}span9{% endif %}'>

      <h3>STARS Full Access Subscriptions</h3>
      <table class='table'>
        <thead>
          <tr>
            <th colspan='2'>Subscription Period</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        {% with institution.subscription_set.all as subs %}
          {% if subs %}
            {% for s in subs %}
              {% if s.access_level == s.FULL_ACCESS %}
                <tr class="{% cycle 'even' 'odd' %}">
                  <td align='left'>
                    {{ s.start_date }} -
                    {{ s.end_date }}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% else %}
            <tr>
              <td>No Subscriptions</td>
            </tr>
          {% endif %}
        {% endwith %}
        </tbody>
      </table>
      {% testrule user_has_access_level user 'admin' institution %}
        <a href='https://customer2597942ba.portal.membersuite.com/Login.aspx'
           class='btn btn-primary'>
          {% if not institution.is_participant %}
            Upgrade to Full Access
          {% else %}
            Purchase a Full Access Subscription
          {% endif %}
        </a>
      {% endtestrule %}
    </div>

    {% if rating_list %}
      <div class='span4'>
        <h3>Previous Reports</h3>
        <table class='table'>
          <thead>
            <tr>
              <th>Date</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            {% for ss in rating_list %}
              <tr>
                <td>
                  <a href='{{ ss.get_scorecard_url }}'>
                    {{ ss.date_submitted }}
                  </a>
                </td>
                <td>
                  {% if not ss.expired %}
                    {% thumbnail ss.rating.image_large "50x50" as im %}
                    <img src="{{ im.url }}"
                         width="{{ im.x }}"
                         height="{{ im.y }}"
                         alt='{{ ss.rating }}' />
                    {% endthumbnail %}
                    <br/>
                    {{ ss.rating }}
                    {% thumbnail ss.rating.image_large "1650x1650" as large %}
                    <a href='{{ large.url }}' title='Download larger logo'>
                      <i class='icon-download-alt'></i>
                    </a>
                    {% endthumbnail %}
                  {% else %}
                    {{ ss.rating }} - expired
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

  </div>

  <div class='well' style='margin-top: 30px;'>
    {% display_block_content "tool_summary_footer" user %}
  </div>

{% endblock %}
