{% extends 'base.html' %}

{% load bootstrap %}
{% load content %}

{% block title %}{{ block.super }} | {{ form_title }}{% endblock %}

{% block content %}
	<h1>{{ form_title }}</h1>
	{% block top_boilerplate %}
		{% if block_content_slug %}
    		{% display_block_content block_content_slug user %}
    	{% endif %}
	{% endblock %}
	{% block required %}
	{% endblock %}
	<form class='generalForm' method='post' action='.' enctype="multipart/form-data">
	  	{{ form|bootstrap }}
	  	<div class='form-actions'>
	   		<button type='submit' class='btn btn-success'>Submit</button>
	   	</div>
	</form>
	{% block bottom_boilerplate %}
		<p style='text-align: center'>Please email <a href='mailto:stars@aashe.org'>stars@aashe.org</a> with questions about this form or the STARS program.</p>
	{% endblock %}
{% endblock %}
