{% extends 'base.html' %}

{% block title %}{{ block.super }} | {{ form_title }}{% endblock %}

{% block content %}
    <div class='inner20'>
        <h1>{{ form_title }}</h1>
        <div style="font-size: .9em;padding:10px;">
            <span class="required_note" title="This field is required to complete credit">*</span>
            Required Fields
        </div>
        <form class='generalForm' method='post' action='.' enctype="multipart/form-data">
            <table>
                {% include 'helpers/label_above_input_form.html' %}
            </table>
            <div class='button_row'><button type='submit'>Submit</button></div>
        </form>
    </div>
{% endblock %}