*.pyc
.coverage
/export
.DS_Store
.DS_Store?
.envrc
htmlcov
ghostdriver.log
celerybeat-schedule
celerybeat.pid
stellar.yaml
\#*\#
*.flymake.py
.idea
*~undo-tree~
.python-version

export.zip
.ignore
*.ipynb
