{% extends 'tool/manage/account_base.html' %}

{% load bootstrap %}
{% load content %}

{% block help_content %}
    {% display_block_content help_content_name user %}
{% endblock help_content %}

{% block institution_content %}
    <form method='post' action='.' class='form-horizontal'>
        {{ form|bootstrap }}
        {% comment %}
            Adding 'control-group' and 'controls' divs around the
            notify-form.notify_users checkbox keeps it aligned with
            the elements of the bootstraped form.  Can't just bootstrap
            notify_form.notify_users here, since that drags in the
            label from the model, which we want to replace with the
            'Notify user by e-mail . . . ' text below.
        {% endcomment %}
        <div class='control-group'>
            <div class='controls'>
                {% if creating_new_account %}
                    {{ notify_form.notify_users }}
                    <span class='help'>
                        Notify user by e-mail of new STARS account.
                    </span>
                {% endif %}
            </div class='control'>
        </div class='control-group'>
        <div class='form-actions'>
            <button
                type='submit'
                id='submit_button'
                class='btn btn-primary'>
                    Save
            </button>
            <button
                type='button'
                class='btn'
                onclick="document.location='{% url 'tool:manage:account-list' institution.slug %}'">
                    Cancel
            </button>
        </div>
    </form>
{% endblock %}
