{% extends 'tool/manage/submissionset_base.html' %}

{% block crumbs %} {{ block.super }} &gt; Add Submission Set{% endblock %}

{% block institution_content %}
    <h2>Add Submission Set</h2>
    {% if not user.current_inst.starsaccount_set.all %}
        <p>You must <a href="{% url 'tool:manage:account-create' institution.slug %}">add</a>
           at least one user to this institution before you can create a
           submission set.
        </p>
    {% else %}
        <form method='post' action='.'>
        <table class='form'>
            {{ object_form }}
            <tr>
                <td>
                    <button type='submit'>Submit</button>
                </td>
            </tr>
        </table>
        </form>
    {% endif %}
{% endblock %}
