{% extends 'tool/manage/migrate_submissionset.html' %}

{% load aashe_rules_tags %}
{% load content %}
{% load bootstrap %}

{% block institution_content %}

	<div class='row'>
		<div class='span9'>
			<h1>Version Migration</h1>
		</div>
	</div>
	<div class='row'>
		<div class='span5 offset2'>
			<div class='alert alert-info' style='text-align: center;>
				{{ current_submission.creditset }}
				<i class='icon-arrow-right icon-white'></i>
				{{ latest_creditset }}
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='span9'>
    		{% display_block_content 'version_migration_warning' user %}
    		
    		<form method='post' action='.'>
    			{{ object_form|bootstrap }}
    			<div class='form-actions'>
    				<button type='submit' class='btn btn-success'>Migrate Version</button>
    				<a href='/tool/manage/migrate/' class='btn'>Cancel</a>
    			</div>
    		</form>
		</div>
	</div>
{% endblock %}
