{% extends 'tool/tool.html' %}

{% load bootstrap %}

{% block crumbs-tool %}<li>Make Payment</li>{% endblock %}

{% block institution_content %}
    <h2>Pay Your Amount Due</h2>
    <form method='post' action='.'>
    
    <table>
      <tr>
        <th>Amount:</th>
        <td>${{ amount|floatformat:2 }}</td>
      </tr>
    </table>
    <br/>
    <div class='secure'>
      <table class='form' id='pay_form'>
          {{ pay_form|bootstrap }}
      </table>
      <div class='form-actions'>
            <button type='submit' class='btn btn-success'>
            	<i class='icon-lock icon-white'></i>
            	Purchase Subscription</button>
      </div>
    </div>
    </form>
{% endblock %}
