{% extends 'tool/manage/submissionset_base.html' %}

{% block crumbs %} {{ block.super }} &gt; Pay{% endblock %}

{% block institution_content %}
    <h2>Pay Your Amount Due</h2>
    <form method='post' action='.' class='generalForm'>
    
    <table>
      <tr>
        <th>Amount:</th>
        <td>${{ amount|floatformat:2 }}</td>
      </tr>
    </table>
    <br/>
    <div class='secure'>
      <table class='form' id='pay_form'>
          {{ pay_form }}
      </table>
      <div class='button_row'>
            <button type='submit'>Make Payment</button><br/><br/>
            Secure Checkout:
            <img src="/media/static/images/lock.png" alt="SSL" style="vertical-align: top">
      </div>
    </div>
    </form>
{% endblock %}
