{% extends 'tool/manage/base.html' %}

{% block crumbs %} {{ block.super }} &gt; Reciepts {% endblock %}

{% block tabclass %}class='tab4'{% endblock %}

{% block institution_content %}
     <table class='headed_list'>
       <tr>
           <td class='header' colspan='8'>Payment History</td>
       </tr>
       <tr>
           <th colspan=2>Submission Set</th>
           <th>Amount</th>
           <th colspan=2>Paid by</th>
           <th>Date</th>
           <th>Confirmation</th>
           {% if user.is_staff %}
             <th></th>
           {% endif %}
       </tr>
       {% comment %} This should use base_edit_list, currently defined in credit_editor {% endcomment %}
       {% for payment in payment_list %}
       <tr>
           <td>{{ payment.submissionset }}</td>
           <td>{{ payment.get_reason_display }}</td>
           <td>${{ payment.amount|floatformat:2 }}</td>
           <td>{{ payment.user }}</td>
           <td>({{ payment.get_type_display }})</td>
           <td>{{ payment.date }}</td>
           <td>{{ payment.confirmation }}</td>
           {% if user.is_staff %}
             <td class='buttonColumn'>
               <a href='{{ payment.get_edit_url }}'>
                   <img src='/media/static/images/page_edit.png' alt='edit' title='edit' />
               </a>
               <a href='{{ payment.get_delete_url }}'>
                   <img src='/media/static/images/delete.png' alt='delete' title='delete' />
               </a>
             </td>
           {% endif %}
       </tr>
       {% endfor %}
    </table>
    {% if user.is_staff %}
	    <div class='new_form collapsed'>
	        <span style='cursor: pointer' onclick='expand_collapse_parent(this);' title='Add Payment'>
	            <img src='/media/static/images/expand.png' title='Add Payment' alt='+' />
	            Add Payment
	        </span>
            {% if new_payment_form %}
		        <form action='{{ new_payment_url }}' method='POST' style='margin: 0px;'>
			      <table class='form'>
	                {{ new_payment_form }}
			        <tr>
			            <td class='buttonRow'>
		                  <input type='submit' value='submit' />
		                </td>
		            </tr>
		          </table>
		        </form>
            {% else %}
               <div>You must <a href='/tool/manage/submissionsets/'>add</a> a submission set for this institution before you can create a payment.</div>
		    {% endif %}
	    </div>
    {% endif %}
{% endblock %}

{% block help_content %}
    {% load help %}
    {% show_help_context 'manage_payments' 0 %}
{% endblock %}
