{% extends 'tool/manage/base.html' %}

{% block tabs %}
    {% with active_tab="rps" %}{{ block.super }}{% endwith %}
{% endblock %}

{% block crumbs-tool %}<li>Responsible Parties</li>{% endblock %}

{% block institution_content %}

<div class="col-10">


    {% if not object_list %}
        <p>
          No responsible parties yet.
          <a href="{% url 'tool:manage:responsible-party-create' institution.slug %}">
            Add one</a>.
        </p>
    {% else %}
        <table class='table'>
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Title</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            {% for rp in object_list %}
                <tr>
                    <td>{{ rp.first_name }} {{ rp.last_name }}</td>
                    <td>{{ rp.title }}</td>
                    <td>{{ rp.email }}</td>
                    <td class='buttonColumn'>
                        <a href="{% url 'tool:manage:responsible-party-edit' institution.slug rp.id %}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="{% url 'tool:manage:responsible-party-delete' institution.slug rp.id %}">
                            <i class='fa fa-trash'></i>
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'tool:manage:responsible-party-create' institution.slug %}"
           class='btn btn-primary'>
            Add a Responsible Party
        </a>
    {% endif %}
    </div>

{% endblock %}

{% block help_content %}
    {% load content %}
    {% display_block_content "responsible_parties" user %}
{% endblock %}
