{% if not credit_list %}
<p>This Responsible Party has not been assigned to any Credits yet.</p>
{% else %}
<table class='table'>
	<thead>
  <tr>
    <th>Subcategory</th>
    <th>Credit</th>
    <th>STARS Version</th>
  </tr>
  </thead>
  <tbody>
  {% for cs in credit_list %}
  <tr class='{% cycle 'even' 'odd' %}'>
    <td style='text-align: left'>
      {{ cs.credit.subcategory }}
    </td>
    <td style='text-align: left'>
      <a href='{{ cs.get_submit_url }}'>{{ cs.credit }}</a>
    </td>
    <td>{{ cs.credit.subcategory.category.creditset.version }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
