{% extends 'tool/manage/share_base.html' %}

{% load content %}
{% load help %}

{% block help_content %}
  {% display_block_content 'third-parties' user %}
{% endblock %}

{% block subtabs %}
  {% with active_tab="third-parties"%}{{ block.super }}{% endwith %}
{% endblock %}

{% block institution_content %}
  <form action='.' method='post'>
    {# @todo: Use the iteration tool available in Django 1.4 when it launches #}

    <table class='table'>
      <thead>
        <tr>
          <th>Organization and Publication</th>
          <th>Opt-in?</th>
        </tr>
      </thead>
      <tbody>
        {% for tp in third_party_list %}
          <tr class="{% cycle 'even' 'odd' %}"
              {% if tp.disabled %}style="color: #888;"{% endif %}>
            <td>
	      {% if tp.name == 'The Princeton Review'%}
		The Princeton Review’s Guide to Green Colleges
	      {% else %}
		Sierra’s Cool Schools Ranking
	      {% endif %}
            </td>
            <td>
              <input  type="checkbox"
                      name="third_parties"
                      value="{{ tp.id }}"
                      id="id_third_parties_{{ forloop.counter0 }}"
                      {% if tp.disabled %}
                        disabled="disabled"
                      {% else %}
                        {% if tp in institution.third_parties.all %}
                          checked="checked"
                        {% endif %}
                      {% endif %}
              />
              {% if tp.help_text %}{% show_help_text tp.help_text %}{% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class='form-actions'>
      <button type='submit' id='submit_button' class='btn btn-primary'>
        Save
      </button>
    </div>
  </form>
{% endblock %}
