{% extends 'tool/manage/submissionset_base.html' %}

{% block institution_content %}
    <table class='greyTable'>
        <tr>
            <th>Credit Set</th>
            <th>Registered</th>
            <th>Status</th>
            <th>
                Active
                {% load help %}
                {% show_help_context 'active_set' %}
            </th>
            <th>Actions</th>
        </tr>
        {% for set in user.current_inst.submissionset_set.all %}
        {% if set.is_visible %}
        <tr class='{% cycle 'odd' 'even' %}'>
            <td>
                {{ set.creditset }}<br/>
                {% if set == active_set and not set.is_rated and is_admin %}
                	{% if set.creditset != latest_creditset and not active_set.is_locked %}
                		<a href='{{ set.get_manage_url }}migrate/' style='text-decoration: none;'>
                			<img src='/media/static/images/arrow_right.png' alt='' style='vertical-align: middle;'/>
                			Move to {{ latest_creditset }}</a>
                		<br/>
                	{% endif %}
                {% endif %}
                {% if user.is_staff %}
                    <br/><a href='{{ set.get_manage_url }}'>Edit</a>
                {% endif %}
            </td>
            <td>{{ set.date_registered }}</td>
            <td>
            	{% if set.is_locked %}
            		Locked
            	{% else %}
	            	{% if not set.missed_deadline %}
		            	{% if set.is_enabled %}
		            		{{ set.get_status }}
		            	{% else %}
		            		<i>Pending Payment</i><br/>
		            		<a href='{{ set.get_manage_url }}pay/'>Pay Now</a>
		            	{% endif %}
		            {% else %}
		            	Deadline Expired
		            {% endif %}

	                {% if set.is_rated %}
	                    <br/><a href='{{ set.get_scorecard_url }}'>Report</a>
	                {% endif %}
	            {% endif %}
            </td>
            <td>
                {% ifequal set active_set %}
                    <img src='/media/static/images/accept.png' alt='active' title='Active Submission'/>
                {% else %}
                    {% if user.can_admin and not set.is_rated %}
                        <a href='{{ set.get_manage_url }}activate/'>Make Active</a>
                    {% endif %}
                {% endifequal %}
            </td>
            <td style='text-align: left'>
                {% if is_admin and not set.missed_deadline %}
                	{% if set == active_set and not set.was_submitted and set.is_enabled %}
                		<a href='{{ set.get_submit_url }}' class='button'>Submit Report</a>
                        <a href='{{ set.get_manage_url }}boundary/' class='button'>Edit Boundary</a>
		                {% if set.can_apply_for_extension %}
		                    <a href='{{ set.get_manage_url }}extension/' class='button'>Extend Deadline</a>
		                {% endif %}
                	{% endif %}
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% comment %}
        {% if user.is_staff %}
        <tr>
            <td colspan='10' style='text-align: center;border-top: 1px solid #aaa;'>
                {% if not user.current_inst.starsaccount_set.all %}
                    <p>
                        You must
                        <a href="{% url 'tool:manage:account-create' institution.slug %}">
                            add
                        </a>
                        at least one user to this institution before you can
                        create a submission set.
                    </p>
                {% else %}
                    <a href='/tool/manage/submissionsets/add/'>Add</a>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endcomment %}
    </table>

    <p style='text-align: center; padding: 10px'>
    	<img src='/media/static/images/add.png' style='vertical-align: middle'/>
    	<a href='/tool/manage/submissionsets/purchase/'>Purchase another Submission Set</a>
    </p>
{% endblock %}
