{% extends 'dashboard/submissions/columned_layout.html' %}

{% block title %} {{ block.super}} | {{ credit }}{% endblock %}

{% block crumbs %} 
    {{ block.super }}
    {% load submit_tags  %}
    {% show_submit_crumbs credit %}
{% endblock %}

{% block header %}{{ credit }}{% endblock %}

{% block center %}
    <table class='headed_list wide'>
        <tr>
            <td class='header' colspan='4'>Summary</td>
        </tr>
        <tr>
            <th>Status</th>
            <th>Last Updated</th>
            <th>Possible Points</th>
            <th>Points Claimed</th>
        </tr>
        <tr>
            <td>{{ credit_submission.get_status_display }}</td>
            <td>{{ credit_submission.last_updated|date:"m/d/y fA" }}</td>
            <td>
                {% load submit_tags %}
                {% format_available_points credit_submission %}
            </td>
            <td>
                {% ifnotequal credit_submission.assessed_points None %}
                    {{ credit_submission.assessed_points }}
                {% endifnotequal %}
            </td>
        </tr>
    </table>

    <ul id="tabnav" {% block tabclass %}class='tab1'{% endblock %}>
		<li class="tab1"><a href="{{ credit_submission.get_submit_url }}documentation/">Credit Info</a></li>
		<li class="tab2"><a href="{{ credit_submission.get_submit_url }}">Reporting Fields</a></li>
        <li class="tab3"><a href="{{ credit_submission.get_submit_url }}notes/">Internal Notes</a></li>
	</ul>
	<div id='tabcontent'>
        {% block tab_content %}
        {% endblock %}
    </div>
{% endblock %}