{% extends 'dashboard/submissions/columned_layout.html' %}

{% block body_attribute %} onload='toggle_applicability_reasons(get_selected_button(document.forms.submission_form.submission_status));'{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="/media/admin/js/admin/RelatedObjectLookups.js"></script>
{% endblock %}

{% block crumbs %} 
    {{ block.super }}
    {% load submit_tags  %}
    {% show_submit_crumbs credit %}
{% endblock %}

{% block header %}{{ credit.get_identifier }}:<br/>{{ credit }}{% endblock %}

{% block center %}
    <table class='headed_list wide'>
        <tr>
            <td class='header' colspan='4'>Summary</td>
        </tr>
        <tr>
            <th>Status</th>
            <th>Last Updated</th>
            <th>Possible Points</th>
            <th>Points Claimed</th>
        </tr>
        <tr>
            <td>{{ credit_submission.get_status_display }}</td>
            <td>{{ credit_submission.last_updated|date:"m/d/y fA" }}</td>
            <td>
                {% load submit_tags %}
                {% format_available_points credit_submission %}
            </td>
            <td>
                {% ifnotequal credit_submission.assessed_points None %}
                    {{ credit_submission.assessed_points }}
                {% endifnotequal %}
            </td>
        </tr>
    </table>
    <h2>Criteria</h2>
    {% autoescape off %}
        {{ credit.criteria }}
    {% endautoescape %}
    <h2>Documentation Fields</h2>
    <form method='post' action='.' class='submit_form' name='submission_form' enctype="multipart/form-data">
        <p style='text-align: center; font-size: .9em;'>
            <span class="required_note" title="This field is required to complete credit">*</span>
            required fields
            <span class='conditionally_required_note' title="In some cases, this field will be required to complete credit">*</span>
            conditionally required fields
        </p>
        {% include "dashboard/submissions/submission_fields_form.html" %}
        <br/>
        {% comment %}
        <!-- @todo: I added the note fields manually, but in the long-run
        we may want to rework the documentation_field_form.html template to take more than
        just documentationField objects... -->
        {% endcomment %}
        <label>Notes about the submission (public):</label>
        {% if submission_form.submission_notes.errors %}{{ submission_form.errors.submission_notes }}{% endif %}
    	<div class='field-form'>
    	   {{ submission_form.submission_notes }}
    	</div>
        <br/>
        <h3>Responsible Party</h3>
        {% if submission_form.responsible_party.errors %}
            {{ submission_form.errors.responsible_party }}
        {% endif %}
        {{ submission_form.responsible_party }}
        <a href="/dashboard/submissions/add-responsible-party/" class="add-another" id="add_id_responsible_party" onclick="return showAddAnotherPopup(this);" title='Add New Responsible Party'><img src='/media/static/images/add.png' alt='Add New Responsible Party' /></a>
        <br/>
        {% if submission_form.responsible_party_confirm.errors %}
            {{ submission_form.errors.responsible_party_confirm }}
        {% endif %}
        {{ submission_form.responsible_party_confirm }}
        <label>By checking this box, I affirm that the information included in the submission for this credit is accurate to the best of my knowledge.</label>
        <br/><br/>
        <table>
            <tr>
                <td>Submit with status:</td>
            </tr>
            <tr>
                <td class='submission_status'>
                    {% if submission_form.submission_status.errors %}
                        {{ submission_form.errors.submission_status }}
                    {% endif %}
                    {{ submission_form.submission_status }}
                </td>
            </tr>    
            {% if credit.applicabilityreason_set.all %}
            <tr>
                <td><div id='reason_choices'>
                    Reason this credit does not apply:<br/>
                        {% if submission_form.applicability_reason.errors %}{{ submission_form.errors.applicability_reason }}{% endif %}
                        {{ submission_form.applicability_reason }}
                </div></td>
            </tr>
            {% endif %}
        </table>
        <div class='internal_notes'>
            <label>Internal comments (this field will not be made public upon submission):</label>
            {% if submission_form.internal_notes.errors %}{{ submission_form.errors.internal_notes }}{% endif %}
        	<div class='field-form'>
        	   {{ submission_form.internal_notes }}
        	</div>
        </div>
        <div class='button_row'>
            <input type='submit' value='Submit' />
        </div>
    </form>
{% endblock %}