{% extends "empty_base.html" %}

{% block title %}Add New Responsible Party{% endblock %}

{% block extra_head %}
    <link href='/media/static/css/general.css' rel='stylesheet' type='text/css' />
    <link href='/media/static/css/stars.css' rel='stylesheet' type='text/css' />
    <style type='text/css'>
html, body {
    background-color: white;
}
    </style>
{% endblock %}

{% block body %}
    <h1>Add Responsible Party</h1>
    <form action='.' method='post'>
        <table class='form'>
            {{ responsible_party_form }}
        </table>
        <div class='button_row'>
            <button type='submit'>Add</button>
            <button type='button' onclick='window.close();'>Cancel</button>
        </div>
    </form>

{% endblock %}