{% extends 'base_error.html' %}

{% block title %}Internal Server Error | {{ block.super }}{% endblock %}

{% block message_title %}Sorry!  Your request could not be completed...{% endblock %}
{% block message_content %}
	{% if user_message %}
    	<p> {{ user_message }} </p>
    {% endif %}
   	{% if db_error %}
        <b>The error occurred while connecting to the STARS Database.</b> 
        <p>This service may be temporarily unavailable.  Please try back later.</p> 
    {% endif %}
    {% if rpc_error %}
        <b>The error occurred while connecting to www.aashe.org.</b> 
        <p>This service may be temporarily unavailable.  Please try back later.</p> 
    {% endif %}
{% endblock %}
