<!DOCTYPE html>
<html lang="en">
	<head>
		<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
		<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
 		<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}fonts/dejavu-sans/stylesheet.css">
		<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/stars.less">
		<script src="{{ STATIC_URL }}js/less-1.3.0.min.js" type="text/javascript"></script>

		<link rel="shortcut icon" href="{{ STATIC_URL }}images/stars_favicon.ico" type="image/x-icon" />

		<script src="{{ STATIC_URL }}bootstrap/js/jquery.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/include.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/new_include.js" type="text/javascript"></script>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<meta name="description" content="STARS is a transparent, self-reporting framework for colleges and universities to gauge relative progress toward sustainability." />
		<meta name="keywords" content="STARS, AASHE, AASHE STARS, reporting, sustainability, colleges, universities, STARS Report, STARS Technical Manual" />
		<title>
			{% block title %}AASHE STARS{% endblock %}
		</title>

		{% include "helpers/google_analytics.html" %}
		{% block extra_head %}{% endblock %}
		{% block extra_style %}{% endblock %}
	</head>

	<body onload='{% block body_onload %}{% endblock %}' onbeforeunload='{% block body_beforeunload %}{% endblock %}'>
		<div class="container">
			<div class="row top-nav">
			  <div class="span4 aashe-tabs">
			  	<a href='http://www.aashe.org/' class='left'><strong>aashe</strong></a>
				<a href='/' class='left'><strong>stars</strong></a>
				<a href='http://www.aashe.org/conference' class='left'>conference</a>
			  </div>

			  <div class="span8 user-menu">
			  	{% block top_menu %}
	       			{% include 'helpers/top_menu.html' %}
	    		{% endblock %}
			  </div>
			</div>

			<div class="row header">
				<div class='span2 header-image'>
					<a href='/'><img src="{{ STATIC_URL }}/images/stars_logo.png" width='120px' /></a>
				</div>
				<div class="span10 header-search"></div>
				<div class='navbar span10'>
					<div class="navbar-inner">
    					<div class="container">
    						{% block main_menu %}
								{% include 'helpers/main_menu.html' %}
							{% endblock %}
						</div>
					</div>
				</div>
				<div class='span10'>
					{% block crumbs %}{% endblock %}
				</div>
			</div>

			{% if messages  %}
	            {% for message in messages %}
		            <div {% if message.tags %}
                           class="{{ message.tags }}">
                         {% endif %}
			            <button class="close" data-dismiss="alert">×</button>
			            {{ message|safe }}
                    </div>
			    {% endfor %}
            {% endif %}

			{% block content %}{% endblock %}

			<div class="row footer">
				<div class='span2 footer-image'>
					<a href='http://www.aashe.org' title='Association for the Advancement of Sustainability in Higher Education'>
					<img src="{{ STATIC_URL }}/images/AASHE_RGB_72.png" width='120px' /></a>
				</div>
				<div class='span10 footer-border'></div>
				<div class='span6'>
					&copy;2012 <a href='http://www.aashe.org'>Association for the Advancement of Sustainability in Higher Education</a><br/>
		        	1536 Wynkoop St., Suite 100, Denver CO 80202 - t: (303)395-1332<br/>
                	<strong>Remittance Address: PO Box 824583, Philadelphia, PA 19182-4583</strong>
				</div>
				<div class='span4 bottom-menu'>
					<a href='/pages/help/'>Help</a> |
			    	<a href='http://www.aashe.org/about/contact.php'>Contact Us</a> |
			    	<a href='http://www.aashe.org/privacy-policy'>Privacy Policy</a> |
			    	<a href='http://www.aashe.org/'>AASHE Home</a>
			    	<p style='text-align: right;'>
	    		    	<a href='http://twitter.com/AASHENews' style='margin-right: 5px;' title='Twitter'>
	    		    	    <img src="{{ STATIC_URL }}images/twitter-2.png" alt='Twitter'/></a>
	    		    	<a href='http://www.facebook.com/aasheorg' style='margin-right: 5px;' title="Facebook">
	    		    	    <img src="{{ STATIC_URL }}images/facebook.png" alt='Facebook' /></a>
	    		    	<a href='http://www.youtube.com/aasheorg' title="YouTube">
	    		    	    <img src="{{ STATIC_URL }}images/youtube.png" alt='YouTube' /></a>
			    	</p>
				</div>
			</div>

			<div class="row credits">
				<div class='span12'>
					Credits:
					<a href='http://www.djangoproject.com' title="Django - web framework for perfectionists with deadlines.">
						Django
						{% if settings_context.django_version %}{{ settings_context.django_version }}{% endif %}
					</a>
					<span class="divider">/</span>
					<a href='http://www.python.org/'>
						Python
						{% if settings_context.python_version %}{{ settings_context.python_version }}{% endif %}
					</a>
					<span class="divider">/</span>
					<a href='http://twitter.github.com/bootstrap/'>Bootstrap</a>
					<span class="divider">/</span>
					<a href="http://tastypieapi.org/" title='webservice API framework for Django'>Tastypie</a>

					{% if settings_context.hg_revision %}
						&nbsp;&nbsp;&nbsp;&nbsp;
						{{ settings_context.hg_revision }}
					{% endif %}
					<span class="divider">|</span>
					<a href='http://stars-api-documentation.readthedocs.org/en/latest/index.html'>API</a>
				</div>
			</div>
		</div>


		{% include "helpers/chartbeat.html" %}
		{% block extra_footer %}{% endblock %}

	</body>
</html>
