{% extends 'base.html' %}

{% block title %} | Error {% endblock %}

{% block content %}
      {% block error_message %}
        <div class="error">
          <h2>Sorry!  An error occurred while processing your request.</h2>
          {% if user_message %}
              <p> {% autoescape off %}{{ user_message }}{% endautoescape %} </p>
          {% endif %}
        </div>
      {% endblock %}
    
      <p>Please use the menu system on this page to navigate to the page you were looking for.</p>

      <p>If this problem persists, please contact the 
         <a href="mailto:webmaster@aashe.org?subject=STARS Tracking Tool">AASHE STARS Team</a> 
            with a detailed description of the problem you encountered.
      </p>

{% endblock %}
