{% extends 'base.html' %}

{% block title %} | Home {% endblock %}

{% block content %}
    <div id='content'><div class='inner'>
        <h1>Welcome to the STARS Beta Reporting Tool</h1>
		{% if user.is_staff %}
		    <h2> Staff Quick Links: </h2>
		    <ul>
				<li><a href='/tool/admin/'>Administer Site</a></li>
				<li><a href='/tool/credit-editor/'>Credit Editor</a></li>
			</ul>
	    {% endif %}
	    
        <div class='note'>
            <b>Thank you for reviewing the STARS Reporting Tool!</b>
        </div>
	    
        <h2>Want to know more about STARS?</h2>
        <p>
            For more information on STARS, including <a href='http://www.aashe.org/stars/faqs.php'>FAQ's</a> and the <a href='http://www.aashe.org/files/documents/STARS/STARS_1.0_Early_Release_Technical_Manual_0.pdf'>STARS 1.0 Early Release Technical Manual (pdf)</a>, visit the <a href='http://www.aashe.org/stars/'>STARS website</a>. 
            If you have questions about STARS, please contact us at <a href='mailto:stars@aashe.org'>stars@aashe.org</a>. 
        </p>
        <h2>Goals</h2>
        <p>
            AASHE will launch the STARS Reporting Tool in January.  Our goal of the Beta Testing process is to get high-level feedback from users like you in order to release a user-friendly product in January and identify enhancements to make to the tool after the launch.
        </p>
        <h2>How it Works</h2>
        <p>
            As a Beta Tester, you will have an opportunity to enter data into the STARS Reporting Tool and provide AASHE with feedback on how to make the tool easy to use.  
        </p><p>
            Although fabricated data are acceptable during the testing period, we encourage Beta Testers to get started with their actual submission and use real data.  Data submitted during the Beta testing period will carry over in your account when the Reporting Tool launches in January. 
        </p><p>
            AASHE will continue building the Reporting Tool and fixing bugs during this period, so the look of the site and minor features may change.   We'll keep you updated if there are any additional changes you should know about throughout the Beta Testing phase.     
        </p><p>
            The STARS Liaison from each institution that is participating in the testing process has received log in instructions via email.  <a href='/auth/login/'>Click here</a> to log in and begin testing the STARS Reporting Tool.
        </p><p>
            The Beta testing period will run through January 8, 2010.  At that time, the Reporting Tool will close and you will not be able to enter additional data until the Reporting Tool launches widely later that month.  Although additional data will not be able to be entered after January 8, 2010, you may still submit feedback to STARS on the Reporting Tool.
        </p>
        <h2>Providing Feedback</h2>
        <p>
            Throughout the testing process, please share your thoughts, concerns, and suggestions with AASHE by emailing <a href='mailto:stars@aashe.org'>stars@aashe.org</a>.
        </p><p>
            In addition to general comments and suggestions, AASHE has identified several specific issues on which we’d like your feedback.  A survey will be given at the end of the Beta Testing timeframe to capture final thoughts and feedback.  Please consider these questions when testing the Reporting Tool:
        </p>
        
    </div></div>
	    
	</div></div>
{% endblock %}
