{% extends "base.html" %}

{% block content %}
	<div class="row">
	  <div class="span8  stars-hero">
	    <div class="row">
	    	<div class='span8 stars-hero-title'>
	    		<div class="row">
			      <div class="span4">
			      	<h1>Register for STARS!</h1>
			      </div>
			      <div class="span4">
			      	Earn recognition for sustainability leadership by registering as a STARS Participant today.
			      </div>
	      		</div>
	    	</div>
	    	<div class='span8 stars-hero-title2'>
	    		
	    		<a class="btn btn-large btn-success" href="/pages/get-involved/campus-sustainability-data-collector/">
                	Campus Sustainability Data Collector
                </a>
	    	
	    		<a class="btn btn-large btn-success" href="/pages/get-involved/registration.html">
	    			Register for <strong>STARS</strong>
	    		</a>
	    	</div>
	    </div>
	  </div>
	  
	  <div class="span4 home-right-rail">
	  	<h3 class='home'>Recently Rated Institutions</h3>
		{% load institution_lists %}
		{% show_rated_registrants %}
		<a href="/institutions/rated/" class="right-link">View All</a>
		<h3 class='home'>Latest Registrants</h3>
		{% show_latest_registrants %}
		<a href="/institutions/" class="right-link">View All Participants</a>
	  </div>
	  
	</div>
	
	<div class='row'>
		<div class='span8 sub-hero'>
			<h2 class='home'>The Sustainability Tracking, Assessment & Rating System<sup>&trade;</sup></h2> (STARS)
			is a transparent, self-reporting framework for colleges and universities to measure their sustainability performance.
			STARS&reg; was developed by AASHE with broad participation from the higher education community.
		</div>
		<div class='span4 update'>
			<h4 class='home'>STARS Update</h4>
			The STARS Update is a free, monthly e-newsletter. Your subscription will keep you up to speed
			on the latest STARS news, resources, participant highlights, events, and more.<br/>
			<a 	href='http://visitor.r20.constantcontact.com/manage/optin/ea?v=001dLsZf5Cw4pMCUTlQhD3r3Q%3D%3D'
				class='btn btn-info pull-right'>
				<i class='icon-envelope icon-white'></i>
				Subscribe Today!
			</a>
		</div>
	</div>
	
	<div class='row'>
		<div class="span6">
			<div class="well">
				<h4>About STARS</h4>
				<a href="https://stars.aashe.org/pages/about">Learn more</a> about STARS, including program goals, guidelines, FAQs, and more.
			</div>
			<div class="well">
				<h4>Credit Details</h4>
				To <a href='/pages/about/technical-manual.html'>view the STARS 1.2 credits</a>, download the current Credit Checklist or Technical Manual.
			</div>
			<div class="well">
				<h4>Founding Partners</h4>
				AASHE thanks the STARS <a href='/pages/governance/3978/'>Founding Partner Organizations</a> for their contributions to the system. 
			</div>
			<div class="well">
				<h4>STARS API</h4>
				AASHE has launched the <a href='http://stars-api-documentation.readthedocs.org/en/latest/index.html'>STARS API</a> to provide third-party organizations the opportunity to interact with STARS in an automated, programmable way. 
			</div>
		</div>
		<div class='span6 highlights'>
			<div class='well'>
				<h4>Highlights</h4>
				{% load content %}
        		{% display_block_content 'highlights' user %}
        	</div>
		</div>
	</div>

{% endblock %}