.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/*
	COLORS
*/
/* @todo: get actual rgb */
h1 {
  color: #394a58;
  font-size: 2em;
}
h2 {
  color: #5160ab;
  font-size: 1.7em;
}
h3 {
  color: #15387f;
}
h4 {
  color: #394a58;
}
h5 {
  color: black;
}
h2.dashboard {
  font-size: 1.3em;
}
.errorlist {
  list-style: none;
  display: inline;
}
h2.home {
  display: inline;
  color: black;
  font-size: 1em;
  line-height: inherit;
}
h3.home {
  color: #3c2985;
}
h4.home {
  color: #0080cf;
}
.stars-hero {
  background-position: bottom left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.stars-hero-title {
  margin-top: 150px;
  background-color: rgba(0, 128, 207, 0.8);
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.stars-hero-title h1 {
  color: white;
  text-align: center;
  font-size: 2.1em;
  padding: 0px;
  margin: 0px;
  line-height: 2;
}
.stars-hero-title2 {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.home-right-rail a {
  color: black;
}
.sub-hero,
.update {
  border-top: 4px solid #0080cf;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sub-hero {
  font-size: 1.1em;
  width: 580px;
}
.update {
  color: #0080cf;
}
.top-nav {
  border-bottom: 1px solid #394a58;
  margin-top: 35px;
  padding-bottom: 5px;
}
.aashe-tabs a {
  color: #394a58;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 30px;
}
.user-menu {
  text-align: right;
  font-size: 0.9em;
}
.header {
  padding-top: 15px;
  padding-bottom: 25px;
}
.header-image,
.footer-image {
  text-align: center;
}
.header-search {
  padding-top: 15px;
  padding-bottom: 15px;
}
.main-menu {
  font-size: 1.2em;
  margin-top: 50px;
}
.main-menu li {
  padding-left: 20px;
  padding-right: 20px;
}
.footer {
  font-size: 0.8em;
  margin-top: 30px;
  color: #394a58;
}
.footer a {
  color: #394a58;
}
.footer-image {
  padding-top: 0px;
}
.footer-border {
  border-bottom: 1px solid #394a58;
  padding-top: 5px;
  margin-bottom: 30px;
}
.bottom-menu {
  text-align: right;
}
a.right-link {
  display: block;
  text-align: right;
}
.credits {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: right;
  font-size: 0.8em;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.nav-header a {
  color: #394a58;
}
/*.tab-content {
	border-width: 0px 1px 1px 1px;
	border-color: @greyLighter;
	border-style: solid;
	margin-top: -13px;
}*/
ul.nav-pills li.active a {
  background-color: #fafeba;
  color: #0080cf;
}
ul.nav-pills li.active a:hover {
  background-color: #f7fd88;
  color: #0080cf;
}
.dashboard-chart {
  height: 250px;
  border: 1px solid #dddddd;
  margin-bottom: 12px;
  margin-top: 12px;
}
.dashboard-map {
  margin-bottom: 12px;
  border: 1px solid #dddddd;
}
.displays-down-arrow {
  text-align: center;
  padding-bottom: 10px;
}
.category-accordion-heading a {
  color: #3c2985;
}
.subcategory_accordion a {
  color: #00a060;
}
.subcategory_accordion .accordion-inner {
  font-size: 0.9em;
}
.subcategory_accordion .accordion-inner a {
  color: #15387f;
}
.popover {
  width: auto;
  max-width: 500px;
}
#map_canvas img {
  max-width: none;
}
#map_canvas label {
  width: auto;
  display: inline;
}
.conditionally_required_note {
  color: #5160ab;
}
.required_note {
  color: red;
}

/* css spinner */
.spinner {
  width: 70px;
  height: 70px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;

  position: static;
  top: 0;
  bottom: 10;
  left: 0;
  right: 0;
  margin: auto;
  display: none;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* check mark */

.checkmark {
  width: 37px;
  height: 70px;

  border-right: 10px solid #00b300;
  border-top: 10px solid #f25a41;
  /*border-top: 10px solid #90ABD6;*/

  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 18px;
  display: none;

  transform: scaleX(-1) rotate(135deg);
}
