html, body {
	background-color: #FFF8D0;
	background-color: #072A60;
	color: #202020;
	font-family: Geneva, verdana, lucida, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

body {
    margin:0 20px;
	padding:5px 0px 20px 250px;
}

#column_container {
	background-color: #fff;
	float:left;
	border-left:250px solid #fff; /*  #cf9 The width and color of the left rail */
	margin-left:-250px;
	display:inline; /* So IE plays nice */
	width: 700px;
	padding: 0px 0px 20px 0px;
	clear: both;
}

#content {
    background-color: #fff;
    margin: 0 0 0 -250px;
    overflow: hidden;
    width: 950px;
}

#content.popup {
    width: 620px;
}

#leftRail{
	float:left;
	width:250px;
	margin-left:-250px;
	position:relative;
	padding: 0px 0px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #669900;
    background-color: #ebf9c8;
}
#center{
	float:left;
	width: 700px;
	margin-right:-700px;
}
#rightRail{
	float:right;
	width:0px;
	margin-right:-0px;
	position:relative;
	background-color: yellow;
}
#header, #footer{
	background-color:#fff;
	margin: 0px 20px 0px 250px;
	clear:both;
	width: 950px;
	overflow: hidden;
}

#leftRail h2 {
    border-color: #669900;
    background-color: #ebf9c8;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    margin: 0px;
    padding: 10px 10px 0px 10px;
    font-size: 1.4em;
}

#leftRail ul {
    margin: 0px;
    padding: 5px;
    list-style: none;
    line-height: 1.8;
    font-size: 1.3em;
    background-color: #ebf9c8;
}

#leftRail li {
    margin: 0px 0px 1px 0px;
    padding: 0px 0px 0px 4px;
    list-style: none;
    /*background-color: #e2f8cc;*/
}

#leftRail li a {
    text-decoration: none;
}

#leftRail li a:hover {
    text-decoration: underline;
}

#leftRail ul li ul {
    font-size: .8em;
    font-weight: bold;
    font-style: italic;
    border-width: 0px;
}
#leftRail ul li ul a, #leftRail ul li ul li {
    color: #669900;
}

#leftRail li {
    padding: 0px;
}

#leftRail ul li ul li ul {
    font-size: .8em;
    font-style: normal;
    font-weight: normal;
}
#leftRail ul li ul li ul a {
    color: #072A60;
}

#leftRail .current {
    background-color: #AEC978;
}

#header {
    padding: 0px 0px 10px 0px;
    border-top: 4px solid #AEC978;
}

#footer {
    padding: 15px 0px;
    text-align: center;
    color: #888;
    line-height: 1.9;
    background-color: #eee;
}

#header img {
	border: 0px;
	margin: 4px 4px 0px 4px;
	float: left;
	clear: right;
}

div.inner {
    padding: 10px 25px;
}

#top_menu {
	text-align: right;
	color: #072A60;
	padding: 0px 0px 0px 20px;
	margin: 5px 0px 0px 0px;
	float: right;
	white-space: nowrap;
	border-bottom: 1px solid #072A60;
}

#top_menu li {
	display: inline;
	margin: 0px;
	list-style: none;
	padding: 0px 10px;
}

#top_menu a {
	color: #072A60;
	text-decoration: none;
}

#top_menu a:hover {
	color: #669900;
}

#top_menu div.notice {
	color: #AA6666;
    font-size: .8em;
}

div#selected_inst {
    float: right;
    clear: right;
    margin: 4px;
    font-style: italic;
    color: #666666;
}

#main_menu {
	color: #669900;
	border-bottom: 1px solid #AEC978;
	text-align: right;
	padding: 0px 0px 2px 0px;
	margin: 0px;
	font-size: 1.3em;
	clear: left;
}

#main_menu li {
	display: inline;
	border-bottom: 3px solid #AEC978;
	margin: 0px 5px 0px 5px;
	padding: 0px;
	overflow: hidden;
}

#main_menu a {
	color: #669900;
	text-decoration: none;
	padding: 0px 5px;
}

#main_menu a:hover {
	background-color: #ebf9c8;
}

/* Change the currently selected main menu category */
#main_menu li.current a {
    color: #072A60;
}

#main_menu li.current a:hover {
    background-color: white;
}

#main_menu li.current {
    border-color: #072A60;
}

#submenu {
    color: #072A60;
    font-size: 1.1em;
    margin: 10px 10px 0px 10px;
    padding: 0px;
}

#submenu li {
	display: inline;
	margin: 0px 5px 0px 5px;
	padding: 0px;
	overflow: hidden;
}

#submenu a {
    text-decoration: none;
    border-bottom: 2px solid #072A60;
    padding: 0px 4px;
}

#submenu a:hover {
    /*border-color: #669900;*/
}

/* Change the currently selected item */
#submenu.sm_ce li#sm_ce a, #submenu.sm_admin li#sm_admin a, #submenu.sm_sub li#sm_sub a, #submenu.sm_inst li#sm_inst a {
    border-color: #669900;
    border-width: 0px;
    color: #669900;
    font-style: italic;
}

#subsubmenu {
    color: #072A60;
    font-size: 1em;
    margin: 10px 10px 0px 10px;
    padding: 0px;
    border-bottom: 1px solid #072A60;
}

#subsubmenu li {
    display: inline;
    margin: 0px 5px 0px 5px;
    padding: 0px;
    overflow: hidden;
}

#subsubmenu a {
    font-style: italic;
	padding: 0px 4px;
}

/* Change the currently selected item */
#subsubmenu li.active a {
    color: #000;
    font-style: normal;
    font-size: 1.4em;
    text-decoration: none;
}

#article-menu span.top-level-category {
    font-size: 1.3em;
}

div#crumbs {
    font-size: .8em;
    padding: 0px 5px 0px 5px;
    margin: 10px 0px 5px 0px;
    text-align: right;
    background-color: #ccc;
    color: #777;
    border-left: 3px solid #999;
    line-height: 1.8;
    float: right;
    clear: both;
}

div#crumbs a {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    margin: 0px 5px;
}

div#crumbs a:hover {
    text-decoration: underline;
    color: #072A60;
}

div#dfAppearance {
    margin: 0px 50px;
    background-color: #eee;
    border: 2px dotted #bbb;
    padding: 20px;
}

div#dfAppearance table {
    margin: 0px auto;
}

div#message {
    text-align: center;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
    background-color: #FFF8D0;
    color: #F6BD3E;
}

ul.errorlist, ul.warninglist {
   font-size: .9em;
   font-weight: normal;
   list-style: none;
   margin: 2px;
   padding: 2px;
   text-align: center;
}
	
ul.errorlist {
   background-color: #FFF8D0;
   border: 1px dotted #ff2266;
   color: #DD0033;
}

ul.warninglist {
   background-color: #D0F8FF;
   border: 1px dotted #6622ff;
   color: #3300DD;
}

#left-col {
   float: left;
}

div.help_note {
}

div.help_note span.help_text {
    background-color: #eee;
    padding: 15px;
    display: block;
    margin: 10px 50px;
    border: 1px solid #ddd;
}

span.help_text {
    font-size: .9em;
    color: #666;
    font-style: italic;
}

span.help_text p {
    margin: 5px 1em;
}

table.list {
    width: 99%;
    border-collapse: collapse;
    border: 1px solid #669900;
}

table.list tr {
    border-bottom: 1px solid #669900;
}

/*table.list tr:hover {
    background-color: #ebf9c8;
}*/

table.list th {
    background-color: #669900;
    color: #fff;
    text-align: left;
    font-size: 1.4em;
}

table.list th, table.list td {
    padding: 10px;
}

table.list tr.new {
    background-color: #ff9;
}

div#summary {
    text-align: center;
    padding: 5px 10px;
    background-color: #669900;
}

div#summary a:hover {
    color: white;
}

	
/** duplicates of table headed lists below */
div.headed_list {
    /*float: left;*/
    margin: 10px;
    border: 1px solid #669900;
    background-color: #efe;
}

div.headed_list span.header{
    background-color: #669900;
    color: #fff;
    text-align: left;
    font-size: 1.4em;
    padding: 2px 5px;
}

div.headed_list span.header a {
    color: white;
    text-decoration: none;
}

div.headed_list span.header a:hover {
    color: #ebf9c8;
    text-decoration: underline;
}

/** Overrides - should come after standard headed_list definitions **/
div.headed_list span.header {
   display:block;
}
div.headed_list span.header td.status,
div.headed_list span.header td.points,
div.headed_list span.header td.score 
{
    font-size: 80%;
}

div.subcategory_summary {
    margin-left: 20px;
    background-color: #f1fff1;
}
div.subcategory_summary span.header{
    background-color: #ebf9c8;
    font-size: 1.2em;
}
div.subcategory_summary span.header,
div.subcategory_summary span.header a {
    color: #669900;
}

div.subcategory_summary span.header a:hover {
    color: #072A60;
}

table.subcategory_credits_summary {
	margin-left: 20px;
}

tr th.label {
	text-align:left;
	font-size: 1.2em;
    width: 315px;
}
tr th.label.wide {
    width: 465px;
}

tr.category_summary td.label {
    width: 315px;
}
tr.category_summary td.label.wide {
    width: 455px;
}

tr.subcategory_summary td.label {
    width: 325px;
}
tr.subcategory_summary td.label.wide {
    width: 435px;
}

tr.credit_summary td.label {
    width: 250px;
}
tr.credit_summary td.label.wide {
    width: 400px;
}
tr .status {
    width: 100px;
}

tr .points,
tr .score {
    width: 100px;
    text-align:center;
}



table.form {
    margin: 5px 0px;
    border-collapse: collapse;
}

table.form th {
    font-size: 1.0em;
    font-weight: normal;
    border-width: 0px 0px;
    border-color: #f0f0f0;
    border-style: solid;
}

table.form th {
    vertical-align: middle;
    padding: 5px 10px 0px 0px;
    text-align: right;
}

table.form td {
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px solid #eee;
    text-align: left;
}

table.headed_list {
    /*float: left;*/
    margin: 10px;
    border: 1px solid #669900;
    background-color: #efe;
}

table.headed_list td.header {
    background-color: #669900;
    color: #fff;
    text-align: left;
    font-size: 1.4em;
    padding: 2px 5px;
}

table.headed_list td.header a {
    color: white;
    text-decoration: none;
}
table.headed_list td.header span.status {
    font-size: 60%;
}
table.headed_list td.header a:hover {
    color: #ebf9c8;
    text-decoration: underline;
}

table.headed_list th {
    font-weight: normal;
    background-color: #ebf9c8;
    padding: 5px 5px;
    margin: 1px;
}

table.headed_list th.left {
    text-align: right;
}

table.headed_list td {
    padding: 5px;
    text-align: center;
    margin: 1px;
    background-color: #fff;
}

table.headed_list td.credit_summary, table.headed_list td.subcategory_summary {
    text-align: left;
}

table#institution_list {
    width:95%;
    padding:10px;
}

table#institution_list th {
	font-weight: bold;
}

table.wide {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

table.narrow {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

td.buttonRow {
    text-align: right;
    border: 0px;
}

td.buttonColumn {
    white-space: nowrap;
    color: #aaa;
}

div.properties div {
	float:left;
	margin-left:75px;
}

table.properties {
    margin: 5px auto;
    border-collapse: collapse;
    border: 1px solid white;
}

table.properties th {
    text-align: right;
    background-color: #ddd;
}

table.properties td {
    text-align: center;
    background-color: #eee;
}

table.properties th, table.properties td {
    padding: 5px 20px;
    border: 1px solid white;
}

table.submission_properties {
    font-size: .8em;
    margin: 10px auto;
    border: 1px solid #888;
    border-collapse: collapse;
}

table.submission_properties td, table.submission_properties th {
    padding: 2px 4px;
    margin: 0px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #aaa;
}

table.submission_properties td {
    background-color: #eee;
}

table.submission_properties th {
    text-align: right;
    background-color: #ddd;
}

table#formula_test_case_table {
	border: 1px solid gray;
	border-collapse: collapse;
}
table#formula_test_case_table td{
    padding: 5px;
    border: 1px solid gray;
    text-align: center;
    max-width:300px;
}

table#formula_test_case_table th{
    padding: 5px 10px;
}

table#watchdog_table th,
table#watchdog_table td{
	padding: 5px 10px;
}

table#watchdog_table.detail{
    width: 80%; 
    align: center; 
    border-collapse: collapse;
    border-bottom: solid;
}

table#watchdog_table.detail tr.row1 {
    border-bottom: solid;
}

table#watchdog_table.detail th {
    text-align: right;
}

table#institutionList {
    padding: 10px;
    font-size: 1em;
    line-height: 2.4;
    margin: 0px;
}

table#institutionList td, table#institutionList th {
    margin: 0px;
    padding: 0px 5px;
}

.odd {
    background-color: #eee;
}

div.secure {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 15px;
    background-image: url('/media/static/images/secure_background.png');
}

div.note {
    background-color: #eee;
    margin: 10px auto;
    width: 400px;
    padding: 20px;
    text-align: center;
}

div.documentation {
    border: 1px solid #ccc;
    margin: -10px 0px 20px;
    padding: 0px 20px;
}

div.submission_notes {
    margin: 5px;
    padding: 10px;
}

div.applicability_reason {
    font-style: italic;
    font-size: 0.9em;
    color: #772222;    	
}
	
span.explanation {
	cursor: help;
}

span.pending_note {
    font-style: italic;
    padding: 0px 0px;
    cursor: help;
    font-size: 1.2em;
    color: #772222;
}

tr.pending td {
    background-color: #eee;	
    cursor: help;
}

form {
    margin: 10px;
}

form label {
    color: #666;
}

form label.required {
    color: #000;
}

form span.required_note,
form span.conditionally_required_note {
    font-style: italic;
    padding: 0px 0px;
    cursor: help;
/*    font-weight: bold;*/
    font-size: 1.3em;
}

form span.required_note {
    color: #990000;
}
form span.conditionally_required_note {
    color: #000099;
}

form.submit_form {
    border: 1px solid #888;
    background-color: #eee;
    padding: 10px 10px 0px 10px;
    margin: 0px 10px;
}

form.submit_form label {
    font-weight: normal;
}

form.submit_form td.submission_status ul, div#reason_choices ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

form.submit_form td.submission_status ul {
	display: inline;
}

form.submit_form td.submission_status ul li {
    display: inline;
}

form.submit_form div.button_row {
    background-color: #ccc;
    border-top: 1px solid #aaa;
    text-align: center;
    margin: 10px -10px 0px -10px;
    padding: 10px;
}

div#reason_choices {
    border: 1px dotted #aaa;
    padding: 5px;
    background-color: #ffe;
}

img.collapse, img.expand {
    cursor: pointer;
    vertical-align: middle;
    margin: 0px;
    padding: 3px;
}

.collapsed ul,
.collapsed div, 
.collapsed table {
  display:none;
}

.collapsed span.header table { /* show elements inside a collapsed header span */
	display:block;
}

fieldset {
    border: 1px solid #aaa;
    padding: 10px;
}

fieldset.collapsed {
	border-top-color: #0000BB;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
}

fieldset legend {
    color:#072A60;
    font-size:1.1em;
}

fieldset.non_collapsing legend {
	color: #aaa;
}

fieldset#field_choices {
    padding: 5px;
    background-color: #EBF9C8;
    overflow: visible;
}
	
fieldset#field_choices div#choice_ordering_form table{
	background-color:#fff;
}

div.new_form {
    margin: 10px;
    padding: 5px 20px 5px 20px;
    border: 1px dotted #aaa;
    background-color: #eee;
}

div.form_div {
    background-color: #ebf9c8;
    margin: 10px 10%;
}

div.form_div table {
    margin: 10px auto;
}

textarea {
    padding: 5px;
}

div.form_div table th, div.form_div table td {
    padding: 5px;
}

div.button_row {
    text-align: center;
    padding: 0px 10px 10px 10px;
    margin: 0px;
}

div.description {
    margin: 10px 50px;
    border-left: 10px solid #aaa;
    background-color: #eee;
    padding: 10px 20px;
}

div.internal_notes {
    border: 1px dotted #a88;
    padding: 10px;
    margin: 10px 0px;
    background-color: #ddd;
}

div.internal_notes textarea {
/*    border: 1px dashed #aaa;*/
}

div.documentationField {
	margin: 10px 0px;	
}

div.field-form ul {
  list-style-type: none;
}

div.field-form {  /* HACK: force browser to re-size select widgets.  See ticket #196 */
	width:500px;  /* Totally depends on width of column_container - bad bad bad, but won't work with % width! */
}
form.submit_form div.field-form {
	width:500px;
}
form div.field-form select {
	max-width: 100%;   /* assumes select is contained in a fixed-width div - otherwise long selections can otherwise break layout. See ticket #196 */
}

/* begin css tabs */
/* http://unraveled.com/projects/assets/css_tabs/ */

ul#tabnav { /* general settings */
text-align: left; /* set to left, right or center */
margin: 1em 0 0 0; /* set margins as desired */
    font-size: 1em;
border-bottom: 1px solid #aaa; /* set border COLOR as desired */
list-style-type: none;
padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
display: inline;
}

ul#tabnav.tab1 li.tab1, ul#tabnav.tab2 li.tab2, ul#tabnav.tab3 li.tab3, ul#tabnav.tab4 li.tab4, ul#tabnav.tab5 li.tab5 { /* settings for selected tab */
border-bottom: 5px solid #fff; /* set border color to page background color */
background-color: #fff; /* set background color to match above border color */
}

ul#tabnav.tab1 li.tab1 a, ul#tabnav.tab2 li.tab2 a, ul#tabnav.tab3 li.tab3 a, ul#tabnav.tab4 li.tab4 a, ul#tabnav.tab5 li.tab5 a { /* settings for selected tab link */
background-color: #fff; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
position: relative;
border-top: 3px solid #072A60;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #aaa; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #eee; /* set unselected tab background color as desired */
color: #666; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
margin:-3px;
}
ul#tabnav li { /* no margin between links on same tab - margin between tabs  (see credit submission)  */
margin:3px;
}

ul#tabnav a:hover { /* settings for hover effect */
background: #fff; /* set desired hover color */
color: #072A60;
border-top: 3px solid #669900;
}

div#tabcontent {
    border-width: 0px 1px 1px 1px;
    border-color: #aaa;
    border-style: solid;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
}

/* end css tabs */

div#tablcontent form {
    margin-top: 0px;
    padding-top: 0px;
}

div#searchbox {
    margin: 10px 200px;
    padding: 20px;
    background-color: #eeeeee;
    border: 1px solid #aaa;
    text-align: center   
}

div#searchbox h2 {
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

.tooltip{
    width: 250px; color:#000; background-color: #bbe;
    border: 2px solid #99c;
    font-size: .9em;
    text-decoration:none;
    padding: 10px;
}
/*
.tooltip span.top{padding: 10px;
    background: url('/media/static/images/bt.gif') no-repeat top}

.tooltip b.bottom{padding:3px 8px 15px;color: #548912;
    background: url('/media/static/images/bt.gif') no-repeat bottom}
*/

div#flash_message {
  position: absolute;
  z-index: 1;
  top: 130px;
  left: 280px;
  width: 600px;
  background-color: #FFF8D0;
  padding: 0px;
  opacity: 0.80;
  filter: alpha(opacity=80);
  border: 1px solid #DDDDDD;
}

div#flash_message ul {
	margin: 0;
    padding: 5px 25px;
    margin: 10px 25px;
    border: 1px solid #F6BD3E;
    background-color: #FFFFFF;
    font-size: 1.2em;
    font-style: italic;
    color: #222288;
}

div#flash_message ul li.notice {
    color: #222288;
    list-style-type:dot;
}   
div#flash_message ul li.error {
    color: #DD0033;
    list-style-image: url('/media/static/images/cancel.png');
    list-style-type:dot;
}	

div#flash_message ul li.success {
    color: #228822;
    list-style-image: url('/media/static/images/accept.png');
    list-style-type:dot;
}   

ul.no_bullets {
  list-style-type: none;
}
.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  display:none;
}

div#flash_message img.close,
div#WzBoDy img.close {
    border: 0;
    text-align:top right;
    position: relative;
    float: right;
}

table.payment_table {
     margin: 10px auto; border: 1px solid #ccc; text-align: center;
     color: #072A60;
     font-size: .9em;
}

table.payment_table th {
    background-color: #ccf;
    padding: 5px;
}

table.payment_table td {
    padding: 5px 20px;
}

del {
    color: #999;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

div.warning {
    background-color: #FFF8D0;
    padding: 5px;
    margin: 10px;
    border: 1px solid #DDDDDD;
    font-size: 1.4em;
    font-style: bold;
    color: #FF0033;
}
	

/*= CSS progress bar from http://ashung.deviantart.com/*/
.progressbar {
    margin-left: auto;
    margin-right: auto;
	width: 100px;
    border: solid;
    border-width: 1px;
    background: url('/media/static/images/progressbar.png') no-repeat 0 -10px;
}
.progressbar.medium {
	width: 50px;
}
.progressbar.small {
	width: 25px;
}

.progressbar-completed {
    height: 10px;
    margin-left: -1px;
    background: url('/media/static/images/progressbar.png') no-repeat 1px 0;
}
.progressbar-completed div {
    float: right;
    width: 50%;
    height: 10px;
    margin-right: -1px;
    background: url('/media/static/images/progressbar.png') no-repeat 100% 0;
    display: inline; /* IE 6 double float bug */
}
