{% load help %}
{% load humanize %}

{% if submissionset.boundary %}
  <!-- BID: {{ submissionset.boundary.id }} -->
  <h4 style='text-align: center'>Characteristics</h4>
  <table class='statusTableVertical' style='width: 80%'>
  {% for f in submissionset.boundary.get_characteristic_fields_and_values %}
    <tr>
      <th>{{ f.title|capfirst }}</th>
      <td>
        {% if f.value != None %}{{ f.value|intcomma }}{% else %}Not Available{% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
  <h4 style='text-align: center;'>Campus Features</h4>
  <table style='width: 100%; font-size: .9em;'>
    <tr>
      <th>Feature</th>
      <th>Is Present?</th>
      <th>Is Included in Report</th>
    </tr>
    {% for row in feature_table %}
    <tr>
      <td>{{ row.title }}</td>
      <td align='center'>
        {% if row.present %}Yes{% else %}No{% endif %}
        {% if row.acres %}({{ row.acres }} acres){% endif %}
      </td>
      <td align='center'>
        {% if row.included %}Yes{% else %}No{% endif %}
        {% if row.details %}
          {% show_help_text row.details 1 row.id %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% if submissionset.boundary.additional_details %}
     <h4 style='text-align: center;'>Additional Details</h4>
    <p style='font-size: .9em;'>
      {{ submissionset.boundary.additional_details|urlizetrunc:55|linebreaks }}
    </p>
  {% endif %}
{% else %}
  {{ submissionset.submission_boundary|urlizetrunc:55|linebreaks }}
{% endif %}
