{% load thumbnail %}
{% load compress %}

{% compress js %}
<script type="text/javascript">
		function initialize() {
			school_list = [
					{% for i in mapped_institutions %}
						{% spaceless %}
						{% if i.institution.latitude and i.institution.longitude %}
							{
								lat: {{ i.institution.latitude }},
								lon: {{ i.institution.longitude }},
								title: "{{ i.institution.org_name }}",
								content: "<p style='text-align: center'>
								<b>{{ i.institution.org_name }}</b><br/>
								{% if i.current_rating %}
									{% thumbnail i.image_large "70x70" as im %}
										<a href='{{ i.rated_submission.get_scorecard_url }}'>
										    <img src='{{ im.url }}' style='margin: 5px;' /></a>
									{% endthumbnail %}
								{% endif %}

								{% if i.image_path %}
									{% thumbnail i.image_path "70x70" as im %}
										<img src='{{ im.url }}' style='margin: 5px;' title='{{i.image_title}}' />
									{% endthumbnail %}
								{% endif %}</p>",
								{% if i.current_rating %}
						            icon: "{{ i.map_icon }}"
								{% elif i.subscription == True %}
									icon: {
										path: google.maps.SymbolPath.CIRCLE,
										scale: 5,
										fillColor: '#5BB75B',
										strokeColor: '#245424',
										strokeWeight: 1,
										fillOpacity: 1,
										strokeOpacity: .8
									}
					            {% else %}
		                            icon: {
		          			            path: google.maps.SymbolPath.CIRCLE,
		          			            scale: 3,
		          			            fillColor: '#4B7DE1',
							            strokeColor: '#15387f',
		          			            strokeWeight: 1,
										opacity: 1,
										fillOpacity: 1
		                           }
	                // icon: "{{ STATIC_URL }}images/map_icons/participant.png"
					            {% endif %}
							}
							{% if not forloop.last %},{% endif %}
						{% endif %}
						{% endspaceless %}
					{% endfor %}
			]

			// var centerPos = new google.maps.LatLng(49.496675,-108.632812);
			  var myOptions = {
			    zoom: 2,
			    center: {lat: 29, lng: 0},
			    //disableDefaultUI: true,
					fitBounds: false,
			    streetViewControl: false,
			    scaleControl: true,
			    mapTypeControl: true,
			    scrollwheel: false,
			    mapTypeControlOptions: {
			      style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
			    },
			    mapTypeId: google.maps.MapTypeId.TERRAIN
			  }
			  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

			  bounds = new google.maps.LatLngBounds();

			  infoWindow = new google.maps.InfoWindow({
			  	maxWidth: 450
			  });

			  function createMarker(school) {
			  	var point = new google.maps.LatLng(school['lat'], school['lon']);
			  	bounds.extend(point)
			  	marker = new google.maps.Marker({
			      position: point,
			      map: map,
			      icon: school.icon,
			      title: school['title']
			  	});

			  	// Register a click listener on each marker created.
			    google.maps.event.addListener(marker, 'click', (function(markerArg, content) {
			      return function() {
			        infoWindow.setContent(content);
			        infoWindow.open(map, markerArg);
			      };
			    })(marker, school['content']));
			  	return marker;

			  }


			  //var bounds = new google.maps.LatLngBounds();
			  for ( i = 0; i < school_list.length; i++ ) {
			  		m = createMarker(school_list[i]);
			  		//bounds.extend(m.getPosition());
			  }
				// uncomment below if you would like to evenly
				// space map on all data points
			  // map.fitBounds(bounds);
	  }
        function loadScript() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.google.com/maps/api/js?sensor=false' + '&callback=initialize';
            document.body.appendChild(script);
        }

    this.window.onload = loadScript;
</script>
{% endcompress %}
