<div id="ratingCarousel" class="carousel slide" data-interval="1000">
  <!-- Carousel items -->
  <div class="carousel-inner">
    {% for ss in ss_list %}
    <div class="{% if forloop.first %}active{% endif %} item">
        <a href="{{ ss.get_scorecard_url }}">
          <img class="badge" src="{{ ss.rating.image_200.url }}" />
          <h4>{{ ss.institution }}</h4>
        </a>
        <p class="small">Submitted {{ ss.date_submitted|date:"F Y" }}</p>
    </div>
    {% endfor %}
  </div><!-- /.carousel-inner -->
</div><!-- /#regCarousel -->
