/*
 * PALLETTE:
 * #1e2b3a
 * #44566b
 * #690
 * #eefac5
 */

html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body
{
	color: #111;
	background-color: #fff;
	background-image: url("../img/header.png");
	background-repeat: repeat-x;
	font-family: Lucida Sans, sans-serif;
}

h1
{
	//display: inline;
	float: left;
	margin: 33px 0 0 20px;
	padding: 0;
	width: 433px;
	height: 66px;
}

h1 a
{
	display: block;
	margin: 0;
	padding: 0;
	width: 433px;
	height: 66px;
	background-image: url("../img/aashe-stars.png");
	text-indent: -9999px;
	overflow: hidden;
}

h2
{
    margin: 15px 0 5px 0;
    color: #690;
    font-size: 1.3em;
    font-weight: normal;
}

div#login
{
	//display: inline;
    float: right;
    margin: 34px 18px 0 0;
    font-size: .7em;
	color: #fff;	
}

div#login.loggedout
{
	margin-top: 30px;
}

div#login.loggedout p
{
    text-align: center;
    margin: 5px 0;
    padding: 0;
}

div#login.loggedin p
{
    margin: 10px 0;
    padding: 0;
}

div#login input
{
	border-width: 0;
	background-color: #1e2b3a;
	color: #fff;
}

div#login a
{
	color: #fff;
}

div#login input
{
    width: 150px;
}

div#login input.button
{
    width: 50px;
}

div#login span.required
{
    display: none;
}

td input.button
{
	padding: 4px !important;
	//padding: 2px !important;
	background-color: #690 !important;
	border-width: 0 !important;
	color: #fff;
	font-weight: bold;
	font-size: 14px !important;
	font-family: Lucida Sans, sans-serif;
	letter-spacing: -1px;
}

input
{
    border: 1px solid #888;
    padding: 2px;
}

label.button
{
	display: none;
}

div#content
{
	position: absolute;
	top: 125px;
	left: 0;
	padding: 15px 195px 15px 15px;
	font-size: 0.8em;
}

div#title
{
    color: #690;
    font-size: 1.5em;
}

div#breadcrumbs
{
	font-size: 0.5em;
	font-weight: bold;
	color: #690;
}

div#breadcrumbs a
{
	color: #690;
}


div#title img
{
    float: right; 
    margin-top: -33px;
    //margin-top: -40px; 
    //margin-right: 10px
}

div#nav
{
    position: absolute;
	top: 125px;
	right: 0px;
    width: 186px;
	color: #999;
	z-index: 1;
}

div#nav a 
{
    margin: 0;
    padding: 8px 3px;
    width: 179px;
    display: block;
    background-color: #fff;
    border-bottom: 1px solid #eefac5;
    border-left: 1px solid #eefac5;
    text-align: center;
    font-size: .7em;
    color: #690;
}

div#nav a:hover
{
	background-color: #eefac5;
}

div#nav div.nav_section
{
    margin: 0 2;
    padding: 8px 3px;
    width: 179px;
    display: block;
    background-color: #CCCCCC;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: left;
    font-size: .8em;
    color: #072A60;
}

div#footer
{
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

a:link, a:visited, a:active, a:hover
{
	color: #44566b;
}

a:hover
{
	text-decoration: none;
}

table.green, div.green
{
	margin: 20px 0;
	width: 100%;
	border: 1px solid #eefac5;
	font-size: 1em;
}

div.green
{
    padding: 2px;
}

div.green p
{
    margin: 10px;
}

table.green th, div.green h3
{
	margin: 0;
	padding: 6px 4px;
	background-color: #690;
	color: #fff;
	font-size: 1em;
	font-weight: normal;
	text-align: left;
}

table.green td
{
	padding: 6px 4px;
}

div.errors
{
    margin: 10px;
    padding: 50px 30px;
    border: 1px solid #eefac5;
    background-image: url("../img/error.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
    font-size: 1.3em;
    color: #690;
}

label.optional
{
    color: #555;
}

td label.error
{
    color: #b44;
    font-weight: bold;
}

td input.error, td textarea.error
{
    border: 1px solid #b44;
}

img.help
{
    margin-left: 10px;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

div.help
{
    color: #690;
    font-size: .8em;
}

div.error
{
    color: #b44;
    font-size: .8em;
}

/*div#messages {
  font-size: 1.2em;
  background: #00a;
  color : #fff;
  padding : 10pt;
}*/
  
/*Added by Julia*/
div#messages {
	border:solid 1px #349534; 
	background:#C9FFCA;
	color:#008000;
	font-weight:bold;
	padding:4px;
	text-align:center;
	margin-top: 5px;
	}

.file-error{
		border:solid 1px #CC0000; 
		background:#F7CBCA;
		color:#CC0000;
		font-weight:bold;
		padding:4px;
		text-align:center;
}
	
fieldset {
  font-size: 100%;
  border: 1px solid #eefac5;
  margin: 15px 0;
}

fieldset legend {
  margin: 0;
  padding: 8px;
  background-color: #690;
  color: #fff;
  border: 1px solid #eefac5;
}

fieldset dt {
	float: left;
}

fieldset dd {
	margin: 0 5em 1em 5em;
}



span.required
{
    color: #b44;
    font-size: .7em;
    text-transform: uppercase;
}

ul li
{
    margin: 5px 0;
    padding: 0;
    list-style-type: square;
}

/* specificity */
html body div#content .mini
{
    float: left;
    width: 45%;
    margin-right: 20px;
}

p.starsbutton 
{
	background-color:#669900 !important;
	font-family:Lucida Sans,sans-serif;
	font-size:14px !important;
	font-weight:bold;
	letter-spacing:-1px;
	padding:4px !important;
	width: 150px;
	text-align: center;
	border: 1px solid #394F0F;
}

p.starsbutton a
{
	color: #fff;
	text-decoration: none;
}

p.starsbutton a:hover
{
	color: #394F0F;
	text-decoration: none;
}
