{% extends 'institutions/data_displays/base.html' %}

{% block crumbs %}
	{{ block.super }} &gt;
	<a href='/institutions/data-displays/content/'>Content</a>
{% endblock %}

{% block title %}Content | {{ block.super }}{% endblock %}

{% block body_onload %}{{ block.super }}initLookup();initPullDowns();{% endblock %}

{% block extra_head %}
	<script src='/media/static/js/ajax.js' type='text/javascript'></script>
	<script type='text/javascript'>
		function initPullDowns() {
			{% if reporting_field %}
				initCategory({{ reporting_field.credit.subcategory.category.id }});
				initSubcategory({{ reporting_field.credit.subcategory.category.id }}, {{ reporting_field.credit.subcategory.id }});
				initCredit({{ reporting_field.credit.subcategory.id }}, {{ reporting_field.credit.id }});
				initField({{ reporting_field.credit.id }}, {{ reporting_field.id }});
			{% else %}
				initCategory(null);
			{% endif %}
		}
	</script>
{% endblock %}

{% block content %}
	<div class='inner20'>
	<h1>STARS Report Content</h1>
	{% load content %}
    {% display_block_content 'data_display_content' user %}
	<form method='POST' action='.' id='filterForm'>
		<div class='greyBox'>
			Display results for institutions with the following characteristics:<br/><br/>
			<table class='filterList'>
				<tr>
					<th></th>
					<th>Type of Characteristic</th>
					<th>Specific Characteristic</th>
					<th></th>
				</tr>
				{% for k, f in form.forms.filters.forms.delete_forms.forms.items %}
					<tr>
						<td style="text-align: center;">
							<img src='/media/static/images/delete_grey_x.png' alt='[x]' onclick="deleteFilter('{{ k }}');" style='cursor: pointer;' />
							{{ f.delete }}
							{{ f.errors }}
						</td>
						<td>{{ f.instance.type }}</td>
						<td>{{ f.instance.item }}</td>
						<td></td>
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td>
						{{ form.forms.filters.forms.new_filter_form.type }}
						{{ form.forms.filters.forms.new_filter_form.errors.type }}
					</td>
					<td>
						{{ form.forms.filters.forms.new_filter_form.errors.item }}
						{{ form.forms.filters.forms.new_filter_form.item }}
					</td>
					<td><button type='submit'>Run Report</button></td>
				</tr>
			</table>
		</div>
		<div style='text-align: center'>
			<img src='/media/static/images/arrow_down.png' />
		</div>
		<div class='greyBox'>
			<p>Use the drop down menus, below, to find the reporting field of interest (note: you must begin each
search by selecting a category, then a subcategory, and so on):</p>
			<table style='margin: 0px auto;' class='vertical'>
				<tr>
					<th>
						Category:
					</th>
					<td>
						<select id='category_select' onchange='selectCategory(this);'>
							<option value=''>-------</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>
						Subcategory:
					</th>
					<td>
						<select id='subcategory_select' onchange='selectSubcategory(this);'>
							<option value=''>-------</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>
						Credit:
					</th>
					<td>
						<select id='credit_select' onchange='selectCredit(this);'>
							<option value=''>-------</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>
						Reporting Field:
					</th>
					<td>
						{{ form.forms.reporting_field.reporting_field }}
					</td>
				</tr>
			</table>
			<div style='text-align: center'>
				<button type='submit'>Apply</button>
			</div>
		</div>
	</form>
	<div style='text-align: center'>
		<img src='/media/static/images/arrow_down.png' />
	</div>
	<table id='institution_list' class='greyTable'>
       	{% if object_list %}
	       	<tr>
	       		<th style='text-align: left'>
	       			Matching Institutions
	       		</th>
	       		<th>
	       			Credit Score
	       		</th>
				<th>
					{{ reporting_field.title }}
				</th>
	       	</tr>
	       	{% for o in object_list %}
	       		<tr class="{% cycle 'even' 'odd' %}">
	       			<td style='text-align: left;white-space: nowrap;'>
	       				<a href='{{ o.ss.get_scorecard_url }}'>{{ o.ss }}</a>
	       			</td>
	       			<td>
	       				<a href='{{ o.credit.get_scorecard_url }}'>{{ o.score }}</a>
	       			</td>
	       			<td>
       					{% with field=o.field %}
       						{% if not field.is_empty %}
       							{% include 'institutions/scorecards/field_formatting.html' %}
       						{% else %}
       							--
       						{% endif %}
       					{% endwith %}
	       			</td>
	       		</tr>
	       	{% endfor %}
	    {% else %}
       		<tr><td colspan="6">
       			<p style='padding: 30px;'>
       				No results yet. Please filter on a characteristic above.
       			</p>
       		</td></tr>
       	{% endif %}
	</table>
	</div>
{% endblock %}