{% extends 'institutions/data_displays/dashboard_base.html' %}

{% load thumbnail %}
{% load content %}
{% load institution_lists %}
{% load compress %}

{% block crumb-tab %}
  <li>STARS Dashboard</li>
{% endblock %}

{% block title %}Dashboard | {{ block.super }}{% endblock %}

{% block body_onload %}{{ block.super }}initialize();{% endblock %}

{% block extra_head %}
  <style type='text/css'>
   #map_canvas img {
     max-width: none;
   }
   #map_canvas label {
     width: auto; display:inline;
   }
  </style>

  {{ block.super }}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

{% compress js %}

  <script type="text/javascript">
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
     // Create and populate the data table.
     var data = new google.visualization.DataTable();
     data.addColumn('string', 'Task');
     data.addColumn('number', 'Hours per Day');
     data.addRows(5);
     data.setValue(0, 0, 'Platinum');
     data.setValue(0, 1, {{ ratings.Platinum }});
     data.setValue(1, 0, 'Gold');
     data.setValue(1, 1, {{ ratings.Gold }});
     data.setValue(2, 0, 'Silver');
     data.setValue(2, 1, {{ ratings.Silver }});
     data.setValue(3, 0, 'Bronze');
     data.setValue(3, 1, {{ ratings.Bronze }});
     data.setValue(4, 0, 'Reporter');
     data.setValue(4, 1, {{ ratings.Reporter }});

     // Create and draw the visualization.
     new google.visualization.PieChart(document.getElementById('ratingChart')).
                                                               draw(data,
                                                                    {
       is3D: true,
       legend: 'left',
       backgroundColor: "#f5f5f5",
       colors: [
         "#8E8C8A", // platinum
         "#A39161", // gold
	       "#A7A9AC", // silver
	       "#8C7459", // bronze
	       "#848E2B", // reporter
       ],
       pieResidueSliceColor: "#1b617f"
     });
   }
  </script>

  <script type="text/javascript">
   function drawAreaChart() {

     var data = new google.visualization.DataTable();
     data.addColumn('string', 'Month');
     data.addColumn('number', 'Registrants');
     data.addColumn('number', 'Active Participants');
     data.addColumn('number', 'Rated Institutions');

     data.addRows([
       {% for row in ratings_subscriptions_participants %}
         ["{{ row.date|date:"M y" }}", {{ row.participant_count|stringformat:"d" }}, {{ row.active_participants|stringformat:"d" }}, {{ row.rating_count|stringformat:"d" }}]{% if not forloop.last %},{% endif %}
       {% endfor %}
     ]);

     // Create and draw the visualization.
     var ac = new google.visualization.LineChart(document.getElementById('areaChart'));
     ac.draw(data, {
       backgroundColor: "#f5f5f5",
       colors: ["#00A060", "#6BBC49", "#CEDC45"],
       legend: 'top',
       hAxis: {title: 'Date'},
       vAxis: {title: "Total"},
       pointSize: 2
     });
   }

   google.setOnLoadCallback(drawAreaChart);
  </script>

  <script type="text/javascript">
   function drawBarChart() {
     // Create and populate the data table.
     var data = new google.visualization.DataTable();

     data.addColumn('string', 'Category');
     data.addColumn('number', 'Score');

     data.addRows([
       {% for row in bar_chart|dictsort:"ord" %}
       ['{{ row.short }}', {{ row.avg|floatformat:2 }}]{% if not forloop.last %},{% endif %}
       {% endfor %}
     ]);

     // Create and draw the visualization.
     new google.visualization.ColumnChart(document.getElementById('barChart')).
                                                                  draw(data,
                                                                       {
       backgroundColor: "#f5f5f5",
       colors: ["#0080CF", "#00BCE4"],
       legend: 'none',
       hAxis: {title: 'Category'},
       vAxis: {title: "Average Score", baseline: 0},
     });
   }
  </script>

{% endcompress %}

{% endblock %}

{% block h1 %}STARS Dashboard{% endblock %}

{% block active_summary %} class='active' {% endblock %}

{% block tab_content %}
  {{ block.super }}

  <div class="row">
    <div class="span12">
      <h2 class='dashboard'>Current Ratings</h2>
    </div>
    <div class="span8">
      <div class="dashboard-chart" id="ratingChart"></div>
    </div>
    <div class="span4">
      <table class="table table-condensed">
	<tbody>
	  <tr>
	    <th>Platinum</th>
	    <td style="text-align:right">{{ ratings.Platinum }}</td>
	  </tr><tr>
	    <th>Gold</th>
	    <td style="text-align:right">{{ ratings.Gold }}</td>
	  </tr><tr>
	    <th>Silver</th>
	    <td style="text-align:right">{{ ratings.Silver }}</td>
	  </tr><tr>
	    <th>Bronze</th>
	    <td style="text-align:right">{{ ratings.Bronze }}</td>
	  </tr><tr>
	    <th>Reporter</th>
	    <td style="text-align:right">{{ ratings.Reporter }}</td>
	  </tr>
	</tbody>
      </table>
      {% display_block_content 'dash_ratings' user %}
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h2 class='dashboard'>Participation</h2>
    </div>
    <div class="span8">
      <div class="dashboard-chart" id="areaChart"></div>
    </div>
    <div class="span4">
      <table class="table table-condensed">
	<tbody>
	  <tr>
	    <th>Registrants</th>
	    <td style="text-align:right">{{ total_participant_count }}</td>
	  </tr>
          <tr>
	    <th>Active Participants</th>
	    <td style="text-align:right">{{ current_active_participants }}</td>
	  </tr>
      <tr>
	    <th>Rated Institutions</th>
	    <td style="text-align:right">{{ total_rating_count }}</td>
	  </tr>
	</tbody>
      </table>
      {% display_block_content 'dash_parts_and_subs' user %}
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h2 class='dashboard'>Participants by Country</h2>
    </div>
      <div class="span12 dashboard-map" id="map_canvas" style='height: 500px;'></div>
  </div>
  <div class="well well-sm">
      STARS pins represent rated institutions. Green dots are unrated institutions
      with full access. Blue dots are unrated institutions with basic access.
  </div>

  <br>

  <div class="row">
    <div class="span6">
      <table class="table table-condensed">
	<tbody>
          {% for country, count in participants %}
            {% if forloop.counter <= half_num_participants %}
	      <tr>
	        <th>{{ country }}</th>
	        <td style="text-align:right">{{ count }}</td>
	      </tr>
            {% endif %}
          {% endfor %}
	</tbody>
      </table>
    </div>
    <div class="span6">
      <table class="table table-condensed">
	<tbody>
          {% for country, count in participants %}
            {% if forloop.counter > half_num_participants %}
	      <tr>
	        <th>{{ country }}</th>
	        <td style="text-align:right">{{ count }}</td>
	      </tr>
            {% endif %}
          {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block extra_footer %}
  {{ block.super }}

  {% show_institutions_map %}

{% endblock %}
