{% extends 'institutions/data_displays/base.html' %}

{% load content %}

{% block crumbs %}
	{{ block.super }} &gt;
	<a href='/institutions/data-displays/scores/'>Scores</a>
{% endblock %}

{% block title %}Scores | {{ block.super }}{% endblock %}

{% block body_onload %}{{ block.super }}initLookup();{% endblock %}

{% block tabclass %}class='tab4'{% endblock %}

{% block extra_head %}
	{{ block.super }}
	{% include "institutions/data_displays/filter_js.html" %}
{% endblock %}

{% block h1 %}STARS Report Scores{% endblock %}

{% block tab_content %}
    {% display_block_content 'data_display_scores' user %}
	<form method='POST' action='.' id='filterForm'>
		{% with new_filter_form=form.forms.filters.forms.new_filter_form %}
		{% with delete_forms=form.forms.filters.forms.delete_forms %}
			{% include 'institutions/data_displays/top_level_filters.html' %}
		{% endwith %}{% endwith %}
		<div style='text-align: center'>
			<img src='/media/static/images/arrow_down.png' />
		</div>
		<div class='greyBox'>
			{% display_block_content 'data_display_score_second_filter' user %}
			<table style='margin: 0px auto;'>
				{{ form.forms.columns }}
			</table>
			<div style='text-align: center'>
				<button type='submit'>Apply</button>
			</div>
		</div>
	</form>
	<div style='text-align: center'>
		<img src='/media/static/images/arrow_down.png' />
	</div>
	<table id='institution_list' class='greyTable'>
		
       	{% if object_list %}
       		<tr>
	       		<th style='text-align: left'>
	       			Matching Institutions
	       		</th>
	   			{% for k, col in columns %}
	   				{% if col %}
	   					<th>{{ col }}</th>
	   				{% endif %}
	   			{% endfor %}
	       	</tr>
	       	{% for o in object_list %}
	       		<tr class="{% cycle 'even' 'odd' %}">
	       			<td style='text-align: left;white-space: nowrap;'>
	       				<a href='{{ o.ss.get_scorecard_url }}'>{{ o.ss }}</a>
	       			</td>
	       			{% for col in o.cols %}
	       				<td>
	       					<a href='{{ col.url }}'>
	       						{{ col.score }}{{ col.units }}
	       					</a>
	       				</td>
	       			{% endfor %}
	       		</tr>
	       	{% endfor %}
	    {% else %}
       		<tr><td colspan="6">
       			<p style='padding: 30px;'>
       				No results yet. Please filter on a characteristic above.
       			</p>
       		</td></tr>
       	{% endif %}
	</table>
{% endblock %}