
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a href="/institutions/data-displays/dashboard/"
            class="nav-link {% if active == 'dashboard' %} active {% endif %}">
			STARS Dashboard
		</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'institutions:data_displays:categories_data_display' display_version %}?institution__institution_type=DO_NOT_FILTER"
            class="nav-link {% if active == 'categories' %} active {% endif %}">
			Category Display
		</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'institutions:data_displays:scores_data_display' display_version %}?institution__institution_type=DO_NOT_FILTER"
            class="nav-link {% if active == 'scores' %} active {% endif %}">
			Score Display
		</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'institutions:data_displays:content_data_display' display_version %}?institution__institution_type=DO_NOT_FILTER"
            class="nav-link {% if active == 'content' %} active {% endif %}">
			Content Display
		</a>
	</li>
</ul>
