{% extends 'base.html' %}

{% block content %}
    {% if site_status.maintenance_mode %} {% comment %} because login is available for staff while site is in maintenance mode {% endcomment %}
        {% include 'helpers/temporary_unavailable.html' %}
    {% endif %}
    <div><div class='inner20'>
        {% if site_status.maintenance_mode %} 
            <h1> Login is presently restricted to AASHE Staff only.</h1>
        {% else %}
            <h1>Login with your AASHE Account</h1>
        {% endif %}
        
        <form action='.' method='post' class='generalForm'>
            <table>
                {{ form }}
                <input type='hidden' name='next' value='{{ next }}' />
            </table>
            <div class='button_row'><button type='submit'>Log in</button></div>
        </form>
        
        <div class='help_note'>
            <span class='help_text'>
                <p>
                    <b>Having trouble logging in?</b><br/>
                    To access the STARS Reporting Tool you need to have an <a href='http://www.aashe.org/accounts/help'>AASHE Account</a>. If you do not have an AASHE Account, please <a href='http://www.aashe.org/user/register'>create one</a>.
                </p>
                <p style='text-align: center'><br/>
                    <a href='http://www.aashe.org/user/password'>Forgot your password?</a>
                </p>
            </span>
        </div>
    </div></div>
    
{% endblock %}
