<p align="center"><b>Sustainability 
Tracking, Assessment and Rating System ("STARS")</b></p> 
<p align="center"><b>VERSION 1.0</b> <br> 
</p> 
<p align="center"><u>Terms and 
Conditions of Use</u> <br></p> 
<p><b>1.         
Definitions</b> <br></p> 
<p>1.1       
The term "AASHE" refers to the Association for the Advancement of 
Sustainability in Higher Education ("AASHE"), a registered non-profit 
corporation of the State of Massachusetts with authority to transact 
business in the State of Kentucky, with an address of 213 1/2 N. Limestone, 
Lexington, Kentucky 40507, and all of its respective employees, agents, 
officers, directors, assigns and successors in interest. <br> 
</p> 
<p>1.2 The term "Business Day" 
refers to any day of the week excepting Saturday and Sunday and any 
U.S. federal holiday. <br></p> 
<p>1.3 The words "eligible" 
and "eligibility" refer to whether a Participant meets the STARS 
criteria, as detailed in STARS 1.0.   <br></p> 
<p>1.4 The word "Participant" 
refers to any eligible institution of higher education that has initiated 
the STARS Rating Process. <br></p> 
<p>1.5       
The term "STARS 1.0" (also referred to as "STARS") refers to 
Version 1.0 of the voluntary, self-reporting framework designed by AASHE 
to gauge and recognize the relative progress of colleges and universities 
toward sustainability.  Information about STARS and guidelines for participation 
are located at the website address <a href="http://stars.aashe.org" target="_blank"><u>stars.aashe.org</u></a>. <br></p> 
<p>1.6       
The term "STARS Reporting Tool" refers to the STARS web interface 
that allows Participants to upload information relevant to their STARS 
application or rating. <br></p> 
<p>1.7       
The term "STARS Rating Process" refers to the applicable process 
for submitting and obtaining or maintaining a new or updated STARS rating. <br> 
</p> 
<p><b>2.         
Scope of Binding Agreement</b> <br></p> 
<p>2.1       
These Terms and Conditions ("Terms") constitute a fully integrated 
agreement ("Agreement") between the Participant and AASHE that supersedes 
any and all prior agreements between the Participant and AASHE concerning 
the use of STARS 1.0. If there is a discrepancy or conflict between 
these terms and any other source of information on STARS Version 1.0, 
these terms shall govern.  These Terms and Conditions shall also 
apply to use of any future version of STARS, unless otherwise indicated. <br> 
</p> 
<p>2.2       
The Participant acknowledges and agrees that, once accepted by clicking 
on the Terms and Conditions "accept" button displayed during the 
online registration process, these Terms are enforceable as a binding 
contract.  By accepting this Agreement, the Participant agrees to be 
bound by all the terms of this Agreement.  <br></p> 
<p><b>3. 
 Eligibility </b> <br></p> 
<p>In accepting these Terms, the 
Participant accepts that AASHE has the right to grant, withhold, or 
deny a STARS rating, or to withdraw or revoke a rating previously given, 
if AASHE determines that the Participant does not meet the eligibility 
requirements stated in STARS 1.0.  <br></p> 
<p><b>4. 
 Duties of the Participant</b> <br></p> 
<p>4.1 The Participant must submit 
all data related to obtaining, maintaining, or updating a STARS rating 
through the STARS Reporting Tool.  Only information that is submitted 
through the STARS Reporting Tool will be considered in awarding the 
STARS Rating. <br></p> 
<p>4.2 In addition to submitting 
information through the STARS Reporting Tool, the Participant must publish 
all data, information, and supporting materials related to obtaining, 
maintaining, or updating its STARS rating on a website that is freely 
available to the public.  <br></p> 
<p>4.3 All information that is 
submitted for purposes of obtaining, maintaining, or updating a STARS 
rating must be correct and accurate.  Any incorrect or inaccurate 
information within a submission must be immediately corrected through 
the STARS Reporting Tool, and in no event shall such corrective action 
occur later than fifteen (15) Business Days of the Participant's notification 
or discovery of the inaccuracy.  <br></p> 
<p>4.4 The Participant must routinely 
supplement previously-submitted information that has become inaccurate 
or incorrect due to a change in the underlying factual situation or 
circumstances of the Participant's submission. <br></p> 
<p>4.5 The Participant must timely 
pay all fees associated with the STARS Rating Process.  Failure 
to pay any fees required by STARS 1.0 in a timely manner, as determined 
by AASHE, may result in withholding or withdrawal of a STARS rating. <br> 
</p> 
<p><b>5. Rights of AASHE</b> <br> 
</p> 
<p>5.1 In accepting these Terms, 
the Participant acknowledges that AASHE is the final arbiter in matters 
relating to the interpretation and application of the STARS Guidelines, 
including all rating criteria.  The Participant further acknowledges 
that AASHE's determination and interpretation of all aspects of the 
STARS Guidelines, including applicability, is controlling in any dispute 
over the meaning or application of the STARS Guidelines. <br> 
</p> 
<p>5.2 In accepting these Terms, 
the Participant acknowledges that AASHE has the right to correct any 
inaccurate information submitted by a Participant. <br> 
</p> 
<p>5.3 In submitting data and information 
to AASHE for purposes of obtaining, maintaining, or updating a STARS 
rating, the Participant grants AASHE the right to use the submitted 
data for purposes of research, reports, publicity, comparison, or other 
such uses. <br> 
</p> 
<p><b>6.       
  Use and Protection of Intellectual Property</b> <br> 
</p> 
<p>6.1       
The intellectual property rights in STARS 1.0 and the materials, programs 
and processes made available through its use are the sole property of 
AASHE, a registered 501(c)(3) Public Charity of the State of Massachusetts.  
STARS 1.0 may contain other proprietary notices and copyright information, 
the terms of which must be observed and followed.  Unless otherwise 
noted, all information, text, articles, data, images, documents, software 
or other materials (collectively hereinafter referred to as the &quot;Materials&quot;) 
contained in STARS 1.0, including online Materials, are copyrighted 
by AASHE. <br></p> 
<p>6.2      
The Participant may not copy, distribute, sell, or modify the Materials 
without the express, prior written consent of the Copyright Holder. <br> 
</p> 
<p><b>7.         
Release and Limitation of Liability</b> <br></p> 
<p>7.1       
None of the parties involved in the funding, creation, or administration 
of STARS 1.0, including AASHE or its affiliates, employees, volunteers 
or contractors, assume any liability or responsibility to the Participant, 
user or any third parties for the accuracy, completeness, or use of 
or reliance on any information contained in STARS  or submitted by Participants, 
or for any injuries, losses, or damages (including, without limitation, 
equitable relief) arising from such use or reliance. <br> 
</p> 
<p>7.2 All STARS materials are 
provided without warranties of any kind, either express or implied, 
including but not limited to warranties as to the accuracy or completeness 
of information or the suitability of the information for any particular 
purpose. <br></p> 
<p>7.3  The Participant hereby 
waives and releases all claims, losses, and causes of action against 
AASHE arising out of, or in any way related to, the use of the STARS 
system other than claims and causes of action for the Participant's 
losses, damages, costs or expenses that are the direct and proximate 
result of AASHE's willful misconduct, gross negligence, or wanton 
or reckless behavior. <br></p> 
<p>7.4 AASHE is not responsible 
for the accuracy or availability of Participant's or any third-party 
information; AASHE's reference to any information controlled or maintained 
by any party other than AASHE does not constitute an endorsement or 
warranty of any kind either express or implied including the implied 
warranty of merchantability and/or implied warranty of fitness for any 
particular use.  <br></p> 
<p><b>8.         
Indemnification</b> <br></p> 
<p>With respect to any and all 
uses of STARS 1.0, the Participant agrees to indemnify AASHE for, and 
to hold AASHE harmless against, any and all third-party claims, judgments, 
liabilities, causes of action, losses, damages, costs, expenses or any 
other potential remedy arising from, or in any way related to, the use 
of STARS 1.0 to the extent that such claim, judgment, liability, cause 
of action, loss, damage, cost or expense was not caused by AASHE's 
gross negligence, willful misconduct, or wanton and reckless behavior.  <br> 
</p> 
<p><b>9.         
Mediation</b> <br></p> 
<p>With regard to any claim or 
dispute arising out of the participant's application for a STARS Rating, 
AASHE will have thirty (30) calendar days after receiving notice of 
the dispute to elect to refer the claim to non-binding mediation (hereafter 
referred to as "Mediation").  If AASHE refers the Participant's 
claim to Mediation, then the Participant shall not be entitled to commence 
litigation against AASHE until after the Mediation is completed as documented 
by a letter from the mediator stating that the Mediation is completed; 
provided, however, that if there comes a time when the applicable statute 
of limitations for the Participant's claim will expire within ninety 
(90) calendar days and the Mediation has not been completed, then the 
Participant may commence litigation for the sole purpose of satisfying 
the applicable statute of limitations and the Participant shall immediately 
stay such litigation until the Mediation is completed.  Mediation shall 
take place in person in the State of Kentucky, United States, before 
a mediator jointly selected by the Participant and AASHE, and both the 
Participant and AASHE shall have at least one person attend the Mediation 
in person who has full authority to settle the Participant's claim. 
The costs and fees billed by the mediator shall be split and paid equally 
by the Participant and AASHE. <br></p> 
<p><b>10. Notice of Claims</b> <br> 
</p> 
<p>10.1       If any Participant or 
third-party has been damaged by any act or omission of AASHE, then, 
within thirty (30) calendar days after the occurrence of each such act 
or omission, the Participant or third-party must provide AASHE with 
written notice describing with reasonable detail the act and/or omission, 
how the Participant or third-party was damaged by it, and a reasonable 
estimate of the extent of monetary amount of the damages the Participant 
or third-party claims to have suffered. The Participant or third-party 
must provide this written notice to AASHE by certified mail, return 
receipt requested, addressed as follows: <br></p> 
<p>AASHE  <br> 
213  1/2 N. Limestone <br> 
Lexington, KY 40507  <br> 
</p> 
<p>10.2       The act of providing AASHE 
with the notice in the manner and within the time frame described in 
paragraph 10.1, above, is an EXPRESS CONDITION PRECEDENT to the Participant 
or third-party's right to commence and maintain litigation against 
AASHE. The Participant or third-party knowingly and intelligently waives 
any and all claims and causes of action against AASHE to the extent 
that the Participant or third-party does not provide AASHE with the 
notice in the manner and within the time frame described in paragraph 
10.1, above. Further, Participant or third-party agrees not to commence 
litigation against AASHE until sixty (60) calendar days after AASHE 
receives (as evidenced by AASHE's signature on the return receipt) 
the written notice described in paragraph 10.1, above. The Participant's 
and third-party's right to commence and maintain litigation against 
AASHE is further limited as described in paragraphs 7, 9, and 11 and 
12 below.   <br> <br></p> 
<p><b>11.       
Governing Law</b> <br></p> 
<p>These Terms, and all of the 
rights and duties of the Participant and AASHE arising out of or related 
to the use of STARS 1.0, or arising out of or related to the relationship 
between the Participant and AASHE, are governed by the laws of the State 
of Kentucky, United States of America, without regard to its conflicts 
of law rules.  This provision applies to all claims and causes of action 
against AASHE, whether based in law or equity.   <br> 
</p> 
<p><b>12.       
Venue</b> <br></p> 
<p>The Participant agrees that 
any and all claims and causes of action against AASHE shall be commenced 
in and decided exclusively by a court of competent jurisdiction located 
in the State of Kentucky, United States of America. The Participant 
agrees to submit to the personal and exclusive jurisdiction of the courts 
located in the State of Kentucky, United States of America. The Participant 
waives all defenses and arguments contending that the courts located 
in the State of Kentucky, United States of America, constitute an inconvenient 
forum based upon the Participant's residence, domicile, the location 
of the project that is the subject of the litigation, the location of 
witnesses, the location of documents, or any other basis. The Participant 
knowingly and intelligently waives its right to a jury trial with respect 
to any and all claims and causes of action against AASHE. <br> 
</p> 
<p><b>13.       
No Third-Party Beneficiaries</b> <br></p> 
<p>These Terms, and the Agreement, 
are for the sole and exclusive benefit of the Participant and AASHE. 
Nothing in these Terms, or the Agreement, shall be deemed to create 
any third party beneficiaries or confer any benefit or rights on or 
to any person other than the Participant and AASHE.  Only the Participant 
and AASHE shall be entitled to enforce these Terms and to exercise the 
rights contained within them. <br></p> 
<p><b>14. Use of 
the STARS Reporting Tool</b> <br></p> 
<p>14.1       The STARS Reporting Tool, 
available online, is designed and administered solely for the purpose 
of facilitating the STARS rating process. You acknowledge that access 
to certain sections and use of certain services provided through the 
STARS Reporting Tool may require the acceptance of additional terms 
and conditions. Such additional terms and conditions will be presented 
to you where applicable. <br></p> 
<p>14.2       You agree that your use 
of the STARS Reporting Tool will be to effect lawful purposes only. 
Further, you agree that you will not post to or transmit through the 
STARS Online Reporting Tool any information containing threatening, 
offensive, abusive, harassing, or defamatory content.   <br> 
</p> 
<p>14.3       You agree that you shall 
not use the STARS Reporting Tool for the purposes of advertising, to 
collect site content for commercial purposes including screen scraping, 
to collect user or project information for commercial purposes, and/or 
to solicit others with respect to the purchase or sale of products or 
services. <br> <br></p> 
<p><b>15.       
Miscellaneous</b> <br></p> 
<p>15.1     
If any provision set forth in these Terms and in the Agreement, or the 
application thereof to any circumstance, shall, to any extent, be found 
by a court of competent jurisdiction to be invalid, illegal or unenforceable, 
in any respect the validity, legality and enforceability of the remaining 
provisions contained herein will not in any way be affected or impaired 
thereby; AASHE and the Participant will endeavor to replace any invalid, 
illegal or unenforceable provision as may be necessary or desirable 
in the circumstances to achieve, as closely as possible, the original 
intent of the provisions and terms of this Agreement. <br> 
</p> 
<p>15.2     
The headings used in this document are for ease of reference only and 
shall not in any way be construed to limit or alter the meaning of any 
provision. <br></p> 
<p>15.3     Any 
rule that ambiguities are construed or interpreted against the drafter 
of a document, or against the party for whose benefit the document is 
made, shall not apply to these Terms. <br></p> 
<p>15.4     
These Terms may only be modified in writing and all such written modifications 
must be signed by the Participant and the then-current Executive Director 
or Chair of the Board of Directors of AASHE.  No other individuals have 
the authority to modify these Terms on behalf of AASHE.  No action or 
inaction by AASHE shall be construed as a waiver of this or any other 
provision of these Terms. <br> <br> <br> 
</p>