{% extends 'base.html' %}

{% block title %}Institutions | {{ block.super }}{% endblock %}

{% block main_menu %} 
	{% with selected="mm_institutions" %}
    	{% include 'helpers/main_menu.html' %}
    {% endwith %}
{% endblock %}

{% block crumbs %}
    <a href='/institutions/'>STARS Institutions</a>
{% endblock %}

{% block content %}
    <div class='inner20'>
      <h1>{% block h1 %}STARS Institutions{% endblock %}</h1>
      {% block page_description %}{% endblock %}
        <ul id="tabnav" {% block tabclass %}class='tab1'{% endblock %}>
            <li class="tab2"><a href="/institutions/data-displays/dashboard/">Dashboard</a></li>
            <li class="tab1"><a href="/institutions/">Current Participants</a></li>
            <li class="tab6"><a href="/institutions/rated/">Rated Institutions</a></li>
            <li class="tab3"><a href="/institutions/data-displays/categories/">Category Display</a></li>
            <li class="tab4"><a href="/institutions/data-displays/scores/">Score Display</a></li>
            <li class="tab5"><a href="/institutions/data-displays/content/">Content Display</a></li>
        </ul>
        <div class='tabContent'>
            {% block tab_content %}{% endblock %}
        </div>
    </div>
{% endblock %}