{% comment %}
  Intended to handle both category and subcategory submission summary.
  Takes:  category_type:  'category' or 'subcategory'
          category_class: 'expanded' or 'collapsed'
          submission_object:  a CategorySubmission or a SubcategorySubmission object
          child_summary_template:  name of template to include for displaying child objects.
{% endcomment %}
{% load submit_tags %}
      <div id='{{ submission_object.get_id }}' class='{{category_type}}_summary headed_list {{category_class}}'>
        <span class='header'>
          <table><tr class='{{category_type}}_summary'>
          <td class='label {{ label_class }}'>
            <img
                {% ifequal category_class 'collapsed' %} 
                    src='/media/static/images/expand.png' class='expand' title='expand' alt='[+]' 
                {% else %}
                    src='/media/static/images/collapse.png' class='collapse' title='collapse' alt='[-]' 
                {% endifequal %}
              onclick='expand_collapse(document.getElementById("{{ submission_object.get_id }}"));' />
            <a href='{{ submission_object.get_report_url }}'>{{ submission_object }}</a>
          </td>
          <td class='status'>
            {% if not submissionset.is_rated and submission_object.get_status %}
              ({{ submission_object.get_status }})
            {% endif %}
            &nbsp;
          </td>
          <td class='points'>
            {{ submission_object.get_claimed_score|floatformat:2 }} / {% format_available_points submission_object %}
          </td>
          <td class='score'>
            {{ submission_object.get_STARS_score|floatformat:2 }}
              {% if not submission_object.is_innovation %} %  {% endif %}
          </td>
          </tr></table>
        </span>
        
        {% include child_summary_template %}
      </div>