{% extends 'institutions/base.html' %}

{% block crumb-tab %}
	<li>Current</li>
{% endblock %}

{% block h1 %}Current STARS Participants{% endblock %}

{% block tabs %}
	{% with active='current' %}{% include "institutions/data_displays/tabs.html" %}{% endwith %}
{% endblock %}

{% block tab_content %}

    <span class="help_text"> <p>
    The following <b>{{ inst_count }} institutions</b> are current STARS Participants. Of these institutions
    <b>{{ member_count }} are AASHE members</b> (<sup class='symbol'>m</sup>),
    <b>{{ charter_count }} are STARS Charter Participants</b> (<sup class='symbol'>c</sup>),
    <b>{{ international_count }} are participating in the International Pilot</b> (<sup class='symbol'>i</sup>)
    and <b>{{ pilot_count }} participated in the original STARS pilot</b> (<sup class='symbol'>p</sup>).
    </p> </span>
    {% load cache %}
    {% cache 900 institution_list sort_key rev %}
      <table id="institution_list" class="table table-striped table-condensed">
      	<thead>
        <tr>
          {% for col in sort_columns %}
            <th>
                {% ifequal col.key sort_key %}
                    <a href='?sort={{ rev }}{{ col.key }}' title='sort'>{{ col.title }}</a>
                    <img src='/media/static/images/{% ifequal rev '-' %}sort_desc.png{% else %}sort_asc.png{% endifequal %}' alt='^'/>
                {% else %}
                    <a href='?sort={{ col.key }}' title='sort'>{{ col.title }}</a>
                {% endifequal %}
            </th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for institution in object_list %}
          <tr class="{% cycle 'even' 'odd' %}">
            <td style='text-align: left'>
                {% if institution.current_rating %}
                    <a href="{% url 'institutions:scorecard-list' institution.slug %}">
                        {{ institution }}
                    </a>
                {% else %}
                    {{ institution }}
                {% endif %}
                {% include "institutions/inst_property_icons.html" %}
            </td>
            <td>
                {% if institution.current_rating %}
                    {{ institution.current_rating }}
                {% endif %}
            </td>
            {% comment %}
            <td>
            	{{ submissionset.creditset.version }}
            </td>
            {% endcomment %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
	{% endcache %}

    <script>
        jQuery( function($) {
            $('tbody tr').addClass('clickable').click( function() {
                var href = $(this).find('a').attr('href')
                if(href) {
                    window.location = href;
                }
            });
        });
    </script>

{% endblock %}
