{% extends 'base.html' %}

{% block main_menu %} 
    {% load main_menu %}
    {% show_main_menu user "institutions" %} 
{% endblock %}

{% block crumbs %} {{ block.super }} &gt; STARS Institutions {% endblock %}

{% block content %}
    <div class='inner20'>
      <h1>STARS Institutions</h1>
      {% comment %}
        <ul id="tabnav" {% block tabclass %}class='tab1'{% endblock %}>
            <!-- <li class="tab1"><a href="/institutions/rated/">Rated Institutions</a></li>-->
            <li class="tab2"><a href="/institutions/active/">In Progress</a></li>
        </ul>
       {% endcomment %}
        <div class='tabContent' style='margin: 20px';>
            {% block institution_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
