{% extends 'institutions/institution_list_base.html' %}

{% block crumbs %} {{ block.super }} &gt; Rated {% endblock %}

{% block tabclass %}class='tab1'{% endblock %}

{% block institution_content %}
      <table id="institution_list" class='greyTable'>
        <tr>
          {% for col in sort_columns %}
            <th>
                {% ifequal col.key sort_key %}
                    <a href='?sort={{ rev }}{{ col.key }}' title='sort'>{{ col.title }}</a>
                    <img src='/media/static/images/{% ifequal rev '-' %}sort_desc.png{% else %}sort_asc.png{% endifequal %}'/>
                {% else %}
                    <a href='?sort={{ col.key }}' title='sort'>{{ col.title }}</a>
                {% endifequal %}
            </th>
          {% endfor %}
        </tr>
        {% for submissionset in object_list %}
          <tr class="{% cycle 'even' 'odd' %}">
            <td style='text-align: left;'>
                <a href='{{ submissionset.get_scorecard_url }}'>{{ submissionset.institution }}</a>
            </td>
            <td>
              {{ submissionset.rating }}
            </td>
            <td>
              {{ submissionset.creditset }}
            </td>
            <td>
              {{ submissionset.date_reviewed }}
            </td>
          </tr>            
        {% endfor %}
      </table>
{% endblock %}
