{% extends 'institutions/columned_layout.html' %}

{% block crumbs %} 
    {{ block.super }}
    {% load report_tags  %}
    {% show_report_crumbs subcategory_submission %}
{% endblock %}

{% block header %}{{ subcategory_submission }}{% endblock %}

{% block report_content %}
    <div class='description'>
        {% autoescape off %}{{ subcategory_submission.subcategory.description }}{% endautoescape %}
    </div>
    <table style='margin-bottom:-10px;'><tr>
      <th class='label'>Scorecard</td>
      <th class='status'>
        {% if not submissionset.is_rated %}Status{% endif %}
      </th>
      <th class='points'>Points Earned</th>
      <th class='score'>{% if not submissionset.is_rated %}Provisional {% endif %}Score</th>
    </tr>
    </table>
    
    {% with 'subcategory' as category_type %}{% with 'institutions/subcategory_credits.html' as child_summary_template %}
      {% with subcategory_submission as submission_object %}
         {% include 'institutions/category_summary.html' %}
      {% endwith %}
    {% endwith %}{% endwith %}
{% endblock %}