
        <table class='subcategory_credits_summary'><tbody>
	       {% load submit_tags %}
	       {% for c in submission_object.creditusersubmission_set.all %}
	           <tr class='credit_summary'>
	             <td>
	               <img src='/media/static/images/{% if c.is_complete %}bullet_star.png{% else %}bullet_star_grey.png{% endif %} ' alt='' title='{{ c.get_submission_status_display }}' />
	             </td>
                 <td class='label {{ label_class }}'>
	                <a href='{{ c.get_report_url }}'>{{ c }}</a>
	             </td>
                 {% if not submissionset.is_rated %}
	                 <td class='status'>{{ c.get_status_display }}</td>
	             {% endif %}
	             <td class='points'>
	             {% if c.is_na %}
	               <span class='explanation' title='{{c.applicability_reason}}'>
	                  {{ c.get_status_display }}
	               </span>
	             {% else %}
	               {{ c.assessed_points|floatformat:2 }} / {% format_available_points c %}
	             {% endif %}
	             </td>
	           </tr>
	       {% endfor %}
	    </tbody></table>