{% extends "institutions/base.html" %}

{% block crumbs %} 
    {{ block.super }}
    {% load report_tags  %}
    {% show_report_crumbs submissionset %}
{% endblock %}

{% block report_content %}

    {% load submit_tags %}
    <div class='properties'>
      <div>
	    <table class='properties'>
	        {% if not submissionset.is_rated %}
	        <tr>
	            <th>Status</th>
	            <td>{{ submissionset.get_status }}</td>
	        </tr>
	        {% endif %}
	        <tr>
	            <th>{% if not submissionset.is_rated %}Provisional{% else %}STARS{% endif %} Rating</th>
	            <td>{{ submissionset.get_STARS_rating }}</td>
	        </tr>
	        <tr>
	            <th>STARS Version</th>
	            <td>{{ submissionset.creditset }}</td>
	        </tr>
	    </table>
	  </div>
      <div>
        <table class='properties'>
            <tr>
                <th>Registered Date</th>
                <td>{{ submissionset.date_registered }}</td>
            </tr>
            <tr>
                {% if submissionset.is_rated %}
                  <th>Approval Date</th>
                  <td>{{ submissionset.date_reviewed }}</td>
                {% else %}{% if submissionset.is_pending_review %}
                  <th>Submission Date</th>
                  <td>{{ submissionset.date_submitted }}</td>
                {% else %}
                  <th>Submission Deadline</th>
                  <td>{{ submissionset.submission_deadline }}</td>
                {% endif %}{% endif %}
            </tr>
            {% if not submission_list|length_is:'1' %}
            <tr>
                <th>Other Submissions for<br>{{ submissionset.institution }}</th>
                <td>
                  <select onchange='document.location=this.value;'>
                    {% for submission in submission_list %}
                      <option value='{{submission.get_report_url}}' {% ifequal submission submissionset %}selected{% endifequal %}>
                        {{ submission }}
                      </option>
                    {% endfor %}
                  </select>
                </td>
            </tr>
            {% endif %}
        </table>
       </div>
     </div>
     <table class='headed_list wide'>
        <tr>
            <td class='header' colspan='10'>Summary Scorecard</td>
        </tr>
        <tr>
            <th>Category</th>
            {% for cat in submissionset.categorysubmission_set.all %}
                <th>
                    <a href='{{ cat.get_report_url }}'>{{ cat }}</a>
                </th>
            {% endfor %}
            <th>Total</th>
        </tr>
        {% if not submissionset.is_rated %}
            <tr>
                <th>Credits Completed</th>
                {% for cat in submissionset.categorysubmission_set.all %}
                    <td>{% show_progress_icon cat.get_percent_complete %}
                        {{ cat.get_finished_credit_count }} / {{ cat.get_total_credits }}
                    </td>
                {% endfor %}
                <th>{% show_progress_icon submissionset.get_percent_complete %}
                    {{ submissionset.get_finished_credit_count }} / {{ submissionset.get_total_credits }}
                </th>
            </tr>
        {% endif %}
        <tr>
            <th>{% if not submissionset.is_rated %}Provisional {% endif %}Score</th>
            {% for cat in submissionset.categorysubmission_set.all %}
                <td>{{ cat.get_STARS_score|floatformat:2 }}
                    {% if not cat.category.is_innovation %} %  {% endif %}
                </td>
            {% endfor %}
            <th>
                {{ submissionset.get_STARS_score|floatformat:0 }}%
            </th>
        </tr>
    </table>
    
    <table style='margin-bottom:-10px;'><tr>
      <th class='label wide'>Detailed Scorecards</td>
      <th class='status'>
        {% if not submissionset.is_rated %}Status{% endif %}
      </th>
      <th class='points'>Points Earned</th>
      <th class='score'>{% if not submissionset.is_rated %}Provisional {% endif %}Score</th>
    </tr>
    </table>
    
    {% with 'wide' as label_class %}
    {% with 'category' as category_type %}
    {% with 'collapsed' as subcategory_class %}
    {% with 'institutions/category_subcategories.html' as child_summary_template %}
      {% for submission_object in submissionset.categorysubmission_set.all %}
         {% include 'institutions/category_summary.html' %}
      {% endfor %}
    {% endwith %}{% endwith %}{% endwith %}{% endwith %}
    
{% endblock %}