{% if rating.publish_score %}
<h2>Summary of Results</h2>
{% else %}
<h2>Table of Contents</h2>
{% endif %}

<div>
  <pdf:toc />
</div>

{% if rating.publish_score %}

<table class='scoreTable vertical'>
  <tr>
    <th>
      {% if preview %}Provisional{% endif %}
      Score
    </th>
    <td>
      {{ ss.get_STARS_score|floatformat:2 }}
    </td>
  </tr>
  <tr>
    <th>
      {% if preview %}Provisional{% endif %}
      Rating:
    </th>
    <td>
      {% if rating.publish_score %}
      {{ rating }}
      {% else %}
      Reporter
      {% endif %}
    </td>
  </tr>
</table>
{% endif %}

<table class='tableOfContents'>
  {% for cat in ss.categorysubmission_set.all %}
  {% if cat.category.include_in_report %}
  <tr class='tocCatRow'>
    <td style="width: 50%">
      <a class='tocCat' href="#cat{{ cat.subcategory.id }}">{{ cat }}</a>
    </td>
    {% if rating.publish_score %}
    <td style="width: 50%; text-align: right;">
      {% if ss.creditset.has_category_scoring_feature %}
      {% if cat.category.title != 'Innovation' %}
      {{ cat.get_STARS_score|floatformat:2 }}%
      {% else %}
      {{ cat.get_STARS_score|floatformat:2 }}
      {% endif %}
      {% endif %}
    </td>
    {% endif %}
  </tr>
  {% for sub in cat.subcategorysubmission_set.all %}
  <tr>
    <td>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class='tocSub' href="#sub{{ sub.subcategory.id }}">{{ sub }}</a>
    </td>
    {% if rating.publish_score %}
    <td style="text-align: right;">
      {{ sub.get_claimed_points|floatformat:2 }} /
      {{ sub.get_adjusted_available_points|floatformat:2 }}
    </td>
    {% endif %}
  </tr>
  {% if sub.description %}
  <tr>
    <td colspan=" 2" style="text-align: center;">
      {{ sub.description|urlizetrunc:85|linebreaks }}
    </td>
  </tr>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endfor %}
</table>
