{% extends 'dashboard/manage/base.html' %}

{% block crumbs %} {{ block.super }} &gt; Users {% endblock %}

{% block tabclass %}class='tab2'{% endblock %}

{% block help_content %}
	{% load help %}
	{% show_help_context 'manage_accounts' 0 %}
{% endblock %}

{% block institution_content %}
    <form method='post' action='/dashboard/manage/users/add/'>
        <table class='headed_list'>
            <tr>
                <td class='header' colspan='4'>Users</td>
            </tr>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th></th>
            </tr>
            {% for account in user.current_inst.starsaccount_set.all %}
            <tr>
                <td>{{ account.user.email }}</td>
                <td>{{ account.get_user_level_display }}</td>
                <td class='buttonColumn'>
                    {% ifnotequal account.user user %}
                        <a href='{{ account.get_delete_url }}'>
                            <img src='/media/static/images/delete.png' alt='delete' title='delete' />
                        </a>
                    {% else %}
                        {% if user.is_staff %}
                          <a href='{{ account.get_delete_url }}'>
                              <img src='/media/static/images/cross.png' alt='delete' title='This is your account - are you sure you want to delete it?' />
                          </a>
                        {% endif %}
                    {% endifnotequal %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    {{ account_form.email }}
                </td>
                <td>{{ account_form.userlevel }}</td>
                <td class='buttonColumn'><button type='submit'>Add</button></td>
            </tr>
        </table>
    </form>
{% endblock %}