{% extends 'dashboard/base.html' %}

{% block title %} | Manage | {{ user.current_inst }}{% endblock %}

{% block submenu_class %}class='sm_inst'{% endblock %}

{% block crumbs %}
    <a href='/dashboard/admin/'>Manage</a> &gt;
    <a href='{{ user.current_inst.get_admin_url }}'>{{ user.current_inst }}</a>
{% endblock %}

{% block content %}
    <div id='content'><div class='inner'>
        <h1>{{ user.current_inst }}</h1>
        
        <ul id="tabnav" {% block tabclass %}class='tab1'{% endblock %}>
            {% if user.is_staff %}  {% comment %} Removed for BETA testers - should be available in future {% endcomment %}
      	      <li class="tab1"><a href="/dashboard/manage/submissionsets/">Submission Sets</a></li>
      	    {% endif %}
    		<li class="tab2"><a href="/dashboard/manage/users/">Users</a></li>
    		<li class="tab3"><a href="/dashboard/manage/">Contact</a></li>
            <li class="tab4"><a href="/dashboard/manage/payments">Payment History</a></li>
    	</ul>
    	
    	<div id='tabcontent'>
            {% block institution_content %}{% endblock %}

    	    {% load fieldsets %}
    	    {% fieldset 'help' 'collapsed' %}
    	      {% block help_content %} Oh-oh - No help - please report this bug. {% endblock %}
    	    {% endfieldset %}
    	</div>
    </div></div>
{% endblock %}