{% load logical_rules_tags %}

<strong>{{ cat }}</strong>

<div style='float: right'>
  {% if creditset.has_category_scoring_feature %}
    {% testrule submission_has_scores submissionset %}
      {% if cat.category.include_in_score %}
        {% ifnotequal cat.category.title 'Innovation' %}
          {{ cat.get_STARS_score|floatformat:2 }}%
        {% else %}
          {{ cat.get_claimed_points|floatformat:2 }}
        {% endifnotequal %}
      {% endif %}
    {% endtestrule %}
  {% else %}
    <!-- {{ cat.get_STARS_score }} -->
  {% endif %}
</div>
