<div class='row'>
  <div class='col-sm-12 col-md-3'>
    {% block railAboveMenu %}{% endblock %}
    <div id='leftMenu'>
      {% block navAbove %}{% endblock %}
      {% block navHeader %}
	<h4>
	  Credits
	</h4>
      {% endblock %}
      {% block left_column %}
      <div class="side-menu d-none d-md-block">
        {% include 'credits/outline_nav.html' %}
      </div>
      {% endblock %}
      {% block navBelow %}{% endblock %}
    </div>
  </div>

  <div class='col'>
    {% block center_column %}{% endblock %}
    {% block center_column_footer %}{% endblock %}
  </div>
</div>
