<select>
	<option disabled='disabled' selected='selected'>Select One</option>
	{% for cat in creditset.category_set.all %}
	
		<option>{{ cat|upper }}</option>
		<option disabled='disabled'></option>
		
		{% for sub in cat.subcategory_set.all %}
		
			<option>&nbsp;{{ sub }}</option>
			<option disabled='disabled'></option>
			
			{% for c in sub.get_tier1_credits %}
				
				<option>&nbsp;&nbsp;&nbsp;{{ c }}</option>
				
			{% endfor %}
			
			{% with sub.get_tier2_credits as t2_list %}
				{% if t2_list %}
				
					<option disabled='disabled'>&nbsp;&nbsp;&nbsp;--------</option>
					
					{% for c in t2_list %}
						
						<option>&nbsp;&nbsp;&nbsp;{{ c }}</option>
						
					{% endfor %}
					
				{% endif %}
			
			{% endwith %}
			
			<option disabled='disabled'></option>
	
		{% endfor %}
	
	{% endfor %}
</select>
