{% extends 'credits/columned_layout.html' %}

{% load l10n %}
{% load subcategory_averages %}

{% block center_column %}

  {% load submit_tags %}
  <h1>{% block h1 %}{{ institution }}{% endblock %}</h1>
  {% block summaryTable %}{% endblock %}

  <div class="accordion" id="categories">
    {% for cat in submissionset.categorysubmission_set.all %}
      <div class="accordion-group">
	<div class="accordion-heading category-accordion-heading">
	  <a class="accordion-toggle" data-toggle="collapse"
             data-parent="#categories" href="#{{ cat.id|unlocalize }}">
	    {% include "credits/category_heading.html" %}
	  </a>
        </div>
        <div id="{{ cat.id|unlocalize }}" class="accordion-body collapse in">
	  <div class="accordion-inner">
	    <div class="accordion subcategory_accordion"
                 id="{{ cat.id|unlocalize }}_subcategories">
	      {% for sub in cat.subcategorysubmission_set.all %}
		<div class="accordion-group collapse in">
		  <div class="accordion-heading">
		    <a class="accordion-toggle" data-toggle="collapse"
                       data-parent="#{{ cat.id|unlocalize }}_subcategories"
                       href="#{{ sub.id|unlocalize }}">
		      {% include "credits/subcategory_heading.html" %}
                      <img src='/media/static/images/expand_big.gif' alt='+'>
		    </a>
                    {% if cat.category.creditset.has_basic_benchmarking_feature and cat.submissionset.institution.access_level == 'full' %}
                      {% if cat.category.include_in_score %}
                        <div id="chart_div_{{ sub.id|unlocalize }}"></div>

                        <script>
                         function asPercentageOfAdjustedAvailablePoints(n) {
                           var percentage = (n / {{ sub.get_adjusted_available_points }});
                           return parseFloat(percentage.toFixed(2));
                         }

                         function roundedPoints(n) {
                           if (n > 0) {
                             return n.toFixed(2)
                           }
                           else {
                             return '0.00'
                           }
                         }

                         function categoryColor(category_abbreviation) {
                           var color;
                           switch (category_abbreviation) {
                             case 'AC':
                               color = '#00bce4';
                               break;
                             case 'ER':
                               color = '#00bce4';
                               break;
                             case 'EN':
                               color = '#a486bd';
                               break;
                             case 'OP':
                               color = '#6bbc49';
                               break;
                             case 'PA':
                               color = '#cedc45';
                               break;
                             case 'PAE':
                               color = '#cedc45';
                               break;
                             case 'IN':
                               color = '#15387f';
                               break;
                           }
                           return color;
                         }

                         function drawChart() {

                           var data = google.visualization.arrayToDataTable([
                             ['Subcategory',
                              'Score',
                              { role: 'annotation' },
                              'Average',
                              { role: 'annotation' }],
                             ['{{ sub }}',
                              asPercentageOfAdjustedAvailablePoints(
                               {{ sub.points }}),
                              roundedPoints({{ sub.points }}) + " pts",
                              {% subcategory_org_type_average_points sub.subcategory sub.category_submission.submissionset.institution.org_type as avg_points %}
                              asPercentageOfAdjustedAvailablePoints(
                               {{ avg_points }}),
                              roundedPoints(
                               {{ avg_points }}) + " pts"]
                           ]);

                           var formatter = new google.visualization.NumberFormat(
                             {pattern: '###%'});
                           formatter.format(data, 1);
                           formatter.format(data, 3);

                           var options = {
                             height: 70,
                             chartArea: {
                               width: '60%',
                               height: '90%',
                               top: 0,
                             },
                             colors: [categoryColor(
                               '{{ sub.subcategory.category.abbreviation }}'),
                                      '#eee'], // '#0080cf'],
                             hAxis: {
                               minValue: 0,
                               maxValue: 1,
                               textPosition: 'none',
                             },
                             vAxis: {
                               textPosition: 'none'
                             }
                           };

                           var chartContainer = document.getElementById(
                             'chart_div_{{ sub.id|unlocalize }}');
                           var chart = new google.visualization.BarChart(
                             chartContainer);

                           chart.draw(data, options);
                         }

                         drawChart();
                        </script>
                      {% endif %}
                    {% endif %}
		  </div>
		  <div id="{{ sub.id|unlocalize }}"
                       class="accordion-body collapse
                       {% if cat.category.creditset.has_basic_benchmarking_feature %}
                         out
                       {% else %}
                         in
                       {% endif %}
                       ">
		    <div class="accordion-inner">
		      {% block subcategory_description %}{% endblock %}
		      {% include "credits/subcategory_content.html" %}
		    </div>
		  </div>
	        </div>
              {% endfor %}
	    </div>
	  </div>
	</div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
