
<h1>{{ institution }}</h1>
<p>{{ submissionset }}</p>

{% for category in report %}
    <h2>{{ category.name }}</h2>
    <p>points: {{ category.points }}</p>
    <p>available: {{ category.available_points }}</p>
    <blockquote>
        <h4>Subcategories:</h4>
        <blockquote>
            {% for subcategory in category.subcategories %}
                <p>name: {{ subcategory.name }}</p>
                <p>points: {{ subcategory.points }}</p>
                <p>available: {{ subcategory.available_points }}</p>
            {% endfor %}
        </blockquote>
    </blockquote>
{% endfor %}
