{% load help %}

{% autoescape off %}
<div class="control-group{% if field_form.value.errors %} error{% else %}{% if field_form.warnings %} warning{% endif %}{% endif %}">
  <!--
  submission field:
  {{ field_form.instance }}
  {{ field_form.instance.id }}
  -->
  {% if documentation_field.header %}
    <div class="field-header">
      {{ documentation_field.header|safe }}
    </div>
  {% endif %}
  <label class="control-label">
    {% if documentation_field.is_required %}
      <span class='required_note'
            title="This field is required to complete credit">*</span>
    {% endif %}
    {% if documentation_field.is_conditionally_required %}
      <span class='conditionally_required_note'
            title="In some cases, this field will be required to complete credit">*</span>
    {% endif %}
    <strong>
      {% if show_identifier %}({{ documentation_field.identifier }}){% endif %}
      {{ documentation_field.title }}
    </strong>
    {% with documentation_field.get_escaped_tooltip_help_text as help_text %}
      {% with "true" as modal %}
	{% with documentation_field.id as id %}
	  {% include "helpers/tags/help_text.html" %}
	{% endwith %}
      {% endwith %}
    {% endwith %}
  </label>
  <div class="controls">
    {% include "tool/submissions/tags/documentation_field_control.html" %}
  </div>
</div>
{% endautoescape %}
