{% load list_access %}
{% load ce_tags %}
{% load submit_tags %}

{% if documentation_field.type == 'tabular' %}
  {% if field_form.errors %}
    <div class="alert alert-error">
      Please correct the errors in this table.
    </div>
  {% endif %}
  {% if field_form.form.errors %}
    <div class="alert alert-error">{{ field_form.form.errors.value }}</div>
  {% endif %}
  {% if field_form.form.warnings %}
    <div class="alert alert-warning">{{ field_form.form.warnings }}</div>
  {% endif %}

  {# NOTE: this requires the field_template context variable #}
  {% include "credits/tabular_field.html" %}

{% else %}
  {{ field_form.value }} <!-- {{ field_form.instance.id }} -->
  {% if documentation_field.type == 'numeric' or documentation_field.type == 'calculated' and not editing %}
    {{ field_form.metric_value }}
  {% endif %}

  {% include 'tool/submissions/tags/populate_button.html' %}

  {% if not field_form.field_includes_units and documentation_field.units %}
    {% if field_form.instance.get_institution.prefers_metric_system %}
      <span class="help-inline">{{ documentation_field.units.equivalent }}
      </span>
    {% else %}
      <span class="help-inline">{{ documentation_field.units }}</span>
    {% endif %}
  {% endif %}

  {% if tabular %}
    {% with documentation_field.get_escaped_tooltip_help_text as help_text %}
      {% with "true" as modal %}
        {% with documentation_field.id as id %}
          {% include "helpers/tags/help_text.html" %}
        {% endwith %}
      {% endwith %}
    {% endwith %}
    {% if editing %}
      <a href='{{ documentation_field.get_edit_url }}'>
        <i class='icon-edit'></i>
      </a>
    {% endif %}
  {% endif %}

  {% if field_form.value.errors %}
    <span class="help-inline">{{ field_form.errors.value }}</span>
  {% endif %}
  {% if field_form.warnings %}
    <span class="help-inline">{{ field_form.warnings }}</span>
  {% endif %}

{% endif %}
{% if documentation_field.inline_help_text %}
    <p class="help-block">
      <em>{{ documentation_field.inline_help_text }}</em>
    </p>
{% endif %}
