{% load help %}

{% if field_form.value.errors %}
	<div class='control-group error'>
{% endif %}

<div class='controls'>
	{{ field_form.value }}
	
	{% if not field_form.field_includes_units and documentation_field.units %}
		<span class="help-inline">{{ documentation_field.units }}</span>
	{% endif %}
	
	{% with documentation_field.get_escaped_tooltip_help_text as help_text %}
	    {% with "true" as modal %}
	        {% with documentation_field.id as id %}
	            {% include "helpers/tags/help_text.html" %}
	        {% endwith %}
	       {% endwith %}
	   {% endwith %}
	
	{% if field_form.value.errors %}
		{% show_help_text field_form.errors.value|striptags 1 documentation_field.id 'icon-warning-sign' %}
	{% endif %}
	{% if field_form.warnings %}
		<span class="help-inline">{{ field_form.warnings }}</span>
	{% endif %}
</div>

{% if field_form.value.errors %}
	</div>
{% endif %}