{% load submit_tags %}

{% if dfcopy %}
  <br>
  <button type="button"
         class="btn btn-small"
         style="margin-bottom: 9px"
         data-toggle="tooltip"
         {% if dfcopyval %}
          title="Copy '{{ dfcopyval }}' from {{ dfcopy.credit.identifier}}: {{ dfcopy.title }}";
         {% else %}
          title="No value set in {{ dfcopy.credit.identifier}}: {{ dfcopy.title }} to copy from";
         {% endif %}
         {% if not dfcopyval %}
           disabled
         {% endif %}
         {% if submissionset %}
           onclick="$(this).siblings('input').not(':hidden')[0].value = '{{ dfcopyval }}';"
         {% endif %}
  ><i class="icon-share-alt"></i> copy from {{ dfcopy.credit.identifier }}</button>
{% endif %}
