{% extends 'tool/base.html' %}

{% load compress %}

{% block title %}
    {{ creditset }} | Credit Editor | {{ block.super }}
{% endblock %}
{% compress js %}
{% block extra_head %}
    {{ block.super }}
    {% block tinymce %}
    <script type="text/javascript"
            src="{{ STATIC_URL }}tp/tinymce/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({plugins: "link paste table,",
                      tools: "inserttable",
                      convert_urls : false,
                      selector: "textarea:not(.noMCE)"});
    </script>
    {% endblock %}
    <script type="text/javascript"
            src="{{ STATIC_URL }}js/tablednd.js"></script>
	<script src="{{ STATIC_URL }}js/select_tree.js"></script>
{% endblock %}

{% block body_onload %}
    {{ block.super }}
    listexpander();collapseSummary();
{% endblock %}

{% block crumbs %}
    <a href='/tool/'>Reporting Tool</a> &gt;
    <a href='/tool/credit-editor/'>Credit Editor</a>
{% endblock %}

{% block tool_content %}
    <h1>{% block h1 %}Credit Editor{% endblock %}</h1>
    <div class="col-10">
        {% block editor_content %}{% endblock %}
    </div>
{% endblock %}

{% block extra_footer %}
    <script type='text/javascript'>
        var tableDnD = null;
        setTable('dndtable');
    </script>
    {{ block.super }}
{% endblock %}
{% endcompress %}
