{% load bootstrap %}

{% if object_ordering %}
  {% for form in object_ordering.forms %}
    {% if forloop.counter0 == 0 %}
      {{ object_ordering.management_form|bootstrap }}
    {% endif %}
    <tr>
      <td>
        {% block display_row %}
          <a href='{{ form.instance.get_edit_url }}'>
            {{ form.instance }}
          </a>
        {% endblock %}
      </td>
      <td class="buttonColumn" width="10%"
          style="vertical-align: top;">
        {% block edit_buttons %}
          {% if show_edit_button %}
            <a href='{{ form.instance.get_edit_url }}'
               title="edit">
              <i class='icon-edit'></i>
            </a>
          {% endif %}
          {% if show_delete_button %}
            <a href="{{ form.instance.get_delete_url }}"
               title="delete">
              <i class='icon-trash'></i>
            </a>
          {% endif %}
        {% endblock %}
        <img src='/media/static/images/drag_vertical.png'
             alt='drag this row' title='drag this row' />
        {{ form.ordinal }}
        {{ form.id }}
      </td>
    </tr>
  {% endfor %}
{% endif %}

{% block button_row %}{% endblock %}
