{% extends "tool/credit_editor/base.html" %}

{% block crumbs %}
    {% load ce_tags %}
    {% show_editor_crumbs creditset %}
{% endblock %}

{% block header %}Unlock Credit Set {{ creditset }}{% endblock %}

{% block center %}
    {% block submissions_warning %}
        {% if creditset.num_submissions %}
            <div class='warning'>
                There are {{ creditset.num_submissions }} credit submissions for this Credit Set.<br>
                Unlocking this Credit Set allows staff to make modifications with a potential to affect this submission data! 
            </div>
        {% endif %}  
    {% endblock %}
    <h3>Are you sure you want to unlock Credit Set {{ creditset }}?</h3>
    <form method='POST' action='.'>
        {% with 'unlock it' as button_text %}
           {% include 'helpers/confirm_form.html' %}
        {% endwith %}
    </form>
{% endblock %}
