{% extends "tool/credit_editor/base.html" %}

{% load bootstrap %}

{% block crumbs %}
  {% load ce_tags %}
  {% show_editor_crumbs creditset %}
{% endblock %}

{% block h1 %}Credit Set: {{ creditset }}{% endblock %}

{% block editor_content %}
  <div class='creditContent'>
    <form class='generalForm' method='POST' action='.'>
      {{ object_form|bootstrap }}

      {% if object_ordering %}
        <table class='table table-condensed' id='dndtable'>
          <tr nodrop="true" nodrag="true">
            <th colspan='2'
                style="align: left;">
              Categories
            </th>
          </tr>
          {% include 'tool/credit_editor/ordering_form_table.html' %}
        </table>
      {% endif %}
      <div class="form-actions">
        <input type="submit" class="btn btn-primary"
               value="Save credit set"/>
      </div>
    </form>

    <div class="accordion" id="add-category-accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle"
             href="#add-category-form"
             data-toggle="collapse"
             data-parent="#add-category-accordion">
            Add category
          </a>
        </div>
        <div id="add-category-form" class="accordion-body collapse">
          <form action='{{ creditset.get_edit_url }}add-category/'
                method='POST'
                style="padding: 20px;">
            {{ new_category_form|bootstrap }}
            <div class="form-actions">
              <input type="submit"
                     class="btn btn-primary"
                     value="Save category"/>
              <input type="button" class="btn"
                     value="Cancel"
                     data-toggle="collapse"
                     data-parent="#add-category-accordion"
                     href="#add-category-form"/>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
