{% extends "tool/credit_editor/base.html" %}

{% block title %} {{ block.super }} | {{ object }}{% endblock %}

{% block crumbs %}
  {% load ce_tags %}
  {% show_editor_crumbs object %}
{% endblock %}

{% block header %}Delete {{ object_class }}{% endblock %}

{% block center %}
  {% block display_object %}
    <h2> {{ object }} </h2>
  {% endblock %}
  <h3>Are you sure you want to delete {{ object_class }} {{ object }}?</h3>
  {% block submissions_warning %}
    {% if object.num_submissions %}
      <div class='warning'>
	There are {{ object.num_submissions }} active submissions for this {{ object_class }}.<br>
	Deleting this {{ object_class }} will <strong>delete ALL</strong> of these submissions!
      </div>
    {% endif %}
  {% endblock %}
  {% block dependency_warning %}
    {% if object.has_dependents %}
      <div class='warning'>
	Deleting this {{ object_class }} will also delete the following objects:
      </div>
      {% load ce_tags %}
      {% if dependent_depth %}
	{% show_dependent_objects object dependent_depth %}
      {% else %}
        {% show_dependent_objects object %}
      {% endif %}
    {% endif %}
  {% endblock %}
  <form method='POST' action='.'>
    {% with 'delete it' as button_text %}
      {% include 'helpers/confirm_form.html' %}
    {% endwith %}
  </form>
{% endblock %}
