{% extends "tool/credit_editor/set_base.html" %}

{% load compress %}

{% block extra_head %}
  {{ block.super }}
    {% compress js %}
  <script src='/media/static/js/clone_form_row.js'
          type='text/javascript'></script>
    {% endcompress %}
{% endblock %}

{% block tabclass %} class='tab2' {% endblock %}

{% block tab_content %}
    <form id='object_editing_form' name='rating_editing_form' action='.'
          method='POST'>

        {% with object_form as fields %}
          {% include 'tool/credit_editor/form_fields.html' %}
        {% endwith %}

        {{ hidden_counter_form }}
        <div class='form'>
          {% include 'tool/credit_editor/rating_editing_list.html' %}
        </div>
    </form>
{% endblock %}
