{% extends "tool/credit_editor/base.html" %}

{% block crumbs %}
    {% load ce_tags %}
    {% show_editor_crumbs creditset %}
{% endblock %}

{% block header %}STARS: {{ creditset }} IS LOCKED{% endblock %}

{% block center %}
  <div class="error">
      <h2>Your request could not be completed...</h2>
      <p>Credit Set {{ creditset }} is locked - it cannot be edited.</p>
      <p>There are probably users actively submitting data for this
         credit set - modifying the credit set in any significant way
         may invalidate or cause data to be lost.</p>
      <p>If this is a mistake and their are no submissions for this
         credit set, you should
         <a href='{{ creditset.get_edit_url }}'>unlock the credit set</a>
         to proceed.</p>
  </div>

{% endblock %}
