{% extends "tool/credit_editor/base.html" %}

{% block crumbs %}
    {% load ce_tags %}
    {% show_editor_crumbs creditset %}
{% endblock %}

{% block header %}STARS: {{ creditset }}{% endblock %}

{% block center %}
    <ul id="tabnav" {% block tabclass %}class='tab1'{% endblock %}>
        <li class="tab1"><a href="{{ creditset.get_edit_url }}">
            Summary</a>
        </li>
        <li class="tab2"><a href="{{ creditset.get_edit_url }}ratings/">
            Scoring &amp; Ratings</a>
        </li>
    </ul>
    <div id='tabcontent'>
        {% block tab_content %}
        {% endblock %}
    </div>
{% endblock %}
