{% extends "tool/credit_editor/set_base.html" %}

{% block tab_content %}
    <form class='orderform' method='POST' action='.'>

        {% include 'tool/credit_editor/standard_form.html' %}

        <table class='list' id='dndtable'>
            <tr nodrop="true" nodrag="true">
                <th colspan='2'>Categories</th>
            </tr>
            {% include 'tool/credit_editor/ordering_form_table.html' %}
        </table>
    </form>

    <div class='new_form collapsed'>
        <span style='cursor: pointer' onclick='expand_collapse_parent(this);'
              title='Add Category'>
            <img src='/media/static/images/expand.png' title='Add Category'
                 alt='+' />
            Add Category
        </span>
        <form action='{{ creditset.get_edit_url }}add-category/' method='POST'
              style='margin: 0px;'>
            <div class='form'>
                {{ new_category_form.as_p }}
                <p class='buttonRow'>
                <input type='submit' value='submit' />
                </p>
            </div>
        </form>
    </div>
{% endblock %}
