{% extends "tool/credit_editor/base.html" %}

{% load bootstrap %}

{% block crumbs %}
    {% load ce_tags %}
    {% show_editor_crumbs subcategory %}
{% endblock %}

{% block h1 %}{{ creditset }}: {{ subcategory }}{% endblock %}

{% block editor_content %}
    <div class='creditContent'>
        <form class='generalForm' method='POST' action='.'>
            {{ object_form|bootstrap }}
            <table class='table table-condensed' id='dndtable'>
                <tr nodrop="true" nodrag="true">
                    <th colspan="2">
                        {% if t1_ordering or t2_ordering %}
                            Tier 1
                        {% endif %}
                        Credits
                    </th>
                </tr>
                {% with t1_ordering as object_ordering %}
                    {% include 'tool/credit_editor/credit_ordering_form_table.html' %}
                {% endwith %}
            </table>

            {% if t2_ordering %}
                <table class='table table-condensed' id='dndtable2'>
                    <tr nodrop="true" nodrag="true">
                        <th colspan="2">Tier 2 Credits</th>
                    </tr>
                    {% with t2_ordering as object_ordering %}
                        {% include 'tool/credit_editor/credit_tier2_ordering_form_table.html' %}
                    {% endwith %}
                </table>
            {% endif %}

            <div class="form-actions">
                <input type="submit" class="btn btn-primary"
                       value="Save subcategory" id="submit_button"/>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_footer %}
    {{ block.super }}
    {% if t2_ordering %}
        <script type='text/javascript'>
            setTable('dndtable2');
        </script>
    {% endif %}
{% endblock %}
