{% extends "tool/credit_editor/credits/base.html" %}

{% block tabclass %}class='tab4'{% endblock %}

{% block tab_content %}
    <h2>Applicability Reasons</h2>
    <p>Some credits can have circumstances where they will not apply to a particular institution. Add any reasons for non-applicability below.</p>
    <table class='list'>
        {% ifnotequal object_edit_list|length 0 %}
            {% include "tool/credit_editor/credits/applicability_edit_list.html" %}
        {% endifnotequal %}
    </table>
    <form method='POST' action='.'>
        <table class='form'>
            <tr>
              <td>
                {% if object_form.reason.errors %}{{ object_form.errors.reason }}<br/>{% endif %}
                <label>Add Reason:</label>
                {{ object_form.reason }}
              </td>
              <td>
                <input type='submit' value='Add' />
              </td>
            </tr>
            <tr>
              <td colspan=2>
                <label>Optional Help Text:</label>
                {{ object_form.help_text }}
              </td>
            </tr>
        </table>
    </form>
{% endblock %}
