{% extends "tool/credit_editor/base.html" %}

{% block crumbs %}
    {% load ce_tags %}
    {% show_editor_crumbs credit %}
{% endblock %}

{% block h1 %}{{ credit }}{% endblock %}

{% block editor_content %}
    <ul id="tabnav" class="nav nav-tabs">
        <li>
            <a href="{{ credit.get_edit_url }}">
                Credit Summary
            </a>
        </li>
        <li>
            <a href="{{ credit.get_edit_url }}fields/">
                Reporting Fields
            </a>
        </li>
        <li>
            <a href="{{ credit.get_edit_url }}applicability/">
                Applicability
            </a>
        </li>
        <li>
            <a href="{{ credit.get_edit_url }}formula/">
                Formula &amp; Validation
            </a>
        </li>
    </ul>
    <div class='tab-content'>
        {% block credit_content %}{% endblock %}
    </div>
{% endblock %}
