{% extends "tool/credit_editor/base.html" %}

{% block crumbs %}
    {% load ce_tags %}
    {% show_editor_crumbs credit %}
{% endblock %}

{% block h1 %}{{ credit }}{% endblock %}

{% block editor_content %}
    <ul class="nav nav-tabs">
        <li id="credit-summary-tab"
            {% if active_tab == "credit-summary" %}
                class="active"
            {% endif %}
            >
            <a href="{{ credit.get_edit_url }}">
                Credit Summary
            </a>
        </li>
        <li id="reporting-fields-tab"
            {% if active_tab == "reporting-fields" %}
                class="active"
            {% endif %}
            >
            <a href="{{ credit.get_edit_url }}fields/">
                Reporting Fields
            </a>
        </li>
        <li id="applicability-tab"
            {% if active_tab == "applicability" %}
                class="active"
            {% endif %}
            >
            <a href="{{ credit.get_edit_url }}applicability/">
                Applicability
            </a>
        </li>
        <li id="formula-and-validation-tab"
            {% if active_tab == "formula-and-validation" %}
                class="active"
            {% endif %}
            >
            <a href="{{ credit.get_edit_url }}formula/">
                Formula &amp; Validation
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            {% block credit_content %}{% endblock %}
        </div>
    </div>

{% endblock %}
