{% extends "tool/credit_editor/base.html" %}

{% block crumbs %}
    {% load ce_tags %}
    {% show_editor_crumbs credit %}
{% endblock %}

{% block h1 %}{{ credit }}{% endblock %}

{% block editor_content %}
    <ul class="nav nav-tabs">
        <li class="nav-item" id="credit-summary-tab">
            <a href="{{ credit.get_edit_url }}"
                class="nav-link {% if active_tab == 'credit-summary' %}active{% endif %}">
                Credit Summary
            </a>
        </li>
        <li class="nav-item" id="reporting-fields-tab">
            <a href="{{ credit.get_edit_url }}fields/"
                class="nav-link {% if active_tab == 'reporting-fields' %}active{% endif %}">
                Reporting Fields
            </a>
        </li>
        <li class="nav-item" id="applicability-tab">
            <a href="{{ credit.get_edit_url }}applicability/"
                class="nav-link {% if active_tab == 'applicability' %}active{% endif %}">
                Applicability
            </a>
        </li>
        <li class="nav-item" id="formula-and-validation-tab">
            <a href="{{ credit.get_edit_url }}formula/"
                class="nav-link {% if active_tab == 'formula-and-validation' %}active{% endif %}">
                Formula &amp; Validation
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            {% block credit_content %}{% endblock %}
        </div>
    </div>

{% endblock %}
