{% extends "tool/credit_editor/credits/fields.html" %}

{% block extra_head %}
  {{ block.super }}
  <script src='/media/static/js/clone_form_row.js' type='text/javascript'></script>
  <script type="text/javascript" src="/media/admin/js/admin/RelatedObjectLookups.js"></script>
{% endblock %}

{% block crumbs %}
    {% load ce_tags %}
    {% show_editor_crumbs field %}
{% endblock %}

{% block header %}{{ credit.get_identifier }}: Edit Reporting Field{% endblock %}

{% block tab_content %}
    <table border='0' width='98%'>
        <tr>
            <td align='left'>
                <a href='{{ credit.get_edit_url }}fields/'>&lt; back to field list</a>
            </td>
            <td align='right'>
                <a href='{{ credit.get_edit_url }}add-field/'>add another field &gt;</a>
            </td>
        </tr>
    </table><br/>
    <div id='dfAppearance'>
        <table class='form'>
            <tr>
                <td> {% show_field_form field %} </td>
            </tr>
        </table>
    </div>
    <h2>Properties</h2>
    <form id='documentationfield_form' name='documentationfield_form' action='.' method='POST'>
        {{ hidden_counter_form }} 
        {% load fieldsets %}
		<table class='form'>
		    <tr><td>
		       {% fieldset 'Field Definition' with title,type as fields from field_form 'non_collapsing' %}
			       {% include 'tool/credit_editor/form_fields.html' %}
			   {% endfieldset %}

			   {% fieldset 'Field Choices' with last_choice_is_other as fields from field_form choice_state %}			        
			        <div class='form' id='choice_ordering_form'>
			            {% include 'tool/credit_editor/credits/choice_ordering_form.html' %}
			            {% include 'tool/credit_editor/form_fields.html' %}            
			        </div>
               {% endfieldset %}
	          
                {% fieldset 'Field Options' %}
                      <div id='units' class={% if field.can_have_units %}'visible'{% else %}'hidden'{% endif %}>
                        {% with field_form.units as units %}
                        <p>
                            {{ units.errors }}
                            {{ units.label_tag }}: {{ units|safe }}
                            {% load help %}
                            {% show_help_text units.help_text %}
                            <a href="/tool/credit-editor/add-units/" class="add-another" id="add_id_field_{{ field.id }}-units" onclick="return showAddAnotherPopup(this);" title='Add New Units'><img src='/media/static/images/add.png' alt='Add New Units' /></a>
                        </p>
                        {% endwith %}
                      </div>
					  <div id='range' class={% if field.can_have_min_max %}'visible'{% else %}'hidden'{% endif %}>
					    {% get_fieldset min_range,max_range as fields from field_form %}
					    {% include 'tool/credit_editor/form_fields.html' %}
					  </div>
                      {% get_fieldset required,is_confidential as fields from field_form %}
                      {% include 'tool/credit_editor/form_fields.html' %}
                    </div>
               {% endfieldset %}

               {% fieldset 'Field Help' with inline_help_text,tooltip_help_text as fields from field_form field_help_state %}
                      {% include 'tool/credit_editor/form_fields.html' %}
               {% endfieldset %}
		    </td></tr>
		    <tr><td class='buttonRow'>
		        <button type='submit'>save</button>
                <button type='button' onclick='document.location="{{ object_form.instance.get_delete_url }}";'>delete</button>
		    </td></tr>
		</table>
    </form>
    
	{% comment %} Submit the form when the type selector changes.  @todo: verfiy whether any submissions will be affected by the change during the round-trip {% endcomment %}
	<script>
	    form = document.getElementById('documentationfield_form');
	    var submitform = function () { form.submit(); }
        form.getElementsByTagName('select')[0].onchange = submitform;
	</script>
        
{% endblock %}
