{% extends "tool/credit_editor/credits/fields.html" %}

{% load bootstrap %}

{% block editor_content %}
    {% with active_tab="reporting-fields" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block credit_content %}
    <a href='{{ credit.get_edit_url }}fields/'>&lt;&lt; back to all fields</a>
    <form class='generalForm' method='POST' action='.'>
        {{ object_form|bootstrap }}

        <div class="form-actions">
            <input type="submit" class="btn btn-primary"
                   value="Save field" id="submit_button"/>
        </div>
    </form>
{% endblock %}
