<br/>
<table id="credit_forumla_legend" class="table table-condensed">
    <tr>
        <th>
            Field Identifier
            {% load help %}
            {% show_help_context 'credit_formula' %}
        </th>
        <th>Question</th>
        <th>Type</th>
        <th>Required</th>
    </tr>
    {% for field in credit.documentationfield_set.all %}
        <tr>
            <td>{{ field.identifier }}</td>
            <td>{{ field.title }}</td>
            <td>{{ field.type }}</td>
            <td style='wrap: no-wrap;'>{{ field.get_required_display }}</td>
        </tr>
    {% endfor %}
</table>
