{% extends "tool/credit_editor/credits/base.html" %}

{% block tabclass %}class='tab4'{% endblock %}

{% block credit_content %}

    {% include "tool/credit_editor/credits/formula_legend.html" %}

    <form class='generalForm' method='POST' action='.'>
        <table class='form'>
            {% include "helpers/standard_form.html" %}
        </table>
        
        <div class='button_row'>
            <button type='submit' id='submit_button'>Save</button>
        </div>
    </form>
    
    <h2>Test Cases</h2>
    <p>
        Test cases verify the formula works as you expect.
        Each test case provides a submission data set for the credit
        along with the "excpected value" for the points calculated from these data values. 
        (The "expected value" is the value you expect the formula to compute for the given inputs, if it is correct.) 
    </p>
    
    <table class='greyTable'>
        <tr>
            <th>Test Inputs</th>
            <th>Expected Value</th>
            <th>Computed Value</th>
            <th>Test Result</th>
            <th>Editing Options</th>
        </tr>
        {% with credit.testcase_set.all as object_list %}
            {% include "tool/credit_editor/credits/test_case_edit_list.html" %}
        {% endwith %}
    </table>
    
    <div class='new_form collapsed'>
        <form action='{{ credit.get_edit_url }}add-test-case/' method='POST' class='generalForm'>                
            <span style='cursor: pointer' onclick='expand_collapse_parent_parent(this);' title='Add Test Case'>
                <img src='/media/static/images/expand.png' title='Add Test Case' alt='+' />
                Add Test Case
            </span>
            <div class='form'>
                {% with new_test_case_form as submission_form %}
                    <table class='form'>
                        {% include "tool/submissions/submission_fields_form.html" %}
                    </table>
                {% endwith %}
                <div class='button_row'>
                    <button type='submit' id='submit_button'>Add</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_footer %}{% endblock %}
