{% extends "tool/credit_editor/credits/base.html" %}

{% load bootstrap %}

{% block tabclass %}class='tab4'{% endblock %}

{% block credit_content %}

    {% include "tool/credit_editor/credits/formula_legend.html" %}

    <form class='generalForm' method='POST' action='.'>
        {{ object_form|bootstrap }}

        <div class="form-actions">
            <input type="submit" class="btn btn-primary"
                   value="Save formula" id="submit_button"/>
        </div>
    </form>

    <h2>Test Cases</h2>
    <p>
        Test cases verify the formula works as you expect.  Each test
        case provides a submission data set for the credit along with
        the "expected value" for the points calculated from these data
        values.  (The "expected value" is the value you expect the
        formula to compute for the given inputs, if it is correct.)
    </p>

    <table class="table table-condensed">
        <tr>
            <th>Test Inputs</th>
            <th>Expected Value</th>
            <th>Computed Value</th>
            <th>Test Result</th>
            <th>Editing Options</th>
        </tr>
        {% with test_case_list as object_edit_list %}
            {% include "tool/credit_editor/credits/test_case_edit_list.html" %}
        {% endwith %}
    </table>

    <div class="accordion" id="add-test-case-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle"
                   href="#add-test-case-form"
                   data-toggle="collapse"
                   data-parent="#add-test-case-accordion">
                    Add test case
                <a>
            </div>
            <div id="add-test-case-form"
              class="accordion-body collapse">
                <form action='{{ credit.get_edit_url }}formula/add-test-case/'
                      method='POST'
                      style="padding: 20px;">
                    {% with new_test_case_form as submission_form %}
                        <div class='documentationField'>
                            {{ submission_form|bootstrap }}
                        </div>
                        {% include "tool/submissions/submission_fields_form.html" %}
                    {% endwith %}
                    <div class="form-actions">
                        <input
                           type="submit"
                           class="btn btn-primary"
                           value="Save test case"/>
                        <input
                           type="button" class="btn"
                           value="Cancel"
                           data-toggle="collapse"
                           data-parent="#add-test-case-accordion"
                           href="#add-test-case-form"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_footer %}{% endblock %}
