{% extends "tool/credit_editor/credits/base.html" %}

{% load bootstrap %}
{% load compress %}

{% block extra_head %}
  {{ block.super }}
  {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}tp/codemirror/lib/codemirror.css">
    <style type="text/css">.CodeMirror {border: 1px solid #ddd;}</style>
  {% endcompress %}
  {% compress js %}
    <script src='{{ STATIC_URL }}tp/codemirror/lib/codemirror.js' type="text/javascript"></script>
    <script src="{{ STATIC_URL }}tp/codemirror/mode/python/python.js"></script>
  {% endcompress %}
{% endblock %}

{% block tinymce %}{% endblock %}

{% block credit_content %}
  <div class="tab-pane active">
    {% include "tool/credit_editor/credits/formula_legend.html" %}

    <form class='generalForm' method='POST' action='.'>
      {{ object_form|bootstrap }}

      <div class="form-actions">
        <input type="submit" class="btn btn-primary"
               value="Save formula" id="submit_button"/>
      </div>
    </form>

    <h2>Test Cases</h2>
    <p>
      Test cases verify the formula works as you expect.  Each test
      case provides a submission data set for the credit along with
      the "expected value" for the points calculated from these data
      values.  (The "expected value" is the value you expect the
      formula to compute for the given inputs, if it is correct.)
    </p>

    <table class="table table-condensed">
      <tr>
        <th>Test Inputs</th>
        <th>Expected Value</th>
        <th>Computed Value</th>
        <th>Test Result</th>
        <th>Editing Options</th>
      </tr>
      {% with test_case_list as object_edit_list %}
        {% include "tool/credit_editor/credits/test_case_edit_list.html" %}
      {% endwith %}
    </table>

    <h2>
      Debugging Output
    </h2>

    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Test Case</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        {% for d in debug_list %}
          <tr>
            <td>#{{ forloop.counter }}</td>
            <td><pre>{{ d }}</pre></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href='{{ credit.get_edit_url }}formula/add-test-case/'
       class='btn'>Add Test Case</a>
  </div>
{% endblock %}

{% block extra_footer %}
  <div class="modal hide fade"
       id="delete-test-case-modal">
    <div class="modal-header">
      <button type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true">
        &times;
      </button>
      <h3>
        Really?
      </h3>
    </div>
    <div class="modal-body">
      <p>
        Sure you want to delete that test case?
      </p>
    </div>
    <div class="modal-footer">
      <form id="delete-test-case-form"
            method="post"
            action="">
        <button type="submit">
          Ah-yup, get rid of it.
        </button>
        <a class="btn"
           data-dismiss="modal">
          No! Delete nothing!
        </a>
      </form>
    </div>
  </div>

  <script>
   $(".delete-test-case-link").click(function(ev) {
     ev.preventDefault();

     target = ev.target;
     delete_this_url = target.getAttribute("url");

     form = $("#delete-test-case-form");
     form.attr("action", delete_this_url);

     // show the modal:
     modal = $("#delete-test-case-modal");
     modal("show");
   });
  </script>
{% endblock %}
