{% extends 'registration/base.html' %}

{% block title %}
    AASHE: STARS | Participant Registration | Account
{% endblock %}

{% block content %}
    <div id='content'><div class='inner'>
        <h1>STARS Participant Home Page</h1>
        <h2>{{ institution }} has been successfully registered for STARS 1.0!</h2>

        <p style='margin: 10px 50px;'>
            We encourage you to take a look at the <a href='http://www.aashe.org/stars/'>STARS 1.0 Technical Manual</a> to help get you started on data collection.  Stay tuned for the on-line STARS reporting tool that will be available for data submission this January.  For more information on STARS, including <a href='http://www.aashe.org/stars/faqs.php'>FAQ’s</a>, <a href='http://www.aashe.org/stars/history.php'>key documents</a>, and the <a href='http://www.aashe.org/stars/timeline.php'>STARS timeline</a>, visit our website at <a href='http://www.aashe.org/stars/'>www.aashe.org/stars/</a>.
        </p>

        {% ifnotequal institution.contact_email user.email %}
        <p style='margin: 10px 50px;'>
            If you have questions about your institution’s participation in STARS 1.0, please connect with your primary contact:
            <br/><br/>
            <b>{{ institution.contact_first_name }} {{ institution.contact_last_name }}</b><br/>
            {{ institution.contact_title }}, {{ institution.contact_department }}<br/>
            <a href='mailto:{{ institution.contact_email }}'>{{ institution.contact_email }}</a>
        </p>
        {% if amount_due %}
            <table style='margin: 10px auto' class='headed_list' width='400'>
                <tr>
                    <th>Payment Status</th>
                </tr>
                <tr>
                    <td>
                        Amount Due: <b>${{ amount_due|floatformat:2 }}</b><br/><br/>
                        Please send a check to "AASHE":<br/>
                        213 1/2 N. Limestone<br/>
                        Lexington, KY 40507<br/>
                        <br/>
                        <i>If you have already sent payment we will update your account shortly.</i>
                    </td>
                </tr>
            </table>
        {% endif %}
        {% endifnotequal %}
        <div class='note'>
            Want to register another institution? <a href='/register/step1/'>You can!</a>
        </div>
    </div></div>
{% endblock %}