{% extends 'registration/base.html' %}

{% load content %}
{% load fieldsets %}
{% load bootstrap %}

{% block title %}
    Campus Sustainability Data Collector Registration
{% endblock %}

{% block content %}
    <div class='row'>
        <h1>{% display_snippet "reg_contact_respondent_title" user %}: <i>{{ institution }}</i></h1>
        {% display_block_content "reg_respondent_contact_intro" user %}
    </div>
    <form method='post' action='.' class='generalForm'>
    	<h3>{% display_snippet "reg_respondent_contact_liaison_title" user %}</h3>
        {% display_block_content 'register_respondent_liaison_desc' user %}
       	{{ reg_form|bootstrap }}
        <div class='form-actions'>
            <button type='button' class='btn' onclick='document.location="/register/step2/";'>&lt;&lt; Back</button>
            <button type='submit' class='btn btn-primary'>Continue &gt;&gt;</button>
        </div>    
     </form>
{% endblock %}
