{% extends 'registration/base.html' %}

{% block title %}
    AASHE: STARS | International Pilot Registration | Step 1
{% endblock %}

{% block content %}
    <div class='inner20'>
        <h1>Participant Registration: <i>International Pilot</i></h1>
        <p style='font-style: italic'>Thank you for your interest in registering as a STARS International Pilot Participant!</p>
        <p>Please fill in the name of your institution below.</p>
        <form method='POST'>
            <table class='form'>
                {{ form }}
            </table>
            <div class='button_row'>
                <button type='submit'>Continue &gt;&gt;</button><br/><br/>
            </div>
        </form>
    </div>
{% endblock %}
