{% extends 'registration/base.html' %}

{% block title %}
    AASHE: STARS | Participant Registration | Login Required
{% endblock %}

{% block content %}
    <div class='inner20'>
        <h1>Login Required</h1>
        <div class='note'>
            Participants must have an <a href='http://www.aashe.org/accounts/help' target='_blank'>AASHE Account</a> to register for STARS.<br/><br/>
            If you already have an account, please <a href='/accounts/login/?next=/register/'>log in</a>.
        </div>
    </div>
{% endblock %}
