{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}STARS Registration Form | {{ block.super }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-12">

      <div class="row">
        <div class="col-7 offset-12">
          <h1>STARS Registration Form</h1>
          <div class="offset-1">
            <h4>Begin typing the name of your institution in the search box and select the appropriate result. If your institution is not listed, please email <a href="mailto:stars@aashe.org">stars@aashe.org</a> and we will help you get started.</h4>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-8 offset-2">
          <div class="search-panel">
            <h3 style="margin:0;">Find your institution</h3>
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Type here to begin search" id="school-finder">
            </div>
          </div>
        </div>
      </div>

      <div class="col-7 offset-2 org-list">
        <ul class="list-group school-list">
        {% for org in orgs %}
          <li class="list-group-item" name="{{ org.account_num }}">{{ org.org_name }}{% if org.city %}, {{ org.city }} {% endif %}</li>
        {% endfor %}
        </ul>
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="col-8 offset-2">
          <div class="input-append input-group school-input">
            <input readonly class="form-control" name="org-name" id="org-name" type="text">
            <div class="input-group-append">
                <span class="add-on input-group-text">
                  <div class="green-dot"></div>
                </span>
            </div>
          </div>
          <input type="hidden" name="aashe_id" id="asshe_id">
          {{ form.non_field_errors }}
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-4 offset-2">
              <h3>STARS Liaison</h3>
              <p><small>The primary point of contact for your institution's STARS reporting.</small></p>
              <div class="form-group">
                  <label for="form.contact_first_name">{{form.contact_first_name.label}}</label>
                  {{ form.contact_first_name.errors }}
                  {{ form.contact_first_name }}
              </div>
              <div class="form-group">
                  <label for="form.contact_last_name">{{form.contact_last_name.label}}</label>
                  {{ form.contact_last_name.errors }}
                  {{ form.contact_last_name }}
              </div>
              <div class="form-group">
                  <label for="form.contact_title">{{form.contact_title.label}}</label>
                  {{ form.contact_title.errors }}
                  {{ form.contact_title }}
              </div>
              <div class="form-group">
                  <label for="form.contact_department">{{form.contact_department.label}}</label>
                  {{ form.contact_department.errors }}
                  {{ form.contact_department }}
              </div>
              <div class="form-group">
                  <label for="form.contact_email">{{form.contact_email.label}}</label>
                  {{ form.contact_email.errors }}
                  {{ form.contact_email }}
              </div>
            </div>
            <div class="col-4">
              <h3>Executive Contact</h3>
              <p><small>President, chancellor, provost, or other executive to be copied on the registration confirmation e-mail.</small></p>
              <div class="form-group">
                  <label for="form.executive_contact_first_name">{{form.executive_contact_first_name.label}}</label>
                  {{ form.executive_contact_first_name.errors }}
                  {{ form.executive_contact_first_name }}
              </div>
              <div class="form-group">
                  <label for="form.executive_contact_last_name">{{form.executive_contact_last_name.label}}</label>
                  {{ form.executive_contact_last_name.errors }}
                  {{ form.executive_contact_last_name }}
              </div>
              <div class="form-group">
                  <label for="form.executive_contact_title">{{form.executive_contact_title.label}}</label>
                  {{ form.executive_contact_title.errors }}
                  {{ form.executive_contact_title }}
              </div>
              <div class="form-group">
                  <label for="form.executive_contact_department">{{form.executive_contact_department.label}}</label>
                  {{ form.executive_contact_department.errors }}
                  {{ form.executive_contact_department }}
              </div>
              <div class="form-group">
                  <label for="form.executive_contact_email">{{form.executive_contact_email.label}}</label>
                  {{ form.executive_contact_email.errors }}
                  {{ form.executive_contact_email }}
              </div>
              <input class="btn btn-success" type="submit" value="Register Institution" id="institution-submit-btn">
            </div>
        </div>


      </form>

      </div>
    </div>

{% endblock content %}
