{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}Register | {{ block.super }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="span12">

      <div class="row">
        <div class="offset2 span8">
          <h1>STARS Institution Registration Form</h1>
          <div class="offset1">
            <h4>Begin by selecting the Search Institutions text field.</h4>
            <h4>Filter institutions by typing in the search box.</h4>
            <h4>Select an institution by clicking.</h4>
            <h4>If your institution is not listed, please email <a href="mailto:stars@aashe.org">stars@aashe.org</a> and we will help you get started.</h4>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="span8 offset2">
          <div class="search-panel">
            <h3>Find your institution</p>
            <input class="span7" type="text" placeholder="Click here to begin search" id="school-finder">
          </div>
        </div>
      </div>

      <div class="span7 offset2 org-list">
        <ul class="nav nav-list nav-stacked">
        {% for org in orgs %}
          <a><li name="{{ org.account_num }}">{{ org.org_name }}{% if org.city %}, {{ org.city }} {% endif %}</li></a>
        {% endfor %}
        </ul>
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="span8 offset2">
          <h2>Institution Name</h2>
          <div class="input-append">
            <input readonly class="input-xxlarge" name="org-name" id="org-name" type="text">
            <span class="add-on">
              <div class="green-dot"></div>
            </span>
          </div>
          <input type="hidden" name="aashe_id" id="asshe_id">
          {{ form.non_field_errors }}
        </div>
        <div class="span4 offset2">
          <h3>STARS Liaison</h3>
          <label for="form.contact_first_name">{{form.contact_first_name.label}}</label>
          {{ form.contact_first_name.errors }}
          {{ form.contact_first_name }}
          <label for="form.contact_last_name">{{form.contact_last_name.label}}</label>
          {{ form.contact_last_name.errors }}
          {{ form.contact_last_name }}
          <label for="form.contact_title">{{form.contact_title.label}}</label>
          {{ form.contact_title.errors }}
          {{ form.contact_title }}
          <label for="form.contact_department">{{form.contact_department.label}}</label>
          {{ form.contact_department.errors }}
          {{ form.contact_department }}
          <label for="form.contact_phone">{{form.contact_phone.label}}</label>
          {{ form.contact_phone.errors }}
          {{ form.contact_phone }}
          <label for="form.contact_email">{{form.contact_email.label}}</label>
          {{ form.contact_email.errors }}
          {{ form.contact_email }}
        </div>
        <div class="span4">
          <h3>Executive Contact</h3>
          <label for="form.executive_contact_first_name">{{form.executive_contact_first_name.label}}</label>
          {{ form.executive_contact_first_name.errors }}
          {{ form.executive_contact_first_name }}
          <label for="form.executive_contact_last_name">{{form.executive_contact_last_name.label}}</label>
          {{ form.executive_contact_last_name.errors }}
          {{ form.executive_contact_last_name }}
          <label for="form.executive_contact_title">{{form.executive_contact_title.label}}</label>
          {{ form.executive_contact_title.errors }}
          {{ form.executive_contact_title }}
          <label for="form.executive_contact_department">{{form.executive_contact_department.label}}</label>
          {{ form.executive_contact_department.errors }}
          {{ form.executive_contact_department }}
          <label for="form.executive_contact_email">{{form.executive_contact_email.label}}</label>
          {{ form.executive_contact_email.errors }}
          {{ form.executive_contact_email }}
          <input class="span3 btn btn-success" type="submit" value="Register Institution" id="institution-submit-btn">
        </div>
        </div>

      </form>
    </div>
  </div>
{% endblock content %}
