{% extends 'registration/base.html' %}

{% load bootstrap %}

{% block title %}
    AASHE: STARS | Participant Registration | Step 3
{% endblock %}

{% block content %}
    <div class='row'>
        <h1>Participant Registration: <i>{{ institution }}</i></h1>
        <p>Please review your contact information below.</p>
    </div>
    <div class='row'>
        <table style='margin: 10px auto; width: 700px;' class='table'>
            <thead>
            	<tr>
                	<th>STARS Liaison</th>
                	<th>Executive Contact</th>
           		</tr>
           	</thead>
           	<tbody>
	            <tr>
	                <td>
	                    {{ institution.contact_first_name }} {{ institution.contact_last_name }}<br/>
	                    {{ institution.contact_title }}, {{ institution.contact_department }}<br/>
	                    {{ institution.contact_email }}<br/>
	                    <a href="/register/p/step3/">Edit</a>
	                </td>
	                <td>
	                    {{ institution.executive_contact_first_name }} {{ institution.executive_contact_last_name }}<br/>
	                    {{ institution.executive_contact_title }}, {{ institution.executive_contact_department }}<br/>
	                    {{ institution.executive_contact_email }}<br/>
	                    <a href="/register/p/step3/">Edit</a>
	                </td>
	            </tr>
	   		</tbody>
        </table>
        <h2>Payment</h2>
        <p>This one-time payment covers registration and submission.</p>
        <div class='note'>
            {% if is_member %}
                {{ institution }} is a member of AASHE! You qualify for the discounted rate of: <b>${{ price }}</b>.
            {% else %}
                {{ institution }} is not a member of AASHE. Your current rate is: <b>${{ price }}</b>. Members get a discount when registering for STARS.<br/><a href='http://www.aashe.org/membership/description.php'>Become a member</a>.
                <br/><br/>
                <i>If you feel this is an error please contact us at <a href='mailto:stars@aashe.org'>stars@aashe.org</a>.</i>
            {% endif %}
            <table style='margin: 10px auto; width: 400px;' class='table'>
                <thead>
                <tr>
                    <th>Member Fee</th>
                    <th>Non-Member Fee</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>$900</td>
                    <td>
                    	$1400
                    	{% if not is_member %}
                    	    <br/>
                        	<a href='http://www.aashe.org/membership/description.php'>Become a member</a>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <form method='post'>
        	{{ pay_later_form|bootstrap }}
		    <div id='pay_form'>
               {{ pay_form|bootstrap }}
           	</div>
            <div class='form-actions'>
                {% if is_member %}
                    Your member rate is: <b>${{ wizard.form.amount }}</b>.
                {% else %}
                    Your non-member rate is: <b>${{ wizard.form.amount }}</b>.
                {% endif %}<br/><br/>
                <button type='button' class='btn' onclick='document.location="/register/step2/";'>&lt;&lt; Back</button>
                <button type='submit' class='btn btn-primary'>
                	<i class='icon-lock icon-white'></i>
                	Pay and Complete Registration
                </button>
            </div>
        </form>
        <div style='font-size: .9em;color:#555;margin: 0px 50px;'>
            {% load content %}
            {% display_block_content 'refund' user %}
        </div>
    </div>
{% endblock %}
