{% extends 'registration/base.html' %}

{% block title %}
    AASHE: STARS | Registration | Step 1
{% endblock %}

{% block content %}
    <div class='inner20'>
        <h1>Please Select Your Institution</h1>
        <p>Please select your institution from the list below. If your institution is not listed here please contact us at <a href='mailto:stars@aashe.org'>stars@aashe.org</a>.</p>
        <p>Institutions outside of North America, please use the <a href='/register/international/'>International Pilot Registration</a>.</p>
        <form method='POST'>
            <table class='form'>
                {{ form }}
            </table>
            <div class='button_row'>
                <button type='submit'>Continue &gt;&gt;</button><br/><br/>
            </div>
        </form>
    </div>
{% endblock %}
