{% extends 'registration/base.html' %}

{% load content %}

{% block title %}
    AASHE: STARS | Participant Registration | Step 3
{% endblock %}

{% block content %}
    <div class='inner20'>
        <h1>How do you want to participate?</h1>
        <form method='POST'>
            <table class='form' style='margin: 10px auto'>
                <tr>
                  <th>{% display_snippet "reg_participant_description_title" user %}</th>
                  <th>{% display_snippet "reg_respondent_description_title" user %}</th>
                </tr>
                 <tr>
                  <td style='padding: 10px;'>
                    {% display_block_content "reg_participant_description" user %}
                  </td>
                  <td style='padding: 10px;'>
                    {% display_block_content "reg_respondent_description" user %}
                  </td>
                 </tr>
                <tr>
                    <td style='background-color: #ddd;padding: 10px;text-align: center;'>
                      <label for="id_level_0"><input type="radio" id="id_level_0" value="participant" name="level" /> STARS Participant</label>
                    </td>
                    <td style='background-color: #ddd;padding: 10px;text-align: center;'>
                      <label for="id_level_1"><input type="radio" id="id_level_1" value="respondent" name="level" /> Survey Respondent</label>
                    </td>
                 </tr>
            </table>
            <div class='button_row'>
              <button type='button' onclick='document.location="/register/step1/";'>&lt;&lt; Back</button>
                <button type='submit'>Continue &gt;&gt;</button><br/><br/>
            </div>
        </form>
    </div>
{% endblock %}
