{% extends 'registration/base.html' %}

{% load content %}

{% block title %}
    AASHE: STARS | Registration | Step 1
{% endblock %}

{% block content %}
    <div class='inner20'>
        <h1>{% display_snippet "reg_select_institution_title" user %}</h1>
        {% display_block_content "reg_select_institution" user %}
        <form method='POST'>
            <table class='form'>
                {{ form }}
            </table>
            <div class='button_row'>
                <button type='submit'>Continue &gt;&gt;</button><br/><br/>
            </div>
        </form>
    </div>
{% endblock %}
