{% extends 'registration/base.html' %}

{% load bootstrap %}

{% block title %}
    AASHE: STARS | Participant Registration | Option Survey
{% endblock %}

{% block content %}
    <div class='row'>
        <h1>Thank you for your registration!</h1>
        <p>Please fill out the following <i>optional</i> survey to help us learn more about why institutions are registering for STARS.</p>
        <form method='post' action='.'>
        	{% csrf_token %}
        	{{ form|bootstrap }}
            <div class='form-actions'>
                <button type='submit' class='btn btn-primary pull-right' style='margin-left: 10px'>Submit</button>
                <a href="{%url tool-summary institution.slug %}" class='btn pull-right'>Skip &gt;&gt;</a>
            </div>
        </form>
    </div>
{% endblock %}
