{% extends 'registration/base.html' %}

{% load bootstrap %}

{% block title %}
    AASHE: STARS | Participant Registration | Option Survey
{% endblock %}

{% block content %}
    <div class='row'>
        <h1>Thank you for your registration!</h1>
        {% if not institution.is_participant %}
          <p>
            Congratulations!  You've successfully registered for STARS
            Basic Access.  You may now access the STARS Reporting
            Tool.  To gain Full Access to STARS, and the associated
            benefits, you may upgrade any time by choosing the
            "Purchase STARS Participant Subscription" link in the "My
            Summary" section of the STARS Reporting Tool.  Questions?
            Contact <a href=mailto"stars@aashe.org">stars@aashe.org</a>.
          </p>
        {% endif %}
        <p>
          If you would, please fill out the following optional
          survey to help us learn more about why institutions are
          registering for STARS.
        </p>
        <form method='post' action='.'>
        	{% csrf_token %}
        	{{ form|bootstrap }}
            <div class='form-actions'>
                <button type='submit' class='btn btn-primary pull-right' style='margin-left: 10px'>Submit</button>
                <a href="{% url 'tool:tool-summary' institution.slug %}" class='btn pull-right'>Skip &gt;&gt;</a>
            </div>
        </form>
    </div>
{% endblock %}
