{% extends 'registration/base.html' %}

{% block title %}
    AASHE: STARS | Terms of Service
{% endblock %}

{% block content %}
    <div id='content'><div class='inner'>
        <h1>Terms of Service</h1>
        <h2>AASHE reserves the right to...</h2>
        <ul>
        <li>publish your STARS data</li>
        <li>correct inaccurate information within your submission</li>
        <li>withdraw a rating if your institution does not meet the eligibility requirements (higher ed institution in US or Canada, not in egregious non-compliance with local, federal, state laws etc.)</li>
        <li>use the submitted data for purposes of research, reports, publicity, comparison, etc.</li>
        </ul>
        <p>
        In addition to these terms, I also understand that institutions will not receive credit for information that is not posted publicly through the STARS Online Reporting Tool.
        </p>
        <div class='note'>
            <a href='/register/'>Register Now</a>
        </div>
    </div></div>
{% endblock %}
