{% extends 'registration/base.html' %}

{% block content %}
    <div id='content'><div class='inner'>
        <h1>Please Update Your Account</h1>
        <p style='text-align: center'>You do not currently have an institution associated with your <a href='http://www.aashe.org/accounts/help' target='_blank'>AASHE ID</a>.<br/><br/>
            Please <a href='http://www.aashe.org/user/{{ user_id }}/edit/Profile%20Information' target='_blank'>update your account</a> so we know what institution you are registering and then <a href="javascript:location.reload(true)">refresh this page</a>. Thank you.</p>
            <!-- Laura: add more whitespace here -->
            <!-- Add a screenshot -->
            <!-- "You may need to log in again" -->
    </div></div>
{% endblock %}