{% extends 'registration/wizard_base.html' %}

{% load content %}
{% load bootstrap %}
{% load fieldsets %}

{% block above_submit_form %}
	<h1>{% display_snippet "reg_contact_participant_title" user %}: <i>{{ wizard.form.instance }}</i></h1>
    {% display_block_content "reg_participant_contact_intro" user %}
{% endblock %}

{% block submit_form_fields %}
            <h3>{% display_snippet "reg_contact_liaison_title" user %}</h3>
        	{% display_block_content 'register_liaison' user %}
            {% get_fieldset contact_first_name,contact_middle_name,contact_last_name,contact_title,contact_department,contact_phone,contact_email as contact_fields from wizard.form %}
            {{ contact_fields|bootstrap }}
            <br/>
            <h3>{% display_snippet "reg_contact_exec_title" user %}</h3>
            {% display_block_content 'register_executive' user %}
            
            {% get_fieldset executive_contact_first_name,executive_contact_middle_name,executive_contact_last_name,executive_contact_title,executive_contact_department,executive_contact_email as exec_fields from wizard.form %}
            {{ exec_fields|bootstrap }}
{% endblock %}
