{% extends 'registration/wizard_base.html' %}

{% load content %}
{% load bootstrap %}
{% load fieldsets %}

{% block above_submit_form %}
    <h2>
      STARS Registration: Step {{ wizard.steps.step1 }}
    </h2>
    <h3>{% display_snippet "reg_contact_liaison_title" user %}</h3>
    {% display_block_content 'register_liaison' user %}
{% endblock %}

{% block submit_form_fields %}
                {% get_fieldset contact_first_name,contact_middle_name,contact_last_name,contact_title,contact_department,contact_phone,contact_email as contact_fields from wizard.form %}
                {{ contact_fields|bootstrap }}
{% endblock %}
