{% extends 'registration/wizard_base.html' %}

{% load content %}
{% load bootstrap %}

{% block above_submit_form %}
	<h1>How do you want to participate?</h1>
	{% display_block_content "reg_select_institution" user %}
{% endblock %}

{% block submit_form_fields %}
		<div class='row'>
        	<div class='span6'>
        		<div class='well'>
	        		<h3>{% display_snippet "reg_participant_description_title" user %}</h3>
	        		{% display_block_content "reg_participant_description" user %}
	        	</div>
        		<label for="id_level-level_0">
        			<input type="radio" id="id_level-level_0" value="participant" name="level-level" />
        			STARS Participant
        		</label>
        	</div>
        	<div class='span6'>
        		<div class='well'>
	        		<h3>{% display_snippet "reg_respondent_description_title" user %}</h3>
	        		{% display_block_content "reg_respondent_description" user %}
        		</div>
        		<label for="id_level-level_1">
        			<input type="radio" id="id_level-level_1" value="respondent" name="level-level" />
        			Survey Respondent
        		</label>
        	</div>
        </div>
{% endblock %}