{% extends 'tool/base.html' %}

{% block title %} | Admin {% endblock %}

{% block crumbs %} <a href='/tool/admin/'>Administer Site</a> {% endblock %}

{% block submenu_class %}class='sm_admin'{% endblock %}

{% block tool_content %}
        <ul id="tabnav" {% block tabclass %}class='tab1'{% endblock %}>
            <li class="tab1"><a href="/tool/admin/">Institutions</a></li>
            <!-- <li class="tab2"><a href="/tool/admin/payments/">Payments</a></li> -->
            <li class="tab3"><a href="/tool/admin/pages/">Articles</a></li>
            <li class="tab4"><a href="/tool/admin/watchdog/">Watchdog</a></li>
            <li class='tab5'><a href='/tool/admin/reports/'>Reports</a></li>
        </ul>
        <div class='tabContent'>
            {% block admin_content %}{% endblock %}
        </div>
{% endblock %}
