{% extends 'old_cms/base.html' %}

{% load cache %}

{% block center %}

  {% cache 86400 cms_article article article.timestamp user.is_staff %}
    {% block innertabcontent %}
      <div class="inner">
        <h1>
          {{ article.title }}
          {% if user.is_staff %}
	    <a href="{{ article.get_django_admin_url }}" target="_blank">
	      <i class="icon-edit"></i>
	    </a>
          {% endif %}
        </h1>
        <div class="content">
          {{ article.content|safe }}
        </div>
        {% if include_facebook_comment_widget %}
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) return;
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-comments"
               data-href="https://stars.aashe.org/pages/about/2016-sustainable-campus-index.html"
               data-width="100%"
               data-numposts="5"></div>
        {% endif %}
      </div>
    {% endblock %}
  {% endcache %}

{% endblock %}
