{% extends 'base.html' %}

{% block title %}
	{% if article %}{{ article }} |{% endif %}
	{% if category %}{{ category }} |{% endif %}
	{{ block.super }}
{% endblock %}

{% block main_menu %}
	{% load cache %}
	{% cache 86400 main_menu category %}
		{% with selected=category.slug %}
	    	{% include 'helpers/main_menu.html' %}
	    {% endwith %}
   	{% endcache %}
{% endblock %}

{% block crumbs %}
	{% include "old_cms/crumbs.html" %}
{% endblock %}

{% block content %}

	<div class='row'>
		<div class='span2'>
			{% if user.is_staff %}
				<p style='text-align: center' >
					<a href='/_ad/old_cms/' target='_blank'>
						<i class="icon-plus"></i>
						Add Content
					</a>
				</p>
			{% endif %}
		</div>
		<div class='span12'>
			{% block center %}{% endblock %}
		</div>
	</div>

{% endblock %}
