<h1>
	{{ category }}
	{% if user.is_staff %}
		<a href="{{ category.get_django_admin_url }}" target="_blank"><img src='/media/static/images/page_edit.png' alt='edit' /></a>
	{% endif %}
</h1>
{% if category.content %}
   <p>{{ category.content|safe }}</p>
{% else %}
 <ul id="article-list">
 {% for article in category.get_articles %}
   <h3><table><tr>
       <td><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></td>
       <td>{% if user.is_staff %}
              <a href="{{ article.get_django_admin_url }}" target="_blank">
              	<i class='icon-edit'></i>
              </a>
           {% endif %}</td>
       </tr></table>
   </h3>
   <blockquote> {{ article.teaser|safe }} </blockquote>
   <hr>
 {% endfor %}
 </ul>
{% endif %}
