{% extends 'tool/admin/watchdog/base.html' %}

{% block crumbs %} {{ block.super }} &gt; Log Entry Details{% endblock %}

{% block watchdog_content %}
    <a href='{{ entry.get_admin_url }}' title='Return to Watchdog Log listiing'>&lt; back to log listing </a>
    <table id='watchdog_table' class='detail'>
        <tr class="row1"><th><h3>{{entry.get_severity}}:</h3></th><td><strong>{{ entry.message }}</strong></td>
        <tr><th>Module:</th><td>{{entry.module}}</td></tr>
        <tr><th>Path:</th><td><a href='{{entry.request_path}}'>{{entry.request_path}}</a></td></tr>
        <tr><th>Referer:</th><td>
          {% if entry.request_referer %}
            <a href='{{entry.request_referer}}'>{{entry.request_referer}}</a>
          {% else %}
            {{entry.request_referer}}
          {% endif %}
        </td></tr>
        <tr><th>Host:</th><td>{{entry.request_host}}</td></tr>
        <tr><th>User:</th><td>{{entry.user}}</td></tr>
        <tr><th>Timestamp:</th><td>{{entry.timestamp.ctime}}</td></tr>
    </table>
{% endblock %}
