    <h2>Consistency Check for Article Categories</h2>
    {% if is_consistent %}
        <img src='/media/static/images/accept.png' title='All Categories are Consistent'> 
        All Cached Categories are consistent with the IRC Terms
    {% else %}
        <img src='/media/static/images/cross.png' title='Inconsistency Detected'> 
        <strong>An inconsistency was detected - see table below</strong><br>
        Consider <a href="/tool/admin/pages/syncdb/">syncronizing STARS categories with IRC DB</a> to make the two systems consistent.
    {% endif %}
    <table id="watchdog_table">
      <tr><th>IRC Term</th><th>Cached Category</th><th>Consistent?</th></tr>
      {% for category in category_table %}
      <tr>
        <td align="right">
            {% if category.term %}
              <a href="http://www.aashe.org/admin/content/taxonomy/edit/term/{{ category.term.tid}}" title="Edit this term">{{ category.term.name }}</a>
            {% endif %}
        </td>
        <td>{% if category.cat %}
              <a href="{{ category.cat.get_absolute_url }}" title="View this Category">{{ category.cat.label }}</a>
            {% endif %}
        </td>
        <td align="center">{% if category.consistent %}
                <img src='/media/static/images/accept.png' title='Categories are Consistent' alt='Yes'>
            {% else %}
                <img src='/media/static/images/cross.png' title='Inconsistency Detected' alt='No'>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
