{% extends 'tool/admin/cms/articles.html' %}

{% block crumbs %} {{ block.super }} &gt; Sync DB {% endblock %}

{% block admin_content %}
      <h1>Categories syncronized with IRC</h1>
      {% ifnotequal error_list|length 0 %}
        <h2>Information and Errors: </h2>
        <ul id="error-list">
        {% for error in error_list %}
            <li>{{ error|safe }}</li>
        {% endfor %}
        </ul>
      {% endifnotequal %}
      {% include 'tool/admin/cms/article_category_consistency_table.html' %}
{% endblock %}
