    <li class='{% if is_current %} current {% endif %} {% if is_expanded %} expanded {% else %} collapsed {% endif %}'>
        {% if not is_leaf %}
          {% if is_expanded %}
            <img src='/media/static/images/collapse.png' class='collapse' title='collapse' alt='-' onclick='expand_collapse_parent(this);' />
          {% else %}
            <img src='/media/static/images/expand.png' class='expand' title='expand' alt='+' onclick='expand_collapse_parent(this);' />
          {% endif %}
        {% endif %}
        {% if is_label %}
            <i><b>{{ object }}</b></i>
        {% else %}
            <a href='{{ object_url }}'>{{ object }}</a>
        {% endif %}
        
        {% comment %} 
           --> RECURSIVE call to credit outline to display portion of hierarchy below this object
           --> BASE CASE: recursion stops when object has no children 
        {% endcomment %}
        {% if object_children %}
          {% load credit_outline %}
          <ul>
	          {% for child in object_children %}
	             {% show_credit_outline_object child op %}
	          {% endfor %}
	          {% if object.has_more_groups %}
	             {% show_credit_outline_object object op %}
	          {% endif %}
          </ul>
        {% endif %}  
    </li>
