{% load logical_rules_tags %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if active == 'fields' %}active{% endif %}" href="{{ credit_submission.get_scorecard_url }}">Reporting Fields</a>
  </li>
  <li class="nav-item">
  	<a class="nav-link {% if active == 'info' %}active{% endif %}" href="{{ credit_submission.get_scorecard_url }}documentation/">Credit Info</a>
  </li>
  {% testrule user_can_see_internal_notes user submissionset %}
  	<li class="nav-item">
  		<a class="nav-link {% if active == 'notes' %}active{% endif %}" href='{{ credit_submission.get_scorecard_url }}internal-notes/'>Internal Notes</a>
	</li>
  {% endtestrule %}
</ul>
