{% extends 'credits/columned_layout.html' %}

{% load thumbnail %}

{% block navHeader %}
  <h4>
    <a href='{{ submissionset.get_scorecard_url }}'>STARS {{ submissionset.creditset }}</a>
  </h4>
{% endblock %}

{% block railAboveMenu %}
  {% if not submissionset.expired %}
    <div style='text-align: center;'>
      <a href='{{ submissionset.get_scorecard_url }}'>
        {% if preview %}
          {% thumbnail "https://stars.aashe.org/media/static/images/seals/Stars_Seal_Participant_RGB_300.png" "300x300" as im %}
            <img src="{{ im.url }}"
                 width="{{ im.width }}"
                 height="{{ im.height }}" />
          {% endthumbnail %}
        {% else %}
          {% thumbnail submissionset.rating.image_large "300x300" as im %}
            <img src="{{ im.url }}"
                 width="{{ im.width }}"
                 height="{{ im.height }}"
                 alt='{{ submissionset.rating }}' />
          {% endthumbnail %}
        {% endif %}
      </a>
    </div>
  {% endif %}
  {% include 'institutions/scorecards/vertical_status_table.html' %}
{% endblock %}

{% block center_column %}
  {% load submit_tags %}
  <h1>
    <a href='{{ submissionset.get_scorecard_url }}'>{{ institution }}</a>
    <br/>
    {{ credit_submission.credit }}
  </h1>

  <table class='table table-bordered table-condensed table-striped'>
    {% include 'institutions/scorecards/credit_status_table.html' %}
  </table>

  <div class='tabContent'>
    {% block tab_content %}

      {% with "fields" as active %}
        {% include "institutions/scorecards/credit_tabs.html" %}
      {% endwith %}

      {% if credit_submission.submission_status == 'na' %}
        <p class='hideReportingFields'>
          This credit was marked as <b>Not Applicable</b> for the
          following reason:<br/><br/>
          <i>{{ credit_submission.applicability_reason.reason }}</i>
        </p>
      {% else %}
        {% if credit_submission.submission_status == 'np' or credit_submission.submission_status == 'ns' %}
          <p class='hideReportingFields'>
            This credit was marked as <b>Not Pursuing</b> so Reporting
            Fields will not be displayed.
          </p>
        {% else %}
          <div style="text-align: right;font-size: .9em;padding:10px;">
            "<span class='green bold'>---</span>"
            <i>indicates that no data was submitted for this field</i>
          </div>
          <br/>
          {% include "institutions/scorecards/field_list.html" %}
        {% endif %}
      {% endif %}

      {% block submission_notes %}
        {% if credit_submission.submission_notes %}
          <div class="accordion" id="boundary">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                   data-parent="#boundary" href="#collapseOne">
                  Data source(s) and notes about the submission
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                  {{ credit_submission.submission_notes|urlize|linebreaks|fix_ampersands }}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endblock %}

    {% endblock %}
  </div>

{% endblock %}

{% block center_column_footer %}
  {% include 'institutions/scorecards/footer.html' %}
  <!--
    CID: {{ credit_submission.credit.id }}
    CUS: {{ credit_submission.id }}
    SS: {{ submissionset.id }}
  -->
{% endblock %}
