{% extends 'credits/columned_layout.html' %}

{% block navHeader %}
    <h4>
        <a href='{{ submissionset.get_scorecard_url }}'>STARS {{ submissionset.creditset }}</a>
    </h4>
{% endblock %}

{% block railAboveMenu %}
    <div style='text-align: center;'>
    <a href='{{ submissionset.get_scorecard_url }}'>
        {% if preview %}
            <img src='/media/static/images/STARS-Participant-200x200.png' alt='Preview' class='seal' />
        {% else %}
            <img src='{{ submissionset.rating.image_200.url }}' alt='{{ submissionset.rating }}' class='seal' />
        {% endif %}
    </a>
    </div>
    {% include 'institutions/scorecards/vertical_status_table.html' %}
{% endblock %}

{% block center_column %}
    {% load submit_tags %}
    <h1>
        {% if preview %}<i>Preview:</i>{% endif %}
        <a href='{{ submissionset.get_scorecard_url }}'>{{ institution }}</a><br/>
        {{ credit_submission.credit }}
    </h1>
    
    <table class='statusTable' cellspacing='0'>
        <tr>
            <th>
                Status
            </th>
            <th>Score</th>
            <th>Responsible Party</th>
        </tr><tr>
            <td>
                {% with credit_submission as c %}
                    {% include 'credits/credit_status_icon.html' %}
                {% endwith %}
            </td>
            <td>
                {% ifnotequal submissionset.rating.name "Reporter" %}
                    {{ credit_submission.assessed_points|floatformat:2 }} /
                    {% format_available_points credit_submission %}
                {% else %}
                    Reporter
                {% endifnotequal %}
            </td>
            <td style='text-align: right;'>
                {% if credit_submission.responsible_party %}
                    <b>{{ credit_submission.responsible_party }}</b><br/>
                    {{ credit_submission.responsible_party.title }}<br/>
                    {{ credit_submission.responsible_party.department }}
                {% endif %}
            </td>
        </tr>
    </table>
    
    <ul id="tabnav" {% block tabclass %}class='tab1'{% endblock %}>
        <li class="tab1">
            <a href="{{ credit_submission.get_scorecard_url }}">Reporting Fields</a>
        </li>
        <li class="tab2">
            <a href="{{ credit_submission.get_scorecard_url }}documentation/">Credit Info</a>
        </li>
        {% if user_tied_to_institution and credit_submission.internal_notes %}
            <li class='tab3'>
                <a href='{{ credit_submission.get_scorecard_url }}internal-notes/'>Internal Notes</a>
            </li>
        {% endif %}
    </ul>
    <div class='tabContent'>
        {% block tab_content %}
            <br/>
            {% for field in credit_submission.get_submission_fields %}
                {% include 'institutions/scorecards/field_formatting.html' %}
            {% endfor %}
            {% if credit_submission.submission_notes %}
                <h2>Notes about this submission</h2>
                <i>{{ credit_submission.submission_notes|urlizetrunc:85|linebreaks|fix_ampersands }}</i>
            {% endif %}
        
        {% endblock %}
    </div>
    
{% endblock %}