{% load logical_rules_tags %}

<ul class="nav nav-tabs">
  <li{% if active == "fields" %} class='active'{% endif %}>
    <a href="{{ credit_submission.get_scorecard_url }}">Reporting Fields</a>
  </li>
  <li{% if active == "info" %} class='active'{% endif %}>
  	<a href="{{ credit_submission.get_scorecard_url }}documentation/">Credit Info</a>
  </li>
  {% testrule user_can_see_internal_notes user submissionset %}
  	<li{% if active == "notes" %} class='active'{% endif %}>
  		<a href='{{ credit_submission.get_scorecard_url }}internal-notes/'>Internal Notes</a>
	</li>
  {% endtestrule %}
</ul>
