{% extends 'institutions/scorecards/base.html' %}

{% block title %}{{ credit_submission.credit }} | {{ block.super }}{% endblock %}

{% block crumb-tab %}
    <li class="breadcrumb-item">
    	<a href='/institutions/{{ submissionset.institution.slug }}/report/'>{{ submissionset.institution }}</a>
    </li>
    <li class="breadcrumb-item">
    	<a href='{{ submissionset.get_scorecard_url }}'>
	    	{% if submissionset.was_submitted %}
	    		{{ submissionset.date_submitted }}
	    	{% else %}
	    		{{ submissionset.creditset }}
	    	{% endif %}
    	</a>
    </li>
	<li class="breadcrumb-item">
    	{{ credit_submission.credit }}
    </li>
{% endblock %}

{% block content %}
    {% include 'institutions/scorecards/credit_include.html' %}
{% endblock %}
