{% extends 'base.html' %}

{% block extra_head %}
	<script>
		$(document).ready(function() {
	  		$.ajaxSetup({ cache: false });
		});
	</script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="span4 offset4 well">
			<div id='waiting'>
				<p>
					Please wait while your export is generated...
				</p>
				<hr/>
				<div class="progress progress-striped progress-primary active" id='progressBar'>
	  				<div class="bar" style="width: 100%;"></div>
				</div>
			</div>
			<div id='finished' style='display: none;'>
				<h3>Export Complete!</h3>
				<p>Click below to download...</p>
				<hr/>
				<div style='text-align: center;'>
					<a	href='download/{{ task }}/'
						class='btn btn-success'
						id='downloadButton'>
							Download <i class='icon-download icon-white'></i></a>
				</div>
				
				<script type='text/javascript'>
					
					function pollForResult(url) {  
						console.debug("checking " + url);
					    $.getJSON(url, function(data) {
					    	console.debug(data.task.result);
					    	if(data.task.result != null) {
									$('#waiting').hide();
									$('#finished').show();
					        }
					    	else {
					        	setTimeout(function(){
					        		pollForResult(url);
					        	}, 1000);
					    	}
					    });
					}

					setTimeout(function(){
						pollForResult('/tasks/{{ task }}/status/');
					}, 1000);
				</script>
			</div>
		</div>
	</div>
{% endblock %}