{% load humanize %}
{% load report_tags %}

{% if not field.is_empty %}
	{% ifequal field.documentation_field.type 'long_text' %}
	    <div style='text-align: left; margin: 0px;padding: 0px;'>
		    {% block long_text_disply %}{{ field.value|urlize|linebreaks|fix_ampersands }}{% endblock %}
		</div>
	{% else %}
	    {% ifequal field.documentation_field.type 'url' %}
	        {% block url_display %}<a href='{{ field.value }}' target="_blank">{{ field.value }}</a>{% endblock %}
	    {% else %}
	        {% ifequal field.documentation_field.type 'upload' %}
	            {% if field.value %}
	                <a href='{% if host %}http://{{ host }}{% endif %}{{ field.value.url }}'>{{ field.get_filename }}</a>
	            {% endif %}
	        {% else %}
	            {% ifequal field.documentation_field.type 'numeric' %}
	                {{ field.value|floatformat:"-2" }}
	                {% if field.documentation_field.units %}
	                    <i>{{ field.documentation_field.units }}</i>
	                {% endif %}
	            {% else %}
	                {% ifequal field.documentation_field.type 'boolean' %}
	                    {{ field }}
	                {% else %}
	                    {{ field.value }}
	                {% endifequal %}
	            {% endifequal %}
	        {% endifequal %}
	    {% endifequal %}
	{% endifequal %}
{% endif %}