{% load humanize %}
{% load report_tags %}
{% load logical_rules_tags %}
{% load help %}
{% load l10n %}
{% load admin_urls %}


{% if not field.is_empty %}

  {% if field.documentation_field.type == 'long_text' %}
    <div style='text-align: left; margin: 0px;padding: 0px;'>
      {% block long_text_disply %}
        {{ field.value|urlize|linebreaks }}
      {% endblock %}
    </div>

  {% elif field.documentation_field.type == 'url' %}
    {% block url_display %}
      <a href='{{ field.value }}' target="_blank">{{ field.value }}</a>
    {% endblock %}

  {% elif field.documentation_field.type == 'upload' %}
    {% if field.value %}
      <a href='{% if host %}https://{{ host }}{% endif %}{{ field.value.url }}'>
        {{ field.get_filename }}
      </a>
    {% endif %}

  {% elif field.documentation_field.type == 'numeric' or field.documentation_field.type == 'calculated' %}
    {% if field.use_metric != None and field.use_metric %}
      {{ field.metric_value|floatformat:"-2" }}
      {% if field.documentation_field.metric_units %}
        <i>{{ field.documentation_field.metric_units }}</i>
      {% endif %}
    {% else %}
      {{ field.value|floatformat:"-2" }}
      {% if field.documentation_field.units %}
        <i>{{ field.documentation_field.units }}</i>
      {% endif %}
    {% endif %}

  {% elif field.documentation_field.type == 'boolean' %}
    {{ field }}

  {% elif field.documentation_field.type == 'multichoice' %}
    {% for choice in field.value.all %}
      {{ choice }}
      {% if not forloop.last %}
        <br>
      {% endif %}
    {% endfor %}

  {% else %}
    {{ field.value }}
  {% endif %}

{% else %}
  <span class='green'>---</span>
{% endif %}

{% if not pdf and not preview and not data_display %}

  {% if field.flags %}
    {% for f in field.flags %}
      <a href="{% if user.is_staff %}{{ f.get_admin_url }}{% else %}#{% endif %}"
	 rel="tooltip"
         data-toggle="tooltip"
	 id="flag_{{ f.id|unlocalize }}"
	 title="{{ f.description }}"
	 class='pull-right'>
	<i class='icon-flag'> </i></a>
      <script type='text/javascript'>$('#flag_{{ f.id|unlocalize }}').tooltip({'html': true});</script>
    {% endfor %}
  {% endif %}
  {% if user.is_staff %}
    {% ifequal field.documentation_field.type 'upload' %}
      <a href="{{ field.get_admin_url }}" target="_blank"
         class='btn btn-mini pull-right'><i class='icon-upload'></i></a>
    {% endifequal %}

    <a href="{{ field.get_flag_url }}" class='btn btn-mini pull-right'>
      <i class='icon-flag'></i>
    </a>
  {% endif %}

  {% testrule user_is_institution_admin user institution %}
    <a href="{{ field.get_correction_url }}"
       class='btn btn-mini pull-right'
       data-toggle="tooltip"
       id="dc_{{ field.id|unlocalize }}"
       title="{% get_help_context 'data_correction_popup' %}">
      <i class='icon-pencil'> </i></a>
    <script type='text/javascript'>
     var options = {'html': true}
     $('#dc_{{ field.id|unlocalize }}').tooltip(options);
    </script>
  {% endtestrule %}

  {% if field.corrections.all %}
    {% for c in field.corrections.all %}

      <div class='correction'>
	<img src='/media/static/images/expand_big.gif' alt='+'
             onclick='expandCollapse(this,false);' id='correction_{{ c.id }}'
             class='collapseExpand' style='vertical-align: text-bottom;'/>
	<span style="color: #000">Date Revised: {{ c.change_date }}</span>
	<br/>
	<div style='{% block correction_display %}display: none;{% endblock %}font-size: .8em;margin: 10px 20px;' id='correction_{{ c.id }}_target'>
	  <p>
            {{ institution }} requested that AASHE Staff correct a mistake in
            this reporting field for the reason specified below.
          </p>
	  <span style='color: #000; font-weight: bold;'>Previous Value:</span>
	  {{ c.previous_value }}
	  {% if c.explanation %}
	    <br/><br/>
	    <span style='color: #000; font-weight: bold;'>Explanation:</span>
	    {{ c.explanation }}
	  {% endif %}
	</div>
      </div>
    {% endfor %}
  {% endif %}
{% endif %}
