{% extends "institutions/scorecards/base.html" %}

{% load custom_caching %}
{% load logical_rules_tags %}

{% define "anon" as version %}

{% testrule user_is_institution_admin user institution %}
    {% define "admin" as version %}
{% endtestrule %}

{% if user.is_staff %}
    {% define "staff" as version %}
{% endif %}

{% block body_onload %}expandTo = 0;{{ block.super }}{% endblock %}

{% block content %}

	{# cache for those who have the export functionality #}
	
	{% testrule user_can_view_export user submissionset %}
		{% file_cache 2592000 request.get_full_path submissionset.id preview "EXPORT" user.is_staff %}
	    	{% include 'institutions/scorecards/summary_include.html' %}
		{% endfile_cache %}
	{% else %}
		{% file_cache 2592000 request.get_full_path submissionset.id preview "EXPORT" user.is_staff %}
	    	{% include 'institutions/scorecards/summary_include.html' %}
		{% endfile_cache %}
	{% endtestrule %}
{% endblock %}
