{% extends 'dashboard/base.html' %}

{% block extra_head %}
    <script type="text/javascript" src="/media/tp/js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript" src="/media/static/js/textarea_admin.js"></script>
    <script type="text/javascript" src="/media/tp/js/tablednd.js"></script>
{% endblock %}

{% block title %} | Credit Editor | {{ creditset }} {% endblock %}

{% block extra_messages %}
    {% if extra_messages and creditset.is_released and not creditset.is_locked %}
        <li class='notice'>Credit Set is released - Edit Carefully - Re-lock when done.</li>
    {% endif %}
{% endblock %}

{% block extra_footer %}
    <script type='text/javascript'>
        var tableDnD = null;
        setTable('dndtable');
        setTable('dndtable2');
    </script>
    <p id='debug' style='background-color: #eee'>Debug:</p>
{% endblock %}

{% block submenu_class %}class='sm_ce'{% endblock %}

{% block content %}
    <div id='column_container'>
        <div id='center'><div class='inner'>
            <h1>{% block header %}{% endblock %}</h1>
            {% block center %}{% endblock %}
        </div></div>
        <div id='leftRail'>
            <div id='summary'>
                <label for='version'>Version:</label>
                <select onchange='document.location=this.options[this.selectedIndex].value;'>
                    {% for set in available_sets %}
                        <option value='{{ set.get_edit_url }}' {% ifequal set creditset %}selected='selected'{% endifequal %}>{{ set.version }}</option>
                    {% endfor %}
                </select>
                <button type='button' title='New Version' onclick='document.location="/dashboard/credit-editor/add-creditset/"'>New Version</button>
            </div>
            <h2>
                <a href='{{ creditset.get_edit_url }}'>{{ creditset }}</a>
                {% if creditset.is_locked %}
                    <img src='/media/static/images/locked.png' title='Locked - Limited Editing'/>
                {% else %}
                    <img src='/media/static/images/unlocked.png' title='Unlocked - Editing Allowed'/>
                {% endif %}
            </h2>
            {% with 'true' as edit %}
            {% include 'dashboard/credit_outline.html' %}
            {% endwith %}
        </div>
    </div>
{% endblock %}