{% if object_ordering %}
    {% for row in object_ordering %}
    <tr>
        {% block display_row %} 
        <td>
            <a href='{{ row.obj.get_edit_url }}'>{{ row.obj }}</a>
        </td>
        {% endblock %}
        <td class='buttonColumn'>
            {% block edit_buttons %} 
            <a href='{{ row.obj.get_edit_url }}'>
                <img src='/media/static/images/page_edit.png' alt='edit' title='edit' />
            </a>
            <a href='{{ row.obj.get_edit_url }}delete/'>
                <img src='/media/static/images/delete.png' alt='delete' title='delete' />
            </a>
            {% endblock %}
            <img src='/media/static/images/drag_vertical.png' alt='drag this row' title='drag this row' />
            {{ row.form.ordinal }}
        </td>
    </tr>
    {% endfor %}
    <tr nodrop="true" nodrag="true"><td colspan='4' class='buttonRow'>
    <button type='submit' disabled='disabled' id='save_ordering'>save ordering</button>
    </td></tr>
{% endif %}
