{% extends "dashboard/credit_editor/base.html" %}

{% block title %} {{ block.super }} | {{ category }} | {{ subcategory }}{% endblock %}

{% block crumbs %}
    {% load ce_tags %}
    {% show_editor_crumbs subcategory %}
{% endblock %}

{% block header %}{{ subcategory }}{% endblock %}

{% block center %}
    <form method='post' action='.'>
        {% include 'dashboard/credit_editor/standard_form_with_delete.html' %}
        {% if object_ordering %}
        <table class='list' id='dndtable'>
            <tr nodrop="true" nodrag="true">
                <th colspan='2'>Credits</th>
            </tr>
            {% include 'dashboard/credit_editor/credit_ordering_form_table.html' %}
        </table>
        {% endif %}
    </form>

    <div class='new_form'>
        <span style='cursor: pointer' onclick='expand_new_form(this)' title='Add Credit'>
            <img src='/media/static/images/expand.png' title='Add Credit' alt='+' />
            Add Credit
        </span>
        <form action='{{ subcategory.get_edit_url }}add-credit/' method='POST' style='margin: 0px;'>
            <div class='form' id='new_form' style='display:none'>
                {{ new_credit_form.as_p }}
                <p class='buttonRow'>
                <input type='submit' value='submit' />
                </p>
            </div>
        </form>
    </div>
{% endblock %}