{% extends "dashboard/credit_editor/base.html" %}

{% block title %} {{ block.super }} | {{ category }} | {{ subcategory }}{% endblock %}

{% block crumbs %}
    {% load ce_tags %}
    {% show_editor_crumbs subcategory %}
{% endblock %}

{% block header %}{{ subcategory }}{% endblock %}

{% block center %}
    <form method='post' action='.'>
        {% include 'dashboard/credit_editor/standard_form_with_delete.html' %}
        {% if t1_ordering %}
        <table class='list' id='dndtable'>
            <tr nodrop="true" nodrag="true">
                <th colspan='2'>Tier 1 Credits</th>
            </tr>
            {% with t1_ordering as object_ordering %}
            {% include 'dashboard/credit_editor/credit_ordering_form_table.html' %}
            {% endwith %}
        </table>
        {% endif %}
        {% if t2_ordering %}
        <table class='list' id='dndtable2'>
            <tr nodrop="true" nodrag="true">
                <th colspan='2'>Tier 2 Credits</th>
            </tr>
            {% with t2_ordering as object_ordering %}
            {% include 'dashboard/credit_editor/credit_ordering_form_table.html' %}
            {% endwith %}
        </table>
        {% endif %}
    </form>
    {% if not subcategory.credit_set.all %}
        <button type='button' onclick="document.location='add-credit/';">Add Credit</button>
        <button type='button' onclick="document.location='add-t2-credit/';">Add Tier 2 Credit</button>
    {% endif %}
{% endblock %}