{% autoescape off %}
    {% if help_text %}
        {% if tooltip %}
            <a href="#"
               rel="popover"
               data-content="{{ help_text }}"
               id="{{ id }}"
               data-original-title="{{ help_text_title|default_if_none:'' }}">
                <i class='icon-question-sign'></i>
            </a>
            <script type='text/javascript'>
                function position_relative_to_center(pop, dom_el) {
                    /*
                       When we're to the right of center, return 'left';
                       when we're to the left of center, return 'right'.

                       When used as the `placement` option of a popover,
                       this solves the problem of popovers near the right
                       of the window displaying off screen.
                     */
                    var center = window.innerWidth / 2;
                    var popover_left = $(dom_el).offset().left;
                    if (popover_left < center)
                        return 'right';
                    else
                        return 'left';
                }
                $('#{{ id }}').popover({placement: position_relative_to_center});
            </script>
        {% else %}
            {% if modal %}
                <div class="modal hide fade" id="{{ id }}">
                    <div class="modal-header">
                        <button class="close">&times;</button>
                        <h3>
                            {{ help_text_title|default_if_none:" " %}
                        </h3>
                    </div>
                    <div class="modal-body">
                        <p>{{ help_text }}</p>
                    </div>
                </div>
                <a data-toggle="modal" href="#{{ id }}" >
                    <i class='icon-question-sign'></i>
                </a>
            {% else %}
                <span class='help_text'> {{ help_text }} </span>
            {% endif %}
        {% endif %}
    {% endif %}
{% endautoescape %}
