<div class="tweets-pulled-listing">

  {% load humanize %}

  <div class="media tweet-list">
    {% for tweet in tweets %}
    <a class="pull-left" href="https://twitter.com/{{ tweet.user.screen_name }}">
      <img rel="nofollow" src="{{ tweet.user.profile_image_url }}" alt="{{ tweet.user.screen_name }}" />
    </a>
    <div class="media-body">
      <h4 class="media-heading"><a rel="nofollow" href="https://twitter.com/{{ tweet.user.screen_name }}">@{{ tweet.user.screen_name }}</a></h4>
      <p>{{ tweet.text|urlize }}</p>
      <p class="tweet-meta small">
        <a href="http://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id|safe }}">{{ tweet.timestamp|naturaltime|capfirst }}</a> 
        <span class="pull-right">
          <a href="https://twitter.com/intent/retweet?tweet_id={{ tweet.id|safe }}">Retweet</a> | 
          <a href="https://twitter.com/intent/tweet?in_reply_to={{ tweet.id|safe }}">Reply</a> | 
          <a href="https://twitter.com/intent/favorite?tweet_id={{ tweet.id|safe }}">Favorite</a>
        </span>
      </p>
    </div><!-- /.media-body -->
    {% endfor %}
  </div><!-- /.media -->
</div>
