{% load l10n %}
{% localize off %}

<style>
#tabular_widget_container input, #tabular_widget_container select {
	width: 100px;
}
</style>

<textarea name="{{ name }}" id="id_{{ name }}" class="noMCE" style="display: none;">{{ value }}</textarea>

<div class="well" style="text-align: center;">
<label for="tabular_widget_columns" style="display: inline;">Columns:</label>
<select id="tabular_widget_columns" style="display: inline; width: 80px;" onchange="updateTable();">
	<option selected value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
</select>
<label for="tabular_widget_rows" style="display: inline;">Rows:</label>
<select id="tabular_widget_rows" style="display: inline; width: 80px;" onchange="updateTable();">
	<option selected value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
</select>
</div>

<div id="tabular_widget_container" style="overflow: auto; width: 700px;"></div>

<script>

	// Comes from the credit
	var availableFields = [
		{% for field in fields %}
			["{{ field }}", {{ field.id }}],
		{% endfor %}
	                 ];

	// Comes from the JSON field on the documentation field
	{% if value != "null" %}
		var tw = JSON.parse("{% autoescape off %}{{ value|escapejs }}{% endautoescape %}");
	{% else %}
		var tw = {
			'numCols': 1,
			'numRows': 1,
			'colHeadings': [],
			'rowHeadings': [],
			'fields': [],
		};
	{% endif %}

	/*
		Field array structure:
			[
			 [c0r0, c0r1, c0r2],
			 [c1r0, c1r1, c1r2]
			]
		..inverted. Sorry. Sue me. ;)

		how it should be
			[
			 [r0c0, r0c1],
			 [r1c0, r1c1]
			 ]
	*/

	var initTable = function() {
		$('#tabular_widget_columns').val(tw.numCols);
		$('#tabular_widget_rows').val(tw.numRows);
		updateTable();
	}

	// Added helper methods
	var updateTable = function() {

		// Step 1: reset table

		tw.numCols = parseInt($('#tabular_widget_columns').val());
		tw.numRows = parseInt($('#tabular_widget_rows').val());

		// emtpy container
		$("#tabular_widget_container").empty();

		// rebuild table
		var rows = [];

		// headings
		var row = '<thead><tr><th>Row Title</th>';
		for(var ci=0; ci<tw.numCols; ci++) {
			row += '<th><input type="text" id="col_heading_' + ci + '" onchange="updateJSON();"/>';
		}
		row += '</thead>';
		rows.push(row);

		// rows
		rows.push('<tbody>');
		for(var r=0; r<tw.numRows; r++) {
			row = "<tr>";
			row += '<td><input type="text" id="row_heading_' + r + '" onchange="updateJSON();"/></td>';
			for(var c=0; c<tw.numCols; c++) {

				// fields
				row += '<td><select id="tab_field_' + r + '_' + c + '" onchange="updateJSON();">';
				row += '<option value="">Select Field</option>';
				$.each(availableFields, function(i, f) {
					row += "<option value='" + f[1] + "'>" + f[0] + "</option>";
				});
				row += "</select></td>";
			}
			row += "</tr>";
			rows.push(row);
		}
		rows.push("</tbody>");
		$('<table class="table table-bordered" style="width: 700px;"></table>').append(rows.join('')).appendTo('#tabular_widget_container');

		// Step 2: Populate table
		for(r=0; r<tw.numRows; r++) {
			if(tw.rowHeadings.length > r)
				$("#row_heading_" + r).val(tw.rowHeadings[r]);

			for(c=0; c<tw.numCols; c++) {
				if(tw.colHeadings.length > c && r == 0)
					$("#col_heading_" + c).val(tw.colHeadings[c]);

				if(tw.fields.length > r) {
					if(tw.fields[r].length > c) {
						$("#tab_field_" + r + "_" + c).val(tw.fields[r][c]);
					}
				}
			}
		}
		updateJSON();
	};

	// Copy config into textarea as JSON
	var updateJSON = function() {
		tw.colHeadings = [],
		tw.rowHeadings = [],
		tw.fields = []

		// rows
		for(var r=0; r<tw.numRows; r++) {
			tw.rowHeadings.push($("#row_heading_" + r).val())
			var fieldRow = []

			// columns
			for(var c=0; c<tw.numCols; c++) {
				if(r == 0) {
					tw.colHeadings.push($("#col_heading_" + c).val())
				}

				fieldRow.push($("#tab_field_" + r + "_" + c).val());
			}
			tw.fields.push(fieldRow);
		}
		$("#id_{{ name }}").val(JSON.stringify(tw));
	};

	initTable();
</script>

{% endlocalize %}
