{% extends "tool/submissions/columned_layout.html" %}

{% load content %}
{% load bootstrap %}

{% block crumbs-tool %}
    <a href="{% url 'tool:my_submission:submission-summary' institution.slug submissionset.id %}">
        My Submission
    </a>
    <span class="divider">/</span>
    Boundary
{% endblock %}

{% block tool_content %}
    <h1>Institutional Boundary</h1>
    {% display_block_content 'boundary_page' user %}
    <form class='form-horizontal' method='post' action='.'>
      {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
      {% for fieldset in form.fieldsets %}
        <h3>{{ fieldset.legend }}</h3>
        {% if fieldset.description %}
          <p>{% display_block_content fieldset.description user %}</p>
        {% endif %}


        {% for field in fieldset %}
        	{{ field|bootstrap }}
        {% endfor %}

        {% comment %}
        {% with fieldset as object_form %}
        	{{ object_form|bootstrap }}
	          <table>
	          	{% include "helpers/standard_form.html" %}
	          </table>
        {% endwith %}
        {% endcomment %}
      {% endfor %}
        <div class='form-actions'>
            <button type='submit' class='btn btn-primary'>Save Boundary</button>
            <button type='button'
                    class='btn'
                    onclick='document.location="{% url 'tool:my_submission:submission-summary' institution.slug submissionset.id %}";'>
                Cancel
            </button>
        </div>
    </form>
{% endblock %}
