{% extends 'tool/base.html' %}

{% block extra_head %}
	{{ block.super }}
	<link href='/media/static/css/listexpander.css' rel='stylesheet' type='text/css' />
	<script src='/media/static/js/listexpander.js' type='text/javascript'></script>
{% endblock %}

{% block body_onload %}{{ block.super }}listexpander();collapseSummary();{% endblock %}

{% block submission_outline %}
        <ul class="listexpander">
        {% for cat in active_submission.creditset.category_set.all %}
	        <li>
	        	<a href='/tool/submissions/#ec_{{ cat.id }}'>{{ cat }}</a>
                <ul>
                	{% for sub in cat.subcategory_set.all %}
                    <li>
                    	<a href='/tool/submissions/#ec_{{ cat.id }}_{{ sub.id }}' onclick='jumpToSubcat("{{ cat.id }}", "{{ sub.id }}");'>
                    		{{ sub }}
                    	</a>
                    	<ul>
                    		{% for c in sub.get_tier1_credits %}
                    			<li>
                    				<a {% ifequal c credit %}id='currentSelection'{% endifequal %}
                    					href='{{ c.get_submit_url }}'>{{ c }}</a>
                    			</li>
                    		{% endfor %}
                    		{% if sub.get_tier2_credits %}
                    			<li>
                    				Tier 2 Credits
                    				<ul>
                    					{% for c in sub.get_tier2_credits %}
                    						<li><a {% ifequal c credit %}id='currentSelection'{% endifequal %}
                    							href='{{ c.get_submit_url }}'>{{ c }}</a></li>
                    					{% endfor %}
                    				</ul>
                    			</li>
                    		{% endif %}
                    	</ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>  
        {% endfor %}
		</ul>
{% endblock %}
