<p>
  Dear {{ institution.contact_first_name }} {{institution.contact_last_name }},
</p>

<p>
  Congratulations on submitting your institution's STARS report!
  AASHE staff review one-third of credits in all finalized STARS
  reports to ensure that credit criteria and intent are being
  satisfied, while also working with institutions to improve quality
  of current and future reports. This Collaborative Review and
  Revision Process is the final step before awarding your
  institution’s STARS rating and publishing the report on the STARS
  website.
</p>

{% if best_practices %}
  <p>
    We made note of a reporting best practice
    in the following area(s):
    <ul>
      {% for best_practice in best_practices %}
        <li>
          <a href="https://stars.aashe.org{{ best_practice.credit_user_submission.get_submit_url }}">
            {{ best_practice.credit_user_submission.credit }}</a>: {{ best_practice.comment }}
        </li>
      {% endfor %}
    </ul>
  </p>
{% endif %}

{% if revision_requests %}
  <p>
    As detailed below, we noted areas where your response did
    not match the credit criteria and intent. Our goal is to have
    these inconsistencies reviewed and revised as soon as possible and
    within 60 days from today. The credit(s) listed below have been
    unlocked for editing in the
    <a href="https://stars.aashe.org{{ my_submission_url }}">
      My Submission</a>
    section of the Reporting Tool. Once all inconsistencies are
    addressed, your institution’s report will go public and we will
    forward a certificate of rating to the STARS Liaison, Executive
    Contact and President/Chancellor. Included in the review results
    below are credit URLs and Technical Manual links for your reference:
    <ul>
      {% for revision_request in revision_requests %}
        <li>
          <a href="https://stars.aashe.org{{ revision_request.credit_user_submission.get_submit_url }}">
            {{ revision_request.credit_user_submission.credit }}</a>: {{ revision_request.comment }}
        </li>
      {% endfor %}
    </ul>
  </p>
{% endif %}

{% if suggestions_for_improvement %}
  <p>
    Below are areas where credit intent was satisfied, but AASHE
    staff identified one or more suggestions for improvement. The
    credit(s) listed below have also been unlocked for editing in the
    <a href="https://stars.aashe.org{{ my_submission_url }}">
      My Submission</a>
    section of the Reporting Tool, and we encourage you to make the
    suggested changes. These issues do not have to be addressed in
    order to receive your rating and certificate:
    <ul>
      {% for suggestion_for_improvement in suggestions_for_improvement %}
        <li>
          <a href="https://stars.aashe.org{{ suggestion_for_improvement.credit_user_submission.get_submit_url }}">
            {{ suggestion_for_improvement.credit_user_submission.credit }}</a>: {{ suggestion_for_improvement.comment }}
        </li>
      {% endfor %}
    </ul>
  </p>
{% endif %}

<p>
  As you work to address the issues identified above, you can save
  each credit as "In Progress" if you want to capture changes but
  aren't yet finished. Once you've addressed the issue(s) for a
  specific credit, please save that credit as "Resubmit" to notify us
  that it is ready for a second review. Credits marked as "In
  Progress" will not be included in overall score calculations, so you
  may see a temporary drop in Overall Score. This will change once
  credits are saved as “Resubmit". As you begin resubmitting credits,
  you will receive periodic updates to keep you informed of your
  progress in addressing the review results.
</p>

<p>
  STARS data accuracy processes help to improve report quality,
  protect the credibility of STARS, and provide a fair and transparent
  means for resolving questions about STARS data. You can learn more
  about these data accuracy processes
  <a href="https://stars.aashe.org/pages/report/stars-report-accuracy.html">
    here</a>.
</p>

<p>
  If you have questions about the review results, STARS credit
  criteria, or would like guidance on revisions, please do not
  hesitate to respond. Thank you in advance for following up to
  address these results.  We look forward to working with you,
  answering any questions, and publishing your report and rating!
</p>

<p>
  Sincerely,
  <br />
  The STARS Review Team
</p>
