{% extends 'tool/submissions/credit_base.html' %}

{% load bootstrap %}

{% block body_onload %}{{ block.super }}load_handler();{% endblock %}

{% block body_beforeunload %}{{ block.super }}return before_unload_credit();{% endblock %}

{% block extra_head %}
	{{ block.super }}
    <script type="text/javascript"
            src="/media/admin/js/admin/RelatedObjectLookups.js">
    </script>
    <script type="text/javascript" src="/media/static/js/ajax.js"></script>
    <script type="text/javascript">
    function load_handler() {
        enable_submit({% if submission_form.errors %}true{% else %}false{% endif %}, false);
        toggle_applicability_reasons(
            get_selected_button(
                document.forms.submission_form.submission_status));
    }
    </script>
{% endblock %}

{% block credit_tabs %}{% with active='fields' %}{{ block.super }}{% endwith %}{% endblock %}

{% block tab_content %}
  {% load fieldsets %}
  <form method='post' action='.' class='submit_form'
        name='submission_form' enctype="multipart/form-data"
        onsubmit='enable_submit(false, true);'>

	  {% if credit.applicabilityreason_set.all %}
	      <div style='float: right;font-size: .9em;padding:10px;'>
              Credit doesn't apply to you?
              <a href='#status' class='classOne noExit' id='clickhere'>
                  Click here</a>.
          </div>
	  {% endif %}
	  <div style='font-size: .9em;padding:10px;'>
	      <span class="required_note"
                title="This field is required to complete credit">*</span>
	      Required Fields
	      <span class='conditionally_required_note'
                title="In some cases, this field will be required to complete credit">*</span>
	      Conditionally Required Fields
	  </div>

  <div class='creditContent'>
  		<h2>Reporting Fields</h2>
        {% include "tool/submissions/submission_fields_form.html" %}
      <hr/>
      <h3>Notes</h3>
        <label>Notes about the submission{% if user.current_inst.is_participant %} (public){% endif %}:</label>
        {% if submission_form.submission_notes.errors %}{{ submission_form.errors.submission_notes }}{% endif %}
    	<div class='field-form'>
    	   {{ submission_form.submission_notes }}
    	</div>
      <hr/>
      <h3>Responsible Party</h3>
        {% if submission_form.responsible_party.errors %}
            {{ submission_form.errors.responsible_party }}
        {% endif %}
        <span class="required_note"
              title="This field is required to complete credit">*</span>
        {{ submission_form.responsible_party }}
        <a href="/tool/submissions/add-responsible-party/"
           class="btn btn-info btn-small" id="add_id_responsible_party"
           onclick="return showAddAnotherPopup(this);"
           title='Add New Responsible Party'>
        	Add
        </a>
        {% load help %}
        {% show_help_context 'responsible_party' %}
        <br/>
        {% if submission_form.responsible_party_confirm.errors %}
            {{ submission_form.errors.responsible_party_confirm }}
        {% endif %}
        <span class="required_note"
              title="This field is required to complete credit">*</span>
        {{ submission_form.responsible_party_confirm }}
        <label class="required">By checking this box, I affirm that the information included in the submission for this credit is accurate to the best of my knowledge.</label>
      <hr/>
      <a name='status'></a>
        <table>
            <tr>
                <td>
                	Save with status:
                	{% show_help_context 'submission_status' %}
                </td>
            </tr>
            <tr>
                <td class='submission_status'>
                    {% show_help_context 'submission_status_choices' %}
                    {% if submission_form.submission_status.errors %}
                        {{ submission_form.errors.submission_status }}
                    {% endif %}
                    {{ submission_form.submission_status|bootstrap }}
                </td>
            </tr>
            {% if credit.applicabilityreason_set.all %}
            <tr>
                <td><div id='reason_choices'>
                    Reason this credit does not apply:<br/>
                        {% if submission_form.applicability_reason.errors %}
                          {{ submission_form.errors.applicability_reason }}
                        {% endif %}
                        {{ submission_form.applicability_reason }}
                </div></td>
            </tr>
            {% endif %}
        </table>

    </div>
    <div class='form-actions'>
        <button type='submit' id='submit_button'
                class="btn btn-primary{% if errors %} errors{% endif %}">
            Save
        </button>
    </div>
    </form>
{% endblock %}
