{% extends 'tool/submissions/credit_base.html' %}

{% load bootstrap %}
{% load help %}
{% load compress %}
{% load content %}

{% block body_onload %}
  {{ block.super }}
  {% if credit_submission_locked %}
    lockdown();
  {% endif %}
{% endblock %}

{% block body_beforeunload %}
  {{ block.super }}
  return before_unload_credit();
{% endblock %}

{% block extra_head %}
  {{ block.super }}
  {% compress js %}
    <!-- <script src="{{ STATIC_URL }}js/unsaved_data.js" type="text/javascript"></script> -->
    <script type="text/javascript"
            src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajax.js"></script>
  {% endcompress %}
  {% compress css %}
    <style type='text/css' media="screen">
    	.tooltip {
    		width: auto;
    		max-width: 500px;
    	}

    	.tooltip-inner {
    		width: 400px;
    	}
    </style>
  {% endcompress %}
  {% if credit_submission_locked %}
    {% compress js %}
      <script>
       function lockdown() {
         // For text and textarea inputs, set their readOnly flag.
         // This allows the reviewers to copy text from the submission.
         // Setting the disabled flag on text inputs disallows this.
         // For non-text form elements, set the disabled flag instead
         // because it prevents interaction with the widgets.  That
         // sounds bogus.  I smell code.
         var submit_form_elements = $(".submit_form").find(":input");
         for (i = 0; i < submit_form_elements.length; i++) {
           if (submit_form_elements[i].type == "text") {
             submit_form_elements[i].readOnly = true;
           }
           else {
             submit_form_elements[i].disabled = true;
           }
         }
         {% if not user.is_staff %}  // So staff can read uploads.
           anchors = $(".submit_form").find("a");
           anchors.attr({
             href: null,
             target: null,
             onclick: null
           });
           anchors.addClass("disabled");
         {% endif %}
       }
      </script>
    {% endcompress %}
  {% endif %}
{% endblock %}

{% block credit_tabs %}
  {% with active='fields' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block tab_content %}
  {% load fieldsets %}

  <form method='post' action='.' class='submit_form'
        name='form' enctype="multipart/form-data">

    {% if credit.applicabilityreason_set.all %}
      <div style='float: right;font-size: .9em;padding:10px;'>
        Credit doesn't apply to you?
        <a href='#status' class='classOne noExit' id='clickhere'>
          Click here</a>.
      </div>
    {% endif %}
    <div style='font-size: .9em;padding:10px;'>
      <span class="required_note"
            title="This field is required to complete credit">*</span>
      Required Fields
      <span class='conditionally_required_note'
            title="In some cases, this field will be required to complete credit">*</span>
      Conditionally Required Fields
    </div>

    <div class='creditContent'>
      <h2>Reporting Fields</h2>
      <br>
      {% display_block_content "global_credit_notice" user %}
      {% with form as submission_form %}
        {% include "tool/submissions/submission_fields_form.html" %}
      {% endwith %}
      <hr/>
      <h3>Notes</h3>
      <label>Data source(s) and notes about the submission
        {% if institution.is_participant %} (public){% endif %}:
      </label>
      {% if form.submission_notes.errors %}
        {{ form.errors.submission_notes }}
      {% endif %}
      <div class='field-form'>
        {{ form.submission_notes }}
      </div>

      <hr/>
      <h3>
        {% if not credit.subcategory.category.creditset.has_optional_responsible_parties_feature %}
      	  <span class="required_note"
	        title="This field is required to complete credit">*</span>
        {% endif %}
        Responsible Party
      </h3>
      {% if form.responsible_party.errors %}
	{{ form.errors.responsible_party }}
      {% endif %}
      {{ form.responsible_party|bootstrap }}
      <button type='button' class="btn"
          onclick="openAddResponsibleParty();"
	      title='Add New Responsible Party'>
	  Create New Responsible Party
      </button>
      {% show_help_context 'responsible_party' %}
      <br/>
      {% if form.responsible_party_confirm.errors %}
	{{ form.errors.responsible_party_confirm }}
      {% endif %}
      {% if not credit.subcategory.category.creditset.has_optional_responsible_parties_feature %}
        {{ form.responsible_party_confirm|bootstrap }}
      {% endif %}

      <hr/>

      {{ form.submission_status }}
      {{ form.applicability_reason }}

      <script>
       function saveWithStatus(status) {
         $("#id_submission_status").val(status);
         $(".submit_form").submit()
       }

       function saveWithReason(reason) {
         $("#id_applicability_reason").val(reason);
         saveWithStatus('na');
       }

       function openAddResponsibleParty(){
           $("#new-responsible-party").modal();
       }

       function postResponsibleParty(){
           var frm = $(".responsible-party-form");
           $(".modal-footer").hide();
           $("#responsible-party-p").hide();
           $(".responsible-party-form").hide();
           $(".spinner").slideDown();
           var empty = frm.find("input").filter(function(){
               return this.value === "";
           });
           if (empty.length){
               $(".spinner").hide();
               $("#responsible-party-p").html("All fields are required. Did not save.");
               $("#responsible-party-p").show();
           }
           else {
               $.ajax({
                 type: "POST",
                 url: frm.attr("id"),
                 data: frm.serialize(),
                 success: function(data) {
                   if (data.indexOf("errorlist") >= 0) {
                     $(".spinner").hide();
                     $("#responsible-party-p").html("It appears there was an error.");
                     $("#responsible-party-p").show();
                     $(".responsible-party-form").show();
                   } else {
                     $("#rsModalLabel").html("One moment please.");
                     $(".spinner").hide();
                     $(".checkmark").show();
                   }
                 },
                 error: function(data) {
                     $(".spinner").hide();
                     $("#responsible-party-p").html("It appears there was an error.");
                     $("#responsible-party-p").show();
                     $(".responsible-party-form").show();
                 }
               });
           }

       }
      </script>

      <a name="status"></a>
      <div class='form-actions'>

        Save as:<br/><br/>

        <div class="btn-toolbar" style="margin: 0;">

	  <div class="btn-group">
	    <button type='button' id='saveAsInProgress'
		    onclick="saveWithStatus('p');"
		    class="btn{% if form.errors %} errors{% endif %}">
	      <i class='icon-edit'></i>
	      In progress
	    </button>
	  </div>

          {% if not credit_submission_unlocked %}
            <div class="btn-group">
              <button type='button' id='saveAsComplete'
                      onclick="saveWithStatus('c');"
                      class="btn btn-success{% if form.errors %} errors{% endif %}">
                <i class='icon-check icon-white'></i>
                Complete
              </button>
            </div>
          {% else %}
            {% comment %}
              Some Credit Submissions are unlocked when their SubmissionSet
              is under review. For these, we display a Resubmit button in
              place of the usual Complete button. Its action is the same
              as the Complete button, but it has a different label and
              help text.
            {% endcomment %}
            <div class="btn-group">
              <button type='button' id='saveAsResubmitted'
                      onclick="saveWithStatus('c');"
                      class="btn btn-success{% if form.errors %} errors{% endif %}">
                <i class='icon-check icon-white'></i>
                Resubmit
              </button>
            </div>
          {% endif %}

	  {% if not credit.is_required %}
	    <div class="btn-group">
	      <button type='button' id='saveAsNotPursuing'
		      onclick="saveWithStatus('np');"
	              class="btn btn-warning{% if form.errors %} errors{% endif %}">
		<i class="icon-remove-sign icon-white"></i>
		Not pursuing
	      </button>
	    </div>
	  {% endif %}

	  {% if credit.applicabilityreason_set.all %}
	    <div class="btn-group">
	      <button class="btn btn-info dropdown-toggle"
                      data-toggle="dropdown" type="button" id='saveAsNA'>
		<i class="icon-ban-circle icon-white"></i>
		Not Applicable
		<span class="caret"></span>
	      </button>

	      <ul class="dropdown-menu">
		{% for reason in credit.applicabilityreason_set.all %}
		  <li>
                    <a href='#r{{ reason.id }}' name='r{{ reason.id }}'
                       onclick="saveWithReason({{ reason.id }});">{{ reason }}
                    </a>
                  </li>
		{% endfor %}
	      </ul>
	    </div>
	  {% endif %}

	  <script>
	   options = {
	     "title": "{% get_help_context 'not_applicable' %}",
	     "html": true,
	     "trigger": "hover",
	     "placement": "top",
	     "delay": { show: 500, hide: 100 }
	   };
	   $("#saveAsNA").tooltip(options);

	   // In progress
	   options["title"] = "{% get_help_context 'in_progress' %}";
	   $("#saveAsInProgress").tooltip(options);

           {% if not credit_submission_unlocked %}
             // Complete
             options["title"] = "{% get_help_context 'complete' %}";
             $("#saveAsComplete").tooltip(options);
           {% else %}
             // Resubmit
             options["title"] = "{% get_help_context 'resubmit' %}";
             $("#saveAsResubmitted").tooltip(options);
           {% endif %}

	   // Not Pursuing
	   options["title"] = "{% get_help_context 'not_pursuing' %}";
	   $("#saveAsNotPursuing").tooltip(options);
	  </script>

	</div>
      </div>
    </div>
  </form>

  <!-- Modal -->
  <!-- <div id="unsaved-data" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="unsaved-dataLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Save your changes?</h3>
      </div>
      <div class="modal-body">
        <p id="modal-p">It looks like you have been editing this credit. If you leave before saving, any changes will be lost.</p>
        <div class="spinner"></div>
        <div class="checkmark"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success modal-stash-changes">
          Save credit as 'in progress'
        </button>
        <button class="btn modal-close-button btn-danger" aria-hidden="true">
          Continue without saving
        </button>
      </div>
  </div> -->

  <div id="new-responsible-party" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="new-responsible-party" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="rsModalLabel">Create New Responsible Party</h3>
      </div>
      <div class="modal-body">
        <p id="responsible-party-p">Please, save any changes to this credit before performing this action.</p>
        <div class="spinner"></div>
        <div class="checkmark"></div>
        <form class="form-horizontal responsible-party-form" id="{% url 'tool:manage:responsible-party-create' institution.slug %}">
            <div class="control-group required">
                <label class="control-label" for="id_first_name">First name</label>
                <div class="controls">
                  <input type="text" id="id_first_name" maxlength="32" name="first_name">
                </div>
            </div>
            <div class="control-group required">
                <label class="control-label" for="id_last_name">Last name</label>
                <div class="controls">
                  <input type="text" id="id_last_name" maxlength="32" name="last_name">
                </div>
            </div>
            <div class="control-group required">
                <label class="control-label" for="id_title">Title</label>
                <div class="controls">
                  <input type="text" id="id_title" maxlength="128" name="title">
                </div>
            </div>
            <div class="control-group required">
                <label class="control-label" for="id_department">Department</label>
                <div class="controls">
                  <input type="text" id="id_department" maxlength="128" name="department">
                </div>
            </div>
            <div class="control-group required">
                <label class="control-label" for="id_email">Email</label>
                <div class="controls">
                  <input type="text" id="id_email" maxlength="75" name="email">
                </div>
            </div>
            <div class="control-group required">
                <label class="control-label" for="id_phone">Phone</label>
                <div class="controls">
                  <input type="text" id="id_phone" maxlength="20" name="phone">
                </div>
            </div>
            <div class='modal-footer'>
                <button onclick="postResponsibleParty();" class='btn btn-primary'>
                        Save
                </button>
            </div>
        </form>
      </div>

  </div>

  <div id="data-changed"></div><!-- provide a generic way to say if data changed on the page -->
{% endblock %}
