{% extends 'tool/submissions/columned_layout.html' %}

{% load logical_rules_tags %}

{% block title %}{{ credit }} | {{ block.super}}{% endblock %}

{% load submit_tags  %}

{% block crumbs-tool %}
  {{ block.super }}
  {% show_submit_crumbs credit_submission %}
{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <script type='text/javascript'>
   expandTo = 1;
  </script>
{% endblock %}

{% block tool_content %}
  <h2>{{ credit }}</h2>

  {% with credit_submission.subcategory_submission.category_submission.submissionset as submissionset %}
    {% if submissionset.is_under_review %}
      <div class="row span8 well">
        <div class="span5">
          <h5>
            Review Conclusion: {{ credit_submission.get_review_conclusion_display }}
          </h5>
        </div>
        {% if user.is_staff and num_notations_to_send != None %}
          <div class="pull-right">
            {{ num_notations_to_send }} Notation(s) to Send
          </div>
          <div class="pull-right" style="padding-top: 5px">
            <a href="{% url 'tool:my_submission:send-credit-submission-review-notations-email' submissionset.institution.slug submissionset.id %}?next={{ request.get_full_path }}"
               class="btn btn-primary"
               data-toggle="tooltip"
               title="{{ num_notations_to_send }} Notation Email(s) to Send">
              <i class="icon-eye-open icon-white"></i>
              Preview/Send Review Notations Email
            </a>
          </div>
        {% endif %}
      </div>
    {% endif %}

    <table class='table table-striped table-bordered table-condensed'>
      <thead>
        <tr>
          <th>Status</th>
          <th>Last Updated</th>
          {% testrule institution_has_score_feature institution %}
          {% if category.include_in_score %}
              <th>Possible Points</th>
              <th>Points Earned</th>
            {% endif %}
          {% endtestrule %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {% if submissionset.is_under_review %}
              {% if not credit_submission.is_unlocked_for_review %}
                <i class="fa fa-lock fa-lg fa-fw"></i>
              {% else %}
                <i class="fa fa-unlock fa-lg fa-fw text-red" style="color:red"></i>
              {% endif %}
            {% endif %}
            {% show_status_icon credit_submission %}
          </td>
          <td>{{ credit_submission.last_updated|date:"m/d/y fA" }}</td>
          {% testrule institution_has_score_feature institution %}
            {% if category.include_in_score %}
              <td>{% format_available_points credit_submission %}</td>
              <td>
                {% ifnotequal credit_submission.assessed_points None %}
                  {{ credit_submission.assessed_points|floatformat:2 }}
                {% endifnotequal %}
              </td>
            {% endif %}
          {% endtestrule %}
        </tr>
      </tbody>
    </table>

    {% if submissionset.is_under_review %}
      {% load content %}
      <div class="alert alert-warning">
        {% display_block_content 'submission_in_review_warning' %}
      </div>
    {% endif %}

  {% endwith %}

  {% block credit_tabs %}
    {% include "tool/submissions/credit_tabs.html" %}
  {% endblock %}
  <div class='tabContent'>
    {% block tab_content %}
    {% endblock %}
  </div>
{% endblock %}
