{% extends 'tool/submissions/columned_layout.html' %}

{% block title %} {{ block.super}} | {{ credit }}{% endblock %}

{% load submit_tags  %}

{% block crumbs %} 
    {{ block.super }}
    {% show_submit_crumbs credit %}
{% endblock %}

{% block header %}{{ credit }}{% endblock %}

{% block center %}
    <table class='headed_list wide'>
        <tr>
            <td class='header' colspan='4'>Summary</td>
        </tr>
        <tr>
            <th>Status</th>
            <th>Last Updated</th>
            <th>Possible Points</th>
            <th>Points Claimed</th>
        </tr>
        <tr>
            <td>{% show_status_icon credit_submission %}</td>
            <td>{{ credit_submission.last_updated|date:"m/d/y fA" }}</td>
            <td>
                {% format_available_points credit_submission %}
            </td>
            <td>
                {% ifnotequal credit_submission.assessed_points None %}
                    {{ credit_submission.assessed_points }}
                {% endifnotequal %}
            </td>
        </tr>
    </table>

    <ul id="tabnav" {% block tabclass %}class='tab1'{% endblock %}>
		<li class="tab1">
		    <a href="{{ credit_submission.get_submit_url }}documentation/">Credit Info</a>
		    <a href="{{ credit_submission.get_submit_url }}documentation/?popup=True" target='_blank' 
		       onclick='return open_popup("{{ credit_submission.get_submit_url }}documentation/?popup=True", "Credit Guidance");'
		     ><img src='/media/static/images/new_window.gif' alt='^' title="Open Credit Info in pop-up window"></a>
		</li>
		<li class="tab2"><a href="{{ credit_submission.get_submit_url }}">Reporting Fields</a></li>
        <li class="tab3"><a href="{{ credit_submission.get_submit_url }}notes/">Internal Notes</a></li>
	</ul>
	<div id='tabcontent'>
        {% block tab_content %}
        {% endblock %}
    </div>
{% endblock %}
