{% load logical_rules_tags %}

<ul class="nav nav-tabs">
  <li class="nav-item">
  	<a href="{{ credit_submission.get_submit_url }}"
        class="nav-link {% if active == 'fields'%}active{% endif %}">
    Reporting Fields</a>
  </li>

  {% if credit_submission.credit.show_info %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {% if active == 'info' %} active{% endif %}"
         data-toggle="dropdown"
         role="button"
         href="#">
          Credit Info
        </a>
      <div class="dropdown-menu">
          <a href="{{ credit_submission.get_submit_url }}documentation/"
             class="dropdown-item">
            Open Here
          </a>
          <a href="{{ credit_submission.get_submit_url }}documentation/?popup=True"
             target='_blank'
             onclick='return open_popup("{{ credit_submission.get_submit_url }}documentation/?popup=True", "CreditInfo");'
             class='credit-info-popout dropdown-item'>
            Pop Out
          </a>
      </div>
    </li>
  {% endif %}

  <li class="nav-item">
    <a href="{{ credit_submission.get_submit_url }}notes/"
        class="nav-link {% if active == 'notes' %}
          active
        {% else %}
          {% testrule institution_is_participant institution %}
          {% else %}
            disabled
          {% endtestrule %}
        {% endif %}"
    >
      Internal Notes
    </a>
  </li>

   <li class="nav-item">
     <a href="{{ credit_submission.get_submit_url }}history/"
        class="nav-link {% if active == 'history' %}active{% endif %}"
     >
       History
     </a>
   </li>

    {% if credit_submission.subcategory_submission.category_submission.submissionset.is_under_review %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% if active == 'review' %} active{% endif %}"
           data-toggle="dropdown"
           role="button"
           href="#">
          Review
        </a>
        <div class="dropdown-menu">
            <a href="{{ credit_submission.get_submit_url }}review/"
               class="dropdown-item">
              Open Here
            </a>
            <a href="{{ credit_submission.get_submit_url }}review/?popup=True"
               class="dropdown-item"
               target='_blank'
               onclick='return open_popup("{{ credit_submission.get_submit_url }}review/?popup=True", "Review", 700, 700);'>
              Pop Out
            </a>

        </div>
      </li>
    {% endif %}
</ul>
