{% extends 'tool/submissions/columned_layout.html' %}

{% load bootstrap %}

{% block title %}
  Review Notations Email | {{ block.super}}
{% endblock %}

{% block crumbs-tool %}
  {% load submit_tags  %}
  {% show_submit_crumbs submissionset %}
{% endblock %}

{% block extra_head %}
  {% block tinymce %}
    <script type="text/javascript"
            src="{{ STATIC_URL }}tp/tinymce/js/tinymce/tinymce.min.js">
    </script>
    <script type="text/javascript">
     tinymce.init({plugins: "link paste table,",
                   tools: "inserttable",
                   convert_urls : false,
                   selector: "textarea:not(.noMCE)"});
    </script>
  {% endblock %}
{% endblock %}

{% block tool_content %}

  <h2>
    Preview/Send Review Notations Email
  </h2>

  {% include "tool/submissions/submission_summary_header.html" %}

  <form id="sendCreditSubmissionReviewNotationsForm" method="post"
        action="." class="generalForm">
    <div class="container span8" style="padding-left: 50px">
        <div class="row">
        {{ form|bootstrap }}
      </div>
      <input type="hidden" name="next" id="next"
             value="{{ next }}">
      <div class="row">
        <div class="form-actions">
          <button type="submit" id="submit_button" class="btn btn-primary">
            Send
          </button>
          <button onclick="window.history.back();"
                  class="btn btn-default">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
