{% extends 'tool/submissions/columned_layout.html' %}

{% block title %}{{ subcategory }} | {{ block.super}}{% endblock %}

{% load submit_tags %}
{% load bootstrap %}

{% block crumbs-tool %}
  {{ block.super }}
  {% show_submit_crumbs subcategory_submission %}
{% endblock %}

{% block body_onload %}
  {{ block.super }}
  enable_submit({% if submission_form.errors %}true{% else %}false{% endif %},
                false);
{% endblock %}

{% block body_beforeunload %}
  {{ block.super }}
  return before_unload_credit();
{% endblock %}

{% block tool_content %}
  <h1>{{ subcategory }}</h1>
  {% load help %}
  <p>
    {% show_help_context 'subcategory_description' 0 %}
  </p>
  <form method='post' action='.' class='form-horizontal'
        name='submission_form' onsubmit='enable_submit(false, true);'>
    {{ form|bootstrap }}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class='form-actions'>
      <button type='submit' id='submit_button'
              class='btn btn-primary{% if errors %} errors{% endif %}'>
        Save
      </button>
      <a href='javascript:window.history.back();'
         class='btn btn-default' role='button'>
        Cancel
      </a>
    </div>
  </form>
{% endblock %}
