<table class='headed_list narrow'>
    <tr>
        <td class='header' colspan='7'>
            {% if title.get_submit_url %}
                <a href='{{ title.get_submit_url }}'>{{ title }}</a> 
                {% if title.get_status %}
                    <span class='status'>({{ title.get_status }})</span>
                {% endif %}
            {% else %}
                {{ title }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Credit</th>
        <th>Status</th>
        <th>Points Claimed</th>
    </tr>
    {% load submit_tags %}
    {% for c in sub.creditusersubmission_set.all %}
        <tr>
            <td class='credit_summary'><a href='{{ c.credit.get_submit_url }}'>{{ c }}</a></td>
            <td>{% show_status_icon c %}</td>
            <td>{{ c.assessed_points }} / {% format_available_points c %}</td>
        </tr>
    {% endfor %}
</table>
