{% extends 'base_error.html' %}

{% block title %}
  Submission Locked | {{ block.super }}
{% endblock %}

{% block message_title %}
  This submission set is locked.
{% endblock %}

{% block user_message_block %}
  {% block message_content %}
    <p>
      Submission sets are locked before a migration is begun, and
      when a snapshot is taken.
    </p>
    <p>
      If someone else is migrating the submission set you're trying to
      work with, or taking a snapshot of it, waiting a few minutes
      until the submission set is unlocked, then going back and
      retrying should solve the problem.
    </p>
  {% endblock %}
{% endblock %}
