{% load logical_rules_tags %}
{% load content %}

{% if submissionset.is_under_review %}
  <div class="alert alert-warning">
    {% display_block_content 'submission_in_review_warning' %}
  </div>
{% endif %}

{% if show_migration_warning %}
  <div class='alert alert-warning'>
    You recently upgraded your submission data ({{ last_migration_date }}).
    <br/>
    As a result, your score was reset and all credits were marked as
    "In Progress."
  </div>
{% endif %}
<div class="col-11">
    {% include 'tool/submissions/submission_summary_table.html' %}
</div>
{% if not submissionset.is_under_review %}
  <div class='submissionBoundary text-center'>
        {% if submissionset.creditset.has_boundary_feature %}
        {% testrule user_has_access_level user 'admin' institution %}
          <a href="{% url 'tool:my_submission:boundary-edit' institution.slug submissionset.id %}"
             class='btn btn-warning'>
            <i class="fa fa-pencil icon-white"></i> Edit Boundary</a>
        {% endtestrule %}
        {% endif %}
      {% testrule user_can_submit_report user submissionset %}
      <a href='{{ submissionset.get_submit_url }}'
         class='btn btn-success'>
        Submit Report</a>
      {% endtestrule %}
  </div>
{% else %}  {# Submission is under review. #}
  {% if request.user.is_staff %}
    <div>
      <p style="text-align: center">
        <a href="{% url 'tool:my_submission:submission-review-summary' submissionset.institution.slug submissionset.id %}"
           class="btn btn-warning" style="color: black">
          <i class="fa fa-folder"></i>
          Review Summary
        </a>
        <a href="{% url 'tool:my_submission:send-credit-submission-review-notations-email' submissionset.institution.slug submissionset.id %}?next={{ request.get_full_path }}"
           class="btn btn-primary"
           data-toggle="tooltip"
           title="{{ num_notations_to_send }} Notation Email(s) to Send">
          <i class="fa fa-eye icon-white"></i>
          Preview/Send Review Notations Email
        </a>
        <a href="{% url 'tool:my_submission:approve-submission' submissionset.institution.slug submissionset.id %}"
           class="btn btn-success">
          <i class="fa fa-thumbs-up icon-white"></i>
          Approve Submission
        </a>
      </p>
    </div>
  {% endif %}
{% endif %}
