{% load submit_tags %}

{% if submission_form.non_field_errors %}
  <div class="alert alert-error">
    {{ submission_form.non_field_errors }}
  </div>
{% endif %}
{% if submission_form.warnings %}
  <div class="alert alert-warning">
    <a class="close" data-dismiss="alert">&times;</a>
    {{ submission_form.warnings }}
  </div>
{% endif %}
{% with "tool/submissions/tags/tabular_field.html" as field_template %}
  {% for documentation_field in credit.get_nested_documentation_fields %}
    <div class='documentationField'>
      {% if submissionset != None %}
        {% show_submission_form_for_field documentation_field submission_form submissionset %}
      {% else %}
        {% show_submission_form_for_field documentation_field submission_form %}
      {% endif %}
    </div>
  {% endfor %}
{% endwith %}
