{% extends "tool/base.html" %}

{% block crumbs %} 
    {{ block.super }} >
    <a href='/tool/submissions/'>{{ active_submission }}</a> >
    Submit
{% endblock %}

{% block tool_content %}
    <h1>Submit for a STARS Rating: Step 1 of 2</h1>
    {% include 'tool/submissions/submission_summary_table.html' %}
    <p>
        Please review your data to make sure everything is complete and there are no errors.<br/>
        All Credits that are marked as "In Progress" will be marked "Not Pursuing".
    </p>
    <div class='required'>
        <span class="required_note" title="This field is required to complete credit">*</span>
        Required Fields<br/>
    </div>
    <form class='generalForm' method='post' action='.'>
        <table>
            {% include "helpers/label_above_input_form.html" %}
        </table>
        {% if credit_list %}
        The following credits are marked as "In Progress" and will be updated to "Not Pursuing":
        <div style='width: 600px;height: 200px;overflow: auto;border: 1px solid #aaa;padding: 1px;'>
            <table style='border-collapse: collapse;width: 98%;'>
                {% for credit in credit_list %}
                <tr{% ifchanged credit.subcategory_submission %} style='border-top: 1px solid #aaa;'{% endifchanged %}>
                    <td>
                        <a href='{{ credit.credit.get_submit_url }}'>{{ credit }}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        <p>
            If you are satisfied with the information above, please continue.
        </p>
        <div class='button_row'>
            <button type='button' onclick='document.location="/tool/submissions/";'>&lt;&lt; Back</button>
            <button type='submit'>Next &gt;&gt;</button>
        </div>
    </form>
{% endblock %}
