{% extends "tool/base.html" %}

{% block crumbs %} 
    {{ block.super }} >
    <a href='/tool/submissions/'>{{ active_submission }}</a> >
    Submit
{% endblock %}

{% block tool_content %}
	<h1>Submit for a STARS Rating</h1>
	{% include 'tool/submissions/submission_summary_table.html' %}
	<form class='generalForm' method='post' action='.' enctype="multipart/form-data">
	<p>
		Ready to finalize your submission?
		Please review your data to make sure everything is complete and there are no errors.
		Once you choose to submit, your submission will be made public and you will not be able to modify it.
	</p>
		<table>
			{% include "helpers/label_above_input_form.html" %}
		</table>
		<div class='button_row'>
			<button type='submit'>Submit</button>
		</div>
	</form>
{% endblock %}
