{% load aashe_rules_tags %}
{% load help %}

<table class='statusTable' cellspacing='0'>
    <tr>
        <th>
          STARS Version
        </th>
        {% testrule institution_has_score_feature user.current_inst %}
        <th>
        	Provisional STARS Rating
        	{% show_help_context 'provisional_rating' %}
        </th>
        <th>Provisional Score</th>
        {% endtestrule %}
        <th>Export</th>
    </tr><tr>
        <td>
          {{ active_submission.creditset.version }}
          {% testrule user_can_migrate_submission user active_submission %}
            {% if latest_creditset.version != active_submission.creditset.version %}
              <br/>
              <a href='/tool/manage/migrate/' style='text-decoration: none;'>
                <img src='/media/static/images/arrow_right.png' alt='' style='vertical-align: middle;'/>
                Move to {{ latest_creditset }}
              </a>
            {% endif %}
          {% endtestrule %}
        </td>
        {% testrule institution_has_score_feature user.current_inst %}
        <td>
            {{ active_submission.get_STARS_rating }}
         </td>
        <td>
            {{ active_submission.get_STARS_score|floatformat:2 }}
        </td>
        {% endtestrule %}
    	<td>
          {% testrule institution_has_export active_submission.institution %}
    		<a href='{{ active_submission.get_scorecard_url }}pdf/'
    		{% if active_submission.status != 'r' or not active_submission.pdf_report %}
    		onclick="return confirm('This export could take a minute or two, please be patient.');"
    		{% endif %}
    		target='_blank'>
    			PDF
    		</a>
          {% else %}
            {% include "tool/participant_only_snippet.html" %}
          {% endtestrule %}
    	</td>
    </tr>
</table>