{% extends 'cms/base.html' %}

{% block crumbs %}
    {% load cms_tags %}
    {% show_cms_crumbs category %}
{% endblock %}

{% block center %}
      <h1>{{ category.label }}</h1>
      {% if category.description %}
         <p>{{ category.description|safe }}</p>
      {% endif %}
      <ul id="article-list">
      {% for article in article_list %}
        <h3><table><tr>
            <td><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></td>
            <td>{% if user.is_staff %}
                   <a href="{{ article.get_edit_url }}" target="_blank"><img src='/media/static/images/page_edit.png'></a>
                {% endif %}</td>
            </tr></table>
        </h3>
        <blockquote> {{ article.teaser|safe }} </blockquote>
        <hr>
      {% endfor %}
      </ul>
{% endblock %}
