{% extends "cms/base.html" %}
{% load cms_tags %}

{% load cache %}

{% block center %}

        {% cache 86400 cms_article article article.timestamp user.is_staff %}
    {% block innertabcontent %}
      <div class='inner'>
        <h1>
                {{ article.title }}
                {% if user.is_staff %}
                                <a href="{{ article.get_django_admin_url }}" target="_blank">
                                        <i class='icon-edit'></i>
                                </a>
            {% endif %}
        </h1>
        {{ article.content|safe }}
      </div>
    {% endblock %}
    {% endcache %}
        
{% endblock %}
