{% load cms_tags sekizai_tags %}
{% load compress %}
<html lang="en">
<head>
  <link rel="shortcut icon" href="{{ STATIC_URL }}images/stars_favicon.ico" type="image/x-icon" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <meta name="description" content="STARS is a transparent, self-reporting framework for colleges and universities to gauge relative progress toward sustainability." />
  <meta name="keywords" content="STARS, AASHE, AASHE STARS, reporting, sustainability, colleges, universities, STARS Report, STARS Technical Manual" />

  {% render_block "css" %}
  {% addtoblock "css" %}
  {% compress css %}
  <link rel="stylesheet"  href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
  <link rel="stylesheet"  href="{{ STATIC_URL }}fonts/dejavu-sans/stylesheet.css">
  <link rel="stylesheet" href="{{  STATIC_URL  }}css/base.css">
  <link rel="stylesheet" href="{{  STATIC_URL  }}css/facelift.css">
  {% endcompress %}
  {% endaddtoblock %}


  <title>
    {% block title %}AASHE STARS{% endblock %}
  </title>

  {% include "helpers/google_analytics.html" %}
  {% block extra_head %}{% endblock %}
  {% block extra_style %}{% endblock %}

</head>


<body class="html" >
  {% cms_toolbar %}
  {% placeholder base_content %}
  {% block base_content %}
  {% endblock %}

  <div class="container">

    <div class="row top-nav">
      <div class="span7 aashe-tabs">
        <a href='http://www.aashe.org/' class='left'><strong>aashe</strong></a>
        <a href='http://stars.aashe.org/' class='left'><strong>stars</strong></a>
        <a href='http://www.aashe.org/conference' class='left'><strong>conference</strong></a>
        <a href='http://commons.aashe.org' class='left'><strong>commons</strong></a>
      </div>

      <div style="float: right;">
        {% block top_menu %}
        {% include 'helpers/top_menu.html' %}
        {% endblock %}
      </div>
    </div>

    <div class="row header">

      <div class="span3">
        <ul class="thumbnails">
          <li>
            <a href='/'><img src="{{ STATIC_URL }}images/stars_logo.png" width='180px' /></a>
          </li>
        </ul>
      </div>

      <div class="span5 message" style="padding: 125px 0 0 0; font-family: aller, arial;">
        The Sustainability Tracking, Assessment &amp; Rating System™ (STARS) is a transparent, self-reporting framework for colleges and universities to measure their sustainability performance.
      </div>


      <div class="span2 offset2">
        <div class="tab-wrap social-tabs">
          <ul class="tab-nav">
            <li id="tweet-tab"><a href="http://www.twitter.com/aasheconference">Twitter</a></li>
            <li id="fbook-tab"><a href="http://www.facebook.com/aasheorg">Facebook</a></li>
            <li id="flickr-tab"><a href="http://www.flickr.com/photos/aashe">Flickr</a></li>
          </ul>
        </div>
      </div>

    </div> <!-- end header -->

    <div class="row">
      <div class="span12">
        <div class="navbar">
          <div class="navbar-inner">
            {% block main_menu %}
            {% include 'helpers/main_menu.html' %}
            {% endblock %}<form class="search-form navbar-search pull-right" action="/2013/search/node" method="post" id="-twitter-bootstrap-search-form" accept-charset="UTF-8"><div><div class="control-group form-type-textfield form-item-keys">
            <div class="controls"> <input class="search-query span2 form-text" placeholder="Search" type="text" id="edit-keys" name="keys" value="" size="40" maxlength="255" />
            </div></div>
            <input type="hidden" name="form_build_id" value="form-YzuaaYOBKg9O9hi4nABheT2TSeXUuQmFbOdgb_z8E0c" />
            <input type="hidden" name="form_id" value="_twitter_bootstrap_search_form" />
          </div></form>          </div>
        </div>
      </div>
    </div>

    <div class="row">



      <section class="span12">
        {% block crumbs %}{% endblock %}

        <a id="main-content"></a>

        {% block content %}
        {% endblock content %}

      </section>

    </article> <!-- /.node -->


  </div>

  <div class="row footer">

    <div class="span12">
      <div class="hero-unit">
        <h2>Partner logos go here.</h2>
      </div>
    </div>

  </div>

  <div id="footer-message" class="row">
    <div class="span6">
      &copy;2013 <a href='http://www.aashe.org'>Association for the Advancement of Sustainability in Higher Education</a><br/>
      1536 Wynkoop St., Suite 100, Denver CO 80202 - t: 303.395.1331 x111 <br />
      <strong>Remittance Address: PO Box 824583, Philadelphia, PA 19182-4583</strong>
    </div>
    <div class='bottom-menu span4 offset2'>
      <a href='http://www.aashe.org/about/contact.php'>Contact Us</a> |
      <a href='http://www.aashe.org/privacy-policy'>Privacy Policy</a> |
      <a href='http://www.aashe.org/'>AASHE Home</a>
    </div>
  </div>

</div>

</div> <!-- container -->

  {% render_block "js" %}
  {% addtoblock "js" %}
  {% compress js %}
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <script src="{{ STATIC_URL }}bootstrap/js/jquery.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/include.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/new_include.js" type="text/javascript"></script>
  <script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-1056760-17']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

<script type="text/javascript">
var _sf_async_config={};
/** CONFIGURATION START **/
_sf_async_config.uid = 22656;
_sf_async_config.domain = "conference.aashe.org"; /** CHANGE THIS **/
/** CONFIGURATION END **/
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement("script");
    e.setAttribute("language", "javascript");
    e.setAttribute("type", "text/javascript");
    e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != "function") ?
  loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();
{% endcompress %}
</script>
  {% endaddtoblock %}
</body>
</html>
