{% extends 'base.html' %}

{% block title %}
	{% if article %}{{ article }} |{% endif %}
	{% if subcategory %}{{ subcategory }} |{% endif %}
	{{ category }} |
	{{ block.super }}
{% endblock %}

{% block main_menu %} 
	{% load cache %}
	{% cache 86400 main_menu category %}
		{% with selected=category.slug %}
	    	{% include 'helpers/main_menu.html' %}
	    {% endwith %}
   	{% endcache %}
{% endblock %}

{% block crumbs %}
	{% include "cms/crumbs.html" %}
{% endblock %}

{% block content %}
	
	<div class='row'>
		<div class='span4'>
			{% if user.is_staff %}
				<p style='text-align: center' />
					<a href='/_ad/cms/' target='_blank'>
						<i class="icon-plus"></i>
						Add Content
					</a>
				</p>
			{% endif %}
			{% load cache %}
			{% cache 86400 cms_left_menu article subcategory category category.timestamp %}
				{% include 'cms/left_menu.html' %}
			{% endcache %}
		</div>
		<div class='span8'>
			{% block center %}{% endblock %}
		</div>
	</div>
	
{% endblock %}
