{% extends 'tool/admin/payments/base.html' %}

{% block crumbs %} {{ block.super }} &gt; <a href='{{ institution.get_admin_payments_url }}'>{{ institution }}</a> {% endblock %}

{% block payment_content %}
    <h1> Payments: {{ institution }}</h1>
    {% with user.is_staff as show_admin_tools %}
        {% include 'tool/manage/payment_list.html' %}
    {% endwith %}
    
    {% if user.is_staff %}
	    <div class='new_form collapsed'>
	        <span style='cursor: pointer' onclick='expand_collapse_parent(this);' title='Add Payment'>
	            <img src='/media/static/images/expand.png' title='Add Payment' alt='+' />
	            Add Payment
	        </span>
            {% if new_payment_form %}
		        <form action='{{ new_payment_url }}' method='POST' style='margin: 0px;'>
			      <table class='form'>
	                {{ new_payment_form }}
			        <tr>
			            <td class='buttonRow'>
		                  <input type='submit' value='submit' />
		                </td>
		            </tr>
		          </table>
		        </form>
            {% else %}
               <div>You must <a href='{{institution.get_masquerade_url}}?redirect=/tool/manage/submissionsets/'>add</a> a submission set for this institution before you can create a payment.</div>
		    {% endif %}
	    </div>
    {% endif %}
{% endblock %}

