{% extends 'tool/admin/payments/base.html' %}

{% block crumbs %} {{ block.super }} &gt; <a href='{{ payment.submissionset.institution.get_admin_payments_url }}'>{{ payment.submissionset.institution }}</a> &gt; {{ title }} {% endblock %}

{% block payment_content %}
    <h2>{{ title }}: {{ payment.submissionset.institution }}</h2>
    <form method='post' action='.' class='form'>
    	{{ object_Form }}
        {% include 'helpers/standard_form.html' %}
		<div class='form-actions'>
                <button type='submit' class='btn btn-primary'>Save Payment</button>
                <!-- <button type='button' class='btn' onclick='document.location="{{ object_form.instance.get_delete_url }}";'>Delete</button> -->
		</div>
    </form>
{% endblock %}
