{% extends 'tool/admin/payments/base.html' %}

{% block admin_content %}
    <h1>Latest Payments</h1>
    <div class='help_note'> <span class='help_text'>
      <p>Lists most recent payment for institutions with an active submission in STARS.</p>
      <ul>
        <li>Click institution name to view / edit / add / manage payments for this insititution.</li>
        <li>Use the payment tools to add and edit payment details.</li>
      </ul>
    </span></div>
    <table id="institutionList" cellspacing='0'>
        <tr><th colspan=2 rowspan=2>Institution</th><th colspan=3>Submission Set</th><th colspan=5 rowspan=2>Latest Payment</th>
        <tr><th>Version</th><th>Registered</th><th>Due</th></tr>
	    {% for payment in payment_list %}
	      {% with payment.submissionset.institution as institution %}
	      <tr{% cycle ' class="odd"' ''%}>
	        <td>
	            {{ forloop.counter }}
	        </td>
	        <td>
              <a href='{{ institution.get_admin_payments_url }}'>{{ institution }}</a>
              {% if not institution.enabled %}
                <span title="This institution is not enabled!"><font color='red'>*</font></span>
              {% endif %}
            </td>
            {% if payment.submissionset %}
                <td style='font-size:0.8em'>({{ payment.submissionset.creditset }})</td>
                <td style='font-size:0.8em'>{{ payment.submissionset.date_registered }}</td>
                <td style='font-size:0.8em'>({{ payment.submissionset.submission_deadline }})</td>
            {% else %}
              <td colspan='3' align='center'>-</td>
            {% endif %}
            {% if payment %}
                <td style='text-align:right'> {{ payment.reason }} : </td>
                <td style='font-size:0.8em'>({{ payment.date }})</td>
                <td>
                    <strong>${{ payment.amount|floatformat:2 }}</strong>
                </td>
                <td>
                    {% ifequal payment.type 'later' %}
                        <img src='/media/static/images/cross.png' title='Awaiting payment from this Institution'>
                    {% endifequal %}
                    {% ifequal payment.type 'credit' %}
                        <img src='/media/static/images/creditcards.png' title='Institution paid by credit'>
                    {% endifequal %}
                    {% ifequal payment.type 'check' %}
                        <img src='/media/static/images/check.png' title='Institution paid by check'>
                    {% endifequal %}
                </td>
			    <td class='buttonColumn'>
			      <a href='{{ payment.get_edit_url }}'>
			          <img src='/media/static/images/page_edit.png' alt='edit' title='edit latest payment' />
			      </a>
                  <a href='{{ payment.submissionset.get_add_payment_url }}'>
                      <img src='/media/static/images/add.png' alt='add' title='add new payment' />
                  </a>
			    </td>
            {% else %}
              <td colspan='5' align='center'>---</td>
            {% endif %}
          </tr>
          {% endwith %}
	    {% endfor %}
      </table>
{% endblock %}