{% extends 'tool/admin/base.html' %}

{% block title %} {{ block.super }} | Payments{% endblock %}

{% block crumbs %} {{ block.super }} &gt; <a href='/tool/admin/payments/'>Payments</a>{% endblock %}

{% block tabclass %}class='tab2'{% endblock %}

{% block admin_content %}
    <h1>Registration Payments</h1>
    <table id="institutionList" cellspacing='0'>
        <tr>
            <th></th>
            <th>Institution</th>
            <th colspan='2'>Registered</th>
            <th colspan='4'>Payment</th>
        </tr>
	    {% for institution in institution_list %}
	      <tr{% cycle ' class="odd"' ''%}>
	        <td>
	            {{ forloop.counter }}
	        </td>
	        <td>
              <a href='{{ institution.payment.get_edit_url }}'>{{ institution }}</a>
              {% if not institution.enabled %}
                <span title="This institution is not enabled!"><font color='red'>*</font></span>
              {% endif %}
            </td>
            {% if institution.submission_set %}
                <td style='padding-left:20px'> {{ institution.submission_set.date_registered }} </td>
                <td> ({{ institution.submission_set }}) </td>
            {% else %}
              <td colspan='2' align='center'> - </td>
            {% endif %}
            {% if institution.payment %}
                <td style='padding-left:20px'> {{ institution.payment.date.date}}</td>
                <td>
                    <strong>${{ institution.payment.amount|floatformat:2 }}</strong>
                </td>
                <td>
                    {% ifequal institution.payment.type 'later' %}
                        <img src='/media/static/images/cross.png' title='Awaiting payment from this Institution'>
                    {% endifequal %}
                    {% ifequal institution.payment.type 'credit' %}
                        <img src='/media/static/images/creditcards.png' title='Institution paid by {{ institution.payment.type }}'>
                    {% endifequal %}
                    {% ifequal institution.payment.type 'check' %}
                        <img src='/media/static/images/check.png' title='Institution paid by {{ institution.payment.type }}'>
                    {% endifequal %}
                </td>
                <td>
                    <a href='{{ institution.payment.get_edit_url }}'>edit</a>
                </td>
            {% else %}
              <td colspan='4' align='center'>---</td>
            {% endif %}
          </tr>
	    {% endfor %}
      </table>
{% endblock %}