{% extends 'tool/admin/payments/base.html' %}

{% block crumbs %} {{ block.super }} &gt; <a href='{{ payment.submissionset.institution.get_admin_payments_url }}'>{{ payment.submissionset.institution }}</a> &gt; Send Receipt {% endblock %}

{% block payment_content %}
    <h2>
        Send receipt to the STARS Liaison for {{ payment.submissionset.institution }}:
    </h2>
    <br/>
    <table>
        <tr>
            <th style='text-align: right'>To:</th>
            <td>{{ payment.submissionset.institution.contact_email }}</td>
        </tr>
        <tr>
            <th style='text-align: right'>Subject:</th>
            <td>{{ subject }}</td>
        </tr>
    </table>
<hr/>
<pre>
{{ message }}
</pre>
<hr/>
    <form method='post' action='.'>
      <table class='form'>
        {% include 'helpers/standard_form.html' %}
        <tr>
            <td class='buttonRow'>
                <button type='submit'>Confirm</button>
            </td>
        </tr>
      </table>
    </form>
{% endblock %}
